<?php

namespace App\Console\Commands;

use Illuminate\Console\Command;
////
use Maatwebsite\Excel\Facades\Excel;
use Illuminate\Support\Facades\Storage;
//
use App\Imports\first\FirstCategoryImport;
use App\Imports\first\FirstTagImport;
use App\Imports\first\FirstFeatureImport;
use App\Imports\first\FirstDetailImport;
use App\Imports\first\FirstItemImport;
use App\Imports\first\FirstServiceImport;
use App\Imports\first\FirstFaqImport;
use App\Imports\first\FirstLegoImport;
use App\Imports\first\FirstProductImport;
//
use App\Imports\GroupImport;
use App\Imports\TagImport;
use App\Imports\FeatureImport;
use App\Imports\DetailImport;
use App\Imports\CategoryImport;
use App\Imports\LandingImport;
use App\Imports\PostImport;
use App\Imports\PaperImport;
use App\Imports\ItemImport;
use App\Imports\SmsImport;
use App\Imports\FaqImport;
use App\Imports\LegoImport;
use App\Imports\ProductImport;
//
use App\Imports\child\TelegramImport;
use App\Imports\child\ServiceImport;
//
// use App\Imports\CommentsImport;
// use App\Imports\CommentsPaperImport;
//
use App\Imports\pivot\Category\CategoryFaqImport;
use App\Imports\pivot\Category\CategoryItemImport;
use App\Imports\pivot\Category\CategoryLegoImport;
use App\Imports\pivot\Category\CategoryServiceImport;
use App\Imports\pivot\Category\CategoryTagImport;
use App\Imports\pivot\Faq\FaqCategoryImport;
use App\Imports\pivot\Faq\FaqFaqImport;
use App\Imports\pivot\Faq\FaqGroupImport;
use App\Imports\pivot\Faq\FaqTagImport;
use App\Imports\pivot\Item\ItemCategoryImport;
use App\Imports\pivot\Item\ItemFaqImport;
use App\Imports\pivot\Item\ItemItemImport;
use App\Imports\pivot\Item\ItemTagImport;
use App\Imports\pivot\Landing\LandingFaqImport;
use App\Imports\pivot\Landing\LandingItemImport;
use App\Imports\pivot\Landing\LandingTagImport;
use App\Imports\pivot\Paper\PaperFaqImport;
use App\Imports\pivot\Paper\PaperItemImport;
use App\Imports\pivot\Paper\PaperTagImport;
use App\Imports\pivot\Paper\PaperCategoryImport;
use App\Imports\pivot\Service\ServiceFaqImport;
use App\Imports\pivot\Service\ServiceItemImport;
use App\Imports\pivot\Service\ServiceTagImport;
use App\Imports\pivot\Service\ServiceCategoryImport;
use App\Imports\pivot\Lego\LegoGroupImport;
use App\Imports\pivot\Lego\LegoTagImport;
use App\Imports\pivot\Lego\LegoCategoryImport;
// use App\Imports\pivot\PostTagImport;
// use App\Imports\pivot\SmsCategoryImport;
// use App\Imports\pivot\SmsTagImport;


class ImportExcelCommand extends Command
{

    // php artisan excel:import
    
    protected $signature = 'excel:import';
    protected $description = 'Get data from excel';


    public function __construct()
    {
        parent::__construct();
    }

    public function handle()
    {
        ini_set('memory_limit', '-1');
        
        // dd(Storage::get(storage_path('app/Excel/Categories.xlsx')));
        Excel::import(new FirstCategoryImport, storage_path('app/Excel/Categories.xlsx'));
        Excel::import(new FirstTagImport, storage_path('app/Excel/Tags.xlsx'));
        Excel::import(new FirstFeatureImport, storage_path('app/Excel/Features.xlsx'));
        Excel::import(new FirstDetailImport, storage_path('app/Excel/Details.xlsx'));
        Excel::import(new FirstItemImport, storage_path('app/Excel/Items.xlsx'));
        Excel::import(new FirstServiceImport, storage_path('app/Excel/child/Services.xlsx'));
        Excel::import(new FirstFaqImport, storage_path('app/Excel/Faq.xlsx'));
        Excel::import(new FirstLegoImport, storage_path('app/Excel/Lego.xlsx'));
        Excel::import(new FirstProductImport, storage_path('app/Excel/Products.xlsx'));
        //
        Excel::import(new GroupImport, storage_path('app/Excel/Groups.xlsx'));
        Excel::import(new CategoryImport, storage_path('app/Excel/Categories.xlsx'));
        Excel::import(new TagImport, storage_path('app/Excel/Tags.xlsx'));
        Excel::import(new FeatureImport, storage_path('app/Excel/Features.xlsx'));
        Excel::import(new DetailImport, storage_path('app/Excel/Details.xlsx'));
        Excel::import(new LandingImport, storage_path('app/Excel/Landings.xlsx'));
        Excel::import(new PostImport, storage_path('app/Excel/Posts.xlsx'));
        Excel::import(new PaperImport, storage_path('app/Excel/Papers.xlsx'));
        Excel::import(new ItemImport, storage_path('app/Excel/Items.xlsx'));
        Excel::import(new SmsImport, storage_path('app/Excel/Sms.xlsx'));
        Excel::import(new FaqImport, storage_path('app/Excel/Faq.xlsx'));
        Excel::import(new LegoImport, storage_path('app/Excel/Lego.xlsx'));
        Excel::import(new ProductImport, storage_path('app/Excel/Products.xlsx'));
        //
        Excel::import(new TelegramImport, storage_path('app/Excel/child/Telegrams.xlsx'));
        Excel::import(new ServiceImport, storage_path('app/Excel/child/Services.xlsx'));
        //
        //
        Excel::import(new CategoryFaqImport, storage_path('app/Excel/pivot/CategoryFaqs.xlsx'));
        Excel::import(new CategoryItemImport, storage_path('app/Excel/pivot/CategoryItems.xlsx'));
        Excel::import(new CategoryLegoImport, storage_path('app/Excel/pivot/CategoryLego.xlsx'));
        Excel::import(new CategoryServiceImport, storage_path('app/Excel/pivot/CategoryServices.xlsx'));
        Excel::import(new CategoryTagImport, storage_path('app/Excel/pivot/CategoryTags.xlsx'));
        Excel::import(new FaqCategoryImport, storage_path('app/Excel/pivot/FaqCategories.xlsx'));
        Excel::import(new FaqFaqImport, storage_path('app/Excel/pivot/FaqFaqs.xlsx'));
        Excel::import(new FaqGroupImport, storage_path('app/Excel/pivot/FaqGroups.xlsx'));
        Excel::import(new FaqTagImport, storage_path('app/Excel/pivot/FaqTags.xlsx'));
        Excel::import(new ItemCategoryImport, storage_path('app/Excel/pivot/ItemCategories.xlsx'));
        Excel::import(new ItemFaqImport, storage_path('app/Excel/pivot/ItemFaqs.xlsx'));
        Excel::import(new ItemItemImport, storage_path('app/Excel/pivot/ItemItems.xlsx'));
        Excel::import(new ItemTagImport, storage_path('app/Excel/pivot/ItemTags.xlsx'));
        Excel::import(new LandingFaqImport, storage_path('app/Excel/pivot/LandingFaqs.xlsx'));
        Excel::import(new LandingItemImport, storage_path('app/Excel/pivot/LandingItems.xlsx'));
        Excel::import(new LandingTagImport, storage_path('app/Excel/pivot/LandingTags.xlsx'));
        Excel::import(new PaperFaqImport, storage_path('app/Excel/pivot/PaperFaqs.xlsx'));
        Excel::import(new PaperItemImport, storage_path('app/Excel/pivot/PaperItems.xlsx'));
        Excel::import(new PaperTagImport, storage_path('app/Excel/pivot/PaperTags.xlsx'));
        Excel::import(new PaperCategoryImport, storage_path('app/Excel/pivot/PaperCategories.xlsx'));
        Excel::import(new ServiceFaqImport, storage_path('app/Excel/pivot/ServiceFaqs.xlsx'));
        Excel::import(new ServiceItemImport, storage_path('app/Excel/pivot/ServiceItems.xlsx'));
        Excel::import(new ServiceTagImport, storage_path('app/Excel/pivot/ServiceTags.xlsx'));
        Excel::import(new ServiceCategoryImport, storage_path('app/Excel/pivot/ServiceCategories.xlsx'));
        Excel::import(new LegoGroupImport, storage_path('app/Excel/pivot/LegoGroups.xlsx'));
        Excel::import(new LegoTagImport, storage_path('app/Excel/pivot/LegoTags.xlsx'));
        Excel::import(new LegoCategoryImport, storage_path('app/Excel/pivot/LegoCategories.xlsx'));

    }
}