@charset "UTF-8";

.Form {
    // .CheckTrigger input:read-only {
    //     cursor: pointer;
    // }

    .Sms .OnOff {
      padding-bottom: 7px;
    }

    .Sms .OnOff.on {
      margin-bottom: 0;
      padding-bottom: 14px;
    }
    
    ._shell > input {
      max-width: calc(100% - 2rem);
    }

    input#slug{
      max-width: calc(100% - 2.5rem);
      border-left: transparent !important;
      border-right: transparent !important;
    }
}
