@charset "UTF-8";

.select2-selection__choice__remove {
    padding-right: 2px;
    font-size: 14px;
}

.select2-container--default .select2-results > .select2-results__options {
    padding:2px 0;
}

.select2-container--default .select2-results__option {
    border-radius:0;
    padding-left: 7px;
}

.Select.x-js {
    --x-Form-lineHeight:39px;
}

.select2-results ul{
    --ulol-font:var(--font);
}
 