@charset "UTF-8";

.blockquote {
	--x-Ico: var(--Ico);
	--x-left: -2rem;
	position: relative;
}

.blockquote blockquote::before {
	content: '';
	position: absolute;
	left: var(--x-left);

	width: var(--x-Ico);
	height: var(--x-Ico);
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewBox='0 0 16 16'%3e%3cpath d='M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 9 7.558V11a1 1 0 0 0 1 1h2Zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 3 7.558V11a1 1 0 0 0 1 1h2Z'%3e%3c/path%3e%3c/svg%3e");
}

.blockquote.vol-2 {
	--x-Ico: calc(var(--Ico)*2);

	blockquote {
		padding-left: calc(var(--x-Ico) + 1rem);
	}

	blockquote::before {
		left: .5rem;
		opacity: .9;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='-1 -2 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.76562 2.4375H2.51562C1.5 2.4375 0.6875 3.27539 0.6875 4.26562V7.10938C0.6875 8.125 1.5 8.9375 2.51562 8.9375H3.9375V9.14062C3.9375 9.72461 3.48047 10.1562 2.92188 10.1562H2.71875C2.0332 10.1562 1.5 10.7148 1.5 11.375V12.5938C1.5 13.2793 2.0332 13.8125 2.71875 13.8125H2.92188C5.48633 13.8125 7.59375 11.7305 7.59375 9.14062V4.26562C7.59375 3.27539 6.75586 2.4375 5.76562 2.4375ZM6.375 9.14062C6.375 11.0449 4.82617 12.5938 2.92188 12.5938H2.71875V11.375H2.92188C4.14062 11.375 5.15625 10.3848 5.15625 9.14062V7.71875H2.51562C2.16016 7.71875 1.90625 7.46484 1.90625 7.10938V4.26562C1.90625 3.93555 2.16016 3.65625 2.51562 3.65625H5.76562C6.0957 3.65625 6.375 3.93555 6.375 4.26562V9.14062ZM13.4844 2.4375H10.2344C9.21875 2.4375 8.40625 3.27539 8.40625 4.26562V7.10938C8.40625 8.125 9.21875 8.9375 10.2344 8.9375H11.6562V9.14062C11.6562 9.72461 11.1992 10.1562 10.6406 10.1562H10.4375C9.75195 10.1562 9.21875 10.7148 9.21875 11.375V12.5938C9.21875 13.2793 9.75195 13.8125 10.4375 13.8125H10.6406C13.2051 13.8125 15.3125 11.7305 15.3125 9.14062V4.26562C15.3125 3.27539 14.4746 2.4375 13.4844 2.4375ZM14.0938 9.14062C14.0938 11.0449 12.5449 12.5938 10.6406 12.5938H10.4375V11.375H10.6406C11.8594 11.375 12.875 10.3848 12.875 9.14062V7.71875H10.2344C9.87891 7.71875 9.625 7.46484 9.625 7.10938V4.26562C9.625 3.93555 9.87891 3.65625 10.2344 3.65625H13.4844C13.8145 3.65625 14.0938 3.93555 14.0938 4.26562V9.14062Z' fill='currentColor'%3e%3c/path%3e%3c/svg%3e");
	}
}

@media (min-width:@w-menu-2-plus) and (max-width:@w-max) {
	.Medium .blockquote.vol-2 {
		blockquote::before {
			left: calc(var(--x-Ico) + .5rem);
		}
	}
}




.blockquote.vol-center {
	text-align: center;

	blockquote::before {
		left: 0;
		right: 0;
		bottom: 100%;
		width:auto;
	}
}
