@charset "UTF-8";


#Table_index {
    .children.-lvl_1 {
        .item ._l {
            padding-left: 2rem;
        }
    }
}


.space-02081055 {
    padding: 5px;
}

#body.asideClose {
    .space-02081055 {
        padding: 3px;
    }   
}