@charset "UTF-8";

@shadow-input_1: 1px 1px 3px -1px rgba(0, 0, 0, 0.1);
@shadow-input_2: 1px 1px 3px -1px rgba(0, 0, 0, 0.4);
//
@shadow-btn: 0 0 0 1px rgba(0, 0, 0, .05), 0 1px 0 1px rgba(0, 0, 0, .05),0 4px 6px 0 rgba(0, 0, 0, .05);
//
@shadow-0512:rgba(125, 143, 179, 0.15);
@shadow-0512-lite:rgba(125, 143, 179, 0.05);
@shadow-2208:rgba(125, 143, 179, 0.1);
@shadow-wagon:rgba(48, 52, 59, .07);


@media (min-width: @w-menu-2-plus) and (max-width: @w-max) {

 

	
}

@media (min-width: @w-menu-2-plus) and (max-width: @metrika-80) {
 
}


@media (min-width: @w-menu-2-plus) and (max-width: @w-beyond) {
 
}




@media screen and (max-width: @w-menu-2) {
 
}
