@charset "UTF-8";

.Gardener {
	--x-Gardener-w:calc(var(--Ico)*1.25);
	--x-Gardener-h:calc(var(--Ico)*1.0);
	
	//
	.Field {
		--x-Field-color-1:#eee;
		--x-Field-color-2:#f5f5f5;
		//
		--x-Field:5px;

		position: relative;
	}
}


.Gardener {
	overflow-y: hidden;
}

.-Gardener.Off .Gardener,
.Gardener.Off {
	max-height: 100px;
}