@charset "UTF-8";


@media (min-width: @w-beyond-plus) and (max-width: @w-max) {

    .Reg.x-feedback {
        ._S {
            .content.family-2 {
                padding-left:1rem;
            }
        }
    }

    .menu.x-feedback>li {
        margin-bottom: 0.5rem;
    }

    .menu.x-feedback>li a {
        padding: 0.5rem 1rem;
    }
}


@media (min-width: @w-menu-2-plus) and (max-width: @w-beyond) {
    .menu.x-feedback {
        --rem-h-min:var(--fontMenu);
    }
}

 


// @media (min-width: 800px) and (max-width: 1360px) {
//     .Roll_80.x-menuFeedback {
//         justify-content: center;
//     }

//     .menu.x-feedback {
//         --x-menu-margin-li: 0.5rem;
//     }
// }

// @media screen and (max-width: 799px) {
//     .menu.x-feedback {
//         --x-cross: 0.5rem;
//         --fontMenu: var(--font-min);
//     }
// }