<?php

namespace App\Http\Controllers\ADMIN\_sherpa\Excel;

use App\Http\Controllers\Controller;
////
use Maatwebsite\Excel\Facades\Excel;
//

use App\Exports\GroupExport;
use App\Exports\TagExport;
use App\Exports\CategoryExport;
use App\Exports\LandingExport;
use App\Exports\PostExport;
use App\Exports\PaperExport;
use App\Exports\SmsExport;
use App\Exports\FaqExport;
//
use App\Exports\child\TelegramExport;
use App\Exports\child\ServiceExport;
//
use App\Exports\ItemExport;
//
use App\Exports\FaceExport;
//
use App\Exports\_lib\ClotheExport;
//
// use App\Exports\msg\CommentPostExport;
// use App\Exports\msg\CommentPaperExport;
//
use App\Exports\pivot\CategoryFaqExport;
use App\Exports\pivot\CategoryTagExport;
use App\Exports\pivot\CategoryItemExport;
use App\Exports\pivot\CategoryServiceExport;
// use App\Exports\pivot\FaceFaceExport;
// use App\Exports\pivot\FaceTagExport;
use App\Exports\pivot\FaqCategoryExport;
use App\Exports\pivot\FaqFaqExport;
use App\Exports\pivot\FaqGroupExport;
use App\Exports\pivot\FaqTagExport;
use App\Exports\pivot\Item\ItemCategoryExport;
use App\Exports\pivot\Item\ItemFaqExport;
use App\Exports\pivot\Item\ItemItemExport;
use App\Exports\pivot\Item\ItemTagExport;
// use App\Exports\pivot\PostTagExport;
use App\Exports\pivot\LandingFaqExport;
use App\Exports\pivot\LandingItemExport;
use App\Exports\pivot\LandingTagExport;
use App\Exports\pivot\PaperFaqExport;
use App\Exports\pivot\PaperItemExport;
use App\Exports\pivot\PaperTagExport;
use App\Exports\pivot\PaperCategoryExport;
use App\Exports\pivot\ServiceFaqExport;
use App\Exports\pivot\ServiceItemExport;
use App\Exports\pivot\ServiceTagExport;
use App\Exports\pivot\ServiceCategoryExport;
 
// use App\Exports\pivot\SmsTagExport;
// use App\Exports\pivot\SmsCategoryExport;
//
use App\Exports\oogway\OogwayExport;
use App\Exports\oogway\TaskExport;
//
// //

class ExportController extends Controller
{

	public function __invoke()
	{

		$nameGroup = 'Groups' . '_' . date('dm_Gi'). '.xlsx';
		Excel::store(new GroupExport, 'Excel/_old/'.$nameGroup);
		Excel::store(new GroupExport, 'Excel/Groups.xlsx');

		$nameTag = 'Tags' . '_' . date('dm_Gi'). '.xlsx';
		Excel::store(new TagExport, 'Excel/_old/'.$nameTag);
		Excel::store(new TagExport, 'Excel/Tags.xlsx');

		$nameCategory = 'Categories' . '_' . date('dm_Gi'). '.xlsx';
		Excel::store(new CategoryExport, 'Excel/_old/'.$nameCategory);
		Excel::store(new CategoryExport, 'Excel/Categories.xlsx');

		$nameLanding = 'Landing' . '_' . date('dm_Gi'). '.xlsx';
		Excel::store(new LandingExport, 'Excel/_old/'.$nameLanding);
		Excel::store(new LandingExport, 'Excel/Landings.xlsx');

		$namePost = 'Posts' . '_' . date('dm_Gi'). '.xlsx';
		Excel::store(new PostExport, 'Excel/_old/'.$namePost);
		Excel::store(new PostExport, 'Excel/Posts.xlsx');

		$namePaper = 'Papers' . '_' . date('dm_Gi'). '.xlsx';
		Excel::store(new PaperExport, 'Excel/_old/'.$namePaper);
		Excel::store(new PaperExport, 'Excel/Papers.xlsx');

		$nameItem = 'Item' . '_' . date('dm_Gi'). '.xlsx';
		Excel::store(new ItemExport, 'Excel/_old/'.$nameItem);
		Excel::store(new ItemExport, 'Excel/Items.xlsx');

		$nameSms = 'Sms' . '_' . date('dm_Gi'). '.xlsx';
		Excel::store(new SmsExport, 'Excel/_old/'.$nameSms);
		Excel::store(new SmsExport, 'Excel/Sms.xlsx');

		$nameFaq = 'Faq' . '_' . date('dm_Gi'). '.xlsx';
		Excel::store(new FaqExport, 'Excel/_old/'.$nameFaq);
		Excel::store(new FaqExport, 'Excel/Faq.xlsx');
		
		
		//
		$nameTelegram = 'Telegram' . '_' . date('dm_Gi'). '.xlsx';
		Excel::store(new TelegramExport, 'Excel/_old/child/'.$nameTelegram);
		Excel::store(new TelegramExport, 'Excel/child/Telegrams.xlsx');
		$nameService = 'Telegram' . '_' . date('dm_Gi'). '.xlsx';
		Excel::store(new ServiceExport, 'Excel/_old/child/'.$nameService);
		Excel::store(new ServiceExport, 'Excel/child/Services.xlsx');
		

		//
		$nameFace = 'Faces' . '_' . date('dm_Gi'). '.xlsx';
		Excel::store(new FaceExport, 'Excel/_old/'.$nameFace);
		Excel::store(new FaceExport, 'Excel/Faces.xlsx');

		// dd('lib')
		$nameClothe = 'Clothes' . '_' . date('dm_Gi'). '.xlsx';
		Excel::store(new ClotheExport, 'Excel/_old/lib/'.$nameFace);
		Excel::store(new ClotheExport, 'Excel/lib/Clothes.xlsx');


		// dd(444)
		$nameCategoryFaq = 'CategoryFaq' . '_' . date('dm_Gi'). '.xlsx';
		Excel::store(new CategoryFaqExport, 'Excel/_old/pivot/'.$nameCategoryFaq);
		Excel::store(new CategoryFaqExport, 'Excel/pivot/CategoryFaqs.xlsx');
		$nameCategoryTag = 'CategoryTag' . '_' . date('dm_Gi'). '.xlsx';
		Excel::store(new CategoryTagExport, 'Excel/_old/pivot/'.$nameCategoryTag);
		Excel::store(new CategoryTagExport, 'Excel/pivot/CategoryTags.xlsx');
		$nameCategoryItem = 'CategoryItem' . '_' . date('dm_Gi'). '.xlsx';
		Excel::store(new CategoryItemExport, 'Excel/_old/pivot/'.$nameCategoryItem);
		Excel::store(new CategoryItemExport, 'Excel/pivot/CategoryItems.xlsx');
		$nameCategoryService = 'CategoryService' . '_' . date('dm_Gi'). '.xlsx';
		Excel::store(new CategoryServiceExport, 'Excel/_old/pivot/'.$nameCategoryService);
		Excel::store(new CategoryServiceExport, 'Excel/pivot/CategoryServices.xlsx');

		$nameFaqCategory = 'FaqCategories' . '_' . date('dm_Gi'). '.xlsx';
		Excel::store(new FaqCategoryExport, 'Excel/_old/pivot/'.$nameFaqCategory);
		Excel::store(new FaqCategoryExport, 'Excel/pivot/FaqCategories.xlsx');
		$nameFaqFaq = 'FaqFaqs' . '_' . date('dm_Gi'). '.xlsx';
		Excel::store(new FaqFaqExport, 'Excel/_old/pivot/'.$nameFaqFaq);
		Excel::store(new FaqFaqExport, 'Excel/pivot/FaqFaqs.xlsx');
		$nameFaqGroup = 'FaqGroups' . '_' . date('dm_Gi'). '.xlsx';
		Excel::store(new FaqGroupExport, 'Excel/_old/pivot/'.$nameFaqGroup);
		Excel::store(new FaqGroupExport, 'Excel/pivot/FaqGroups.xlsx');
		$nameFaqTag = 'FaqTags' . '_' . date('dm_Gi'). '.xlsx';
		Excel::store(new FaqTagExport, 'Excel/_old/pivot/'.$nameFaqTag);
		Excel::store(new FaqTagExport, 'Excel/pivot/FaqTags.xlsx');

		$nameItemCategory = 'ItemCategories' . '_' . date('dm_Gi'). '.xlsx';
		Excel::store(new ItemCategoryExport, 'Excel/_old/pivot/'.$nameItemCategory);
		Excel::store(new ItemCategoryExport, 'Excel/pivot/ItemCategories.xlsx');
		$nameItemFaq = 'ItemFaqs' . '_' . date('dm_Gi'). '.xlsx';
		Excel::store(new ItemFaqExport, 'Excel/_old/pivot/'.$nameItemFaq);
		Excel::store(new ItemFaqExport, 'Excel/pivot/ItemFaqs.xlsx');
		$nameItemItem = 'ItemItems' . '_' . date('dm_Gi'). '.xlsx';
		Excel::store(new ItemItemExport, 'Excel/_old/pivot/'.$nameItemItem);
		Excel::store(new ItemItemExport, 'Excel/pivot/ItemItems.xlsx');
		$nameItemTag = 'ItemTags' . '_' . date('dm_Gi'). '.xlsx';
		Excel::store(new ItemTagExport, 'Excel/_old/pivot/'.$nameItemTag);
		Excel::store(new ItemTagExport, 'Excel/pivot/ItemTags.xlsx');


		$nametLandingFaq = 'LandingFaqs' . '_' . date('dm_Gi'). '.xlsx';
		Excel::store(new LandingFaqExport, 'Excel/_old/pivot/'.$nametLandingFaq);
		Excel::store(new LandingFaqExport, 'Excel/pivot/LandingFaqs.xlsx');
		$nametLandingItem = 'LandingItems' . '_' . date('dm_Gi'). '.xlsx';
		Excel::store(new LandingItemExport, 'Excel/_old/pivot/'.$nametLandingItem);
		Excel::store(new LandingItemExport, 'Excel/pivot/LandingItems.xlsx');
		$nametLandingTag = 'LandingTags' . '_' . date('dm_Gi'). '.xlsx';
		Excel::store(new LandingTagExport, 'Excel/_old/pivot/'.$nametLandingTag);
		Excel::store(new LandingTagExport, 'Excel/pivot/LandingTags.xlsx');


 		$nametPaperFaq = 'PaperFaqs' . '_' . date('dm_Gi'). '.xlsx';
		Excel::store(new PaperFaqExport, 'Excel/_old/pivot/'.$nametPaperFaq);
		Excel::store(new PaperFaqExport, 'Excel/pivot/PaperFaqs.xlsx');
 		$nametPaperItem = 'PaperItems' . '_' . date('dm_Gi'). '.xlsx';
		Excel::store(new PaperItemExport, 'Excel/_old/pivot/'.$nametPaperItem);
		Excel::store(new PaperItemExport, 'Excel/pivot/PaperItems.xlsx');
		$nametPaperTag = 'PaperTags' . '_' . date('dm_Gi'). '.xlsx';
		Excel::store(new PaperTagExport, 'Excel/_old/pivot/'.$nametPaperTag);
		Excel::store(new PaperTagExport, 'Excel/pivot/PaperTags.xlsx');
		Excel::store(new PaperCategoryExport, 'Excel/pivot/PaperCategories.xlsx');


 		$nametServiceFaq = 'ServiceFaqs' . '_' . date('dm_Gi'). '.xlsx';
		Excel::store(new ServiceFaqExport, 'Excel/_old/pivot/'.$nametServiceFaq);
		Excel::store(new ServiceFaqExport, 'Excel/pivot/ServiceFaqs.xlsx');
 		$nametServiceItem = 'ServiceItems' . '_' . date('dm_Gi'). '.xlsx';
		Excel::store(new ServiceItemExport, 'Excel/_old/pivot/'.$nametServiceItem);
		Excel::store(new ServiceItemExport, 'Excel/pivot/ServiceItems.xlsx');
		$nametServiceTag = 'ServiceTags' . '_' . date('dm_Gi'). '.xlsx';
		Excel::store(new ServiceTagExport, 'Excel/_old/pivot/'.$nametServiceTag);
		Excel::store(new ServiceTagExport, 'Excel/pivot/ServiceTags.xlsx');
		Excel::store(new ServiceCategoryExport, 'Excel/pivot/ServiceCategories.xlsx');




		// $nametLandingTag = 'LandingTags' . '_' . date('dm_Gi'). '.xlsx';
		// Excel::store(new LandingTagExport, 'Excel/_old/pivot/'.$nametLandingTag);
		// Excel::store(new LandingTagExport, 'Excel/pivot/LandingTags.xlsx');


		

		// $namePostTag = 'PostTags' . '_' . date('dm_Gi'). '.xlsx';
		// Excel::store(new PostTagExport, 'Excel/_old/pivot/'.$namePostTag);
		// Excel::store(new PostTagExport, 'Excel/pivot/PostTags.xlsx');

		// $nameSmsTag = 'SmsTags' . '_' . date('dm_Gi'). '.xlsx';
		// Excel::store(new SmsTagExport, 'Excel/_old/pivot/'.$nameSmsTag);
		// Excel::store(new SmsTagExport, 'Excel/pivot/SmsTags.xlsx');
		
		// $nameSmsCategory = 'SmsCategories' . '_' . date('dm_Gi'). '.xlsx';
		// Excel::store(new SmsCategoryExport, 'Excel/_old/pivot/'.$nameSmsCategory);
		// Excel::store(new SmsCategoryExport, 'Excel/pivot/SmsCategories.xlsx');
		
		

		return 111;
		// Excel::store(new PaperExport, 'Papers.xlsx');
	}
};