# .gitignore

/node_modules
/storage/*.key
/vendor

#
/public/images*
/public/media*
/public/storage
/public/video*

#
public_html

#
#
*_old/
/resources/views/THIS/*

webpack.mix.js
.env
/app/Providers/RouteServiceProvider.php
/app/Http/Controllers/ADMIN/_sherpa/Excel/ExportController.php
/app/Http/Controllers/ADMIN/Item