# public, public_html, node_*, vendor, storage
# git reset --soft HEAD~1

# .gitignore

# *
# !public/
# !.gitignore



/node_modules
/storage/*.key
/vendor

#
public_html

#
#
.vscode
*_old/
/resources/views/THIS/*

webpack.mix.js
.env
/app/Providers/RouteServiceProvider.php
# /app/Http/Controllers/ADMIN/_sherpa/Excel/ExportController.php
/app/Http/Controllers/ADMIN/zItem