@charset "UTF-8";


.Roll-bg {
    // --x-Roll-bg:#232628;
    // --x-Roll-bg:rgba(0,0,0,.1);
    --x-Roll-bg:#fff;

    top: -1rem;
    left: 0;
    bottom: -1rem;
    right: 0;

 
    background: linear-gradient(to right, transparent 0, transparent 80%, var(--x-Roll-bg) 100%);
 
}


// 0 0 30px -8px #232628