@charset "UTF-8";

// .-tail ._tail,
.-tail > .tail {
    bottom: -5px;
    // bottom: -12px;
    right: -2px;
}

// .-tail ._tail svg,
.-tail > .tail {
	width: 16px;
	height: 19px;
}


// .bg-tail {
//     position: relative;
//     display: inline-block;
//     vertical-align: top;
// }
