@charset "UTF-8";


@media (min-width: 800px) and (max-width: 6000px) {
    #oiBar {
      --c-text: #888;
      background-color: #161719;
    }


    .bg-White-Life {
        ._cell._1 {
            --c-text: #000;
            background: #fff;
        }
        ._cell._2 {
            --c-text: #000;
            background: #f2ece0;
            // background: #42b2fe;
        }
    }
 
}