@charset "UTF-8";


@media (min-width: 799px) and (max-width: 6000px) {
    #oiBar {
      --c-text: #888;
      background-color: #161719;
    }

    .Utin {
        .bg-White-Life {
            ._cell._1 {
                details summary > i {
                    right: 1rem;
                }
            }
        }
    }
}


@media screen and (max-width:@w-menu-2) {
    #Fon ._mbl {
        background: #141d2c;
        box-shadow: 0px 50px 30px 35px #141d2c;
      }

    .Utin {
        .bg-White-Life {
            ._cell._2 {
                .Citation {
                    --c-Citation-border: #fff;
                }
            }
        }
    }

}



.Utin.-Black  {

    .Preloader::after {
        border-top-color: #fff;
        border-right-color: #fff;
    }
}




//

.Utin {
    .bg-White-Life {
        --c-h: #000;
        --c-text: #000;

        ._cell._1 {
            background: #fff;
            .Citation {
                --bg-Citation-mbl:#eceef2;
            }

            .face.vol-life::before {
                background-image: url(/images-0/Utin/ava/life.jpg);
            }
            
        }
        ._cell._2 {
            background: #f2ece0;
            // background: #42b2fe;
            .Citation {
                --bg-Citation-mbl:#fff8e7;
            }
        }
    }
    .bg-Blue {
        background: #42b2fe;
        ._cell {
            --c-text: #fff;

            a {color: inherit;}
            background: #5fbeff;
        }
    }
}

 .utin-details_black {
    // --bg-summary: transparent;
    // --bg-summary-open: transparent;
    --bg-summary-before: #176dea;
 }


//
.face::before {
    background-size: cover;
    border-radius: 50%;
}

.face.vol-aleksei::before {
    background-image: url(/images-0/Utin/ava/hello.jpg);
} 

.face.vol-life::before {
    background-image: url(/images-0/Utin/ava/life.jpg);
}



