@charset "UTF-8";

.Form.-XS,
input.-XS{
	--x-Form-lineHeight: 1.2rem;
}

.Form.-S,
input.-S{
	--x-Form-lineHeight: 2.5rem;
}

.Form.-S {
	.form-name,
	._shell._name {
		--font:1rem;
	}
}

input.-M{
	--font: var(--rem-h);
	--x-Form-lineHeight: 5rem;
}

@media (min-width: @metrika-70-plus) and (max-width: @w-max) {

	.Form.-L,
	input.-L {
		--x-Form-lineHeight: 5rem;
	}

	.Form.-L input,
	input.-L {
		font-size: var(--rem-h);
	}

	.Form.-M,
	input.-M {
		--x-Form-lineHeight: 4rem;
	}
}

@media (min-width: @w-menu-2-plus) and (max-width: @metrika-70) {

	.Form.-L,
	input.-L,
	.Form.-M,
	input.-M {
			--x-Form-lineHeight: 4rem;
	}

	// .Form.-L input,
	// input.-L {
	// 	font-size: var(--rem-h);
	// }

}


@media screen and (max-width: @w-menu-2) {
	.Form.-M,
	input.-M,
	.Form.-L,
	input.-L {
		--x-Form-lineHeight: 4rem;
	}

	.Form.-L input,
	input.-L {
		font-size: var(--rem-h);
	}
}


.Form {

	--x-Form-label-lineHeight:calc(var(--font) * 1.8);
	//
	--x-Form-edge: .5rem;
	--x-Form-lineHeight: 3.5rem;
	//
	// --x-Form-h-input: calc(var(--x-Form-lineHeight)*1.2);

	._shell {
		--x-Form-input-padding-top:0rem;
		// --x-Form-input-padding-bottom:0rem;

		//
		--x-Form-input-edge-top: calc(var(--x-Form-input-padding-top));
		--x-Form-input-h: calc(var(--x-Form-lineHeight) + var(--x-Form-input-edge-top));
	}


	// input.net {
	// 	--x-Form-edge: 0;
	// }


	//
	label > b::before {
		content: '...';
	}

	legend {
		margin: 0 0 0 1rem !important;
	}

	fieldset {
		border-width: 1px;
		padding: 1.5rem 1rem 1rem 1rem;
	}

    input {
        min-height: var(--x-Form-lineHeight);
		line-height: calc(var(--x-Form-lineHeight)*.9);
        padding-top: var(--x-Form-input-padding-top);
        padding-left: var(--x-Form-edge);
    }

	input.slug {
		font-size: calc(var(--font)*.9);
		padding-left: 2px;
	}


	input,
	input[placeholder] {
		text-overflow: ellipsis;
	}

    textarea {
        line-height: calc(var(--font) * 1.2);
        padding:1.5rem .5rem 1rem 1rem;
    }

	//
    input,
    textarea {
        width: 100%;
    }

	.Error 	{
		textarea {
			padding-top: 2rem;
		}
	}

    ._shell {
		position: relative;
		> label {
			line-height: var(--x-Form-label-lineHeight);
		}
	}
}