@charset "UTF-8";


.Void.EM {
    > .p.-em {
        margin-top: .75em;
    }
}

//
.p.-emS,
.p.-em {
    line-height: 1.5;
}

.p.-em {
    font-size: 2em;
}
.p.-emS {
    font-size: 1.8em;
}

.h.-em {
    font-size: 3.2em;
    line-height: 1.22;
}




.p.-vw {
    font-size: clamp(var(--font),1.2vw,20px);
}

.p,
.Citation p,
.text > p {
	font-size: var(--rem-p);
}

.Citation p,
.p.-lineHeight,
.text > p {
    line-height: calc(var(--rem-p)*1.6);
}

.p.slim,
.text > p.slim {
    line-height: calc(var(--rem-p)*1.4);
}