@charset "UTF-8";

.text {
    ul, ol {
        > li {
            > span {
                display: block;
                > br {
                    display: block;
                    margin-bottom: .5rem;
                }
            }
        }
    }
}