@charset "UTF-8";



.vol-04022024 {

    tr td {
        width: 200px;
    }

    tr > :first-child {
        padding-left: var(--edge);
        width: 280px;
    }

 
    tr > :last-child{
        width: auto;
    }
}