<?php

namespace App\Http\Requests\ADMIN\Item;

use App\Http\Requests\ADMIN\BaseRelationsRequest;

class StoreRequest extends BaseRelationsRequest
{

    public function authorize()
    {
        return true;
    }

    public function rules()
    {
        return array_merge(parent::rules(), [

			'sku' => 'nullable|string',
            'name' => 'required|string',
			'slug' => 'string',

            //
            'mockup' => 'nullable|string',
            'schema' => 'nullable|string',
			'schema_teaser' => 'nullable|string',
			'css' => 'nullable|string',

    		//
            'name_tag' => 'nullable|string',
            'name_seo' => 'nullable|string',
            'h1' => 'nullable|string',
            'h2' => 'nullable|string',
            'intro' => 'nullable|string',
            'article' => 'nullable|string',
            
			//
            'bread_name' => 'nullable',
            
			'prev_h1' => 'nullable|string',
			'prev_h2' => 'nullable|string',
			'prev_p' => 'nullable|string',
            'prev_image' => 'nullable|file',
            'prev_url' => 'nullable|file',

            //
            'image' => 'nullable|image|mimes:jpeg,png,jpg,webp,avif|max:2048',
            'image_original' => 'nullable|string',
            'image_prev' => 'nullable|image|mimes:jpeg,png,jpg,webp,avif|max:2048',

            //
            'price' => 'nullable|string',

			//
			'mafia' => 'nullable|integer',

            //
            'user_id' => 'nullable|integer',

            //
            'en_name' => 'nullable|string',
            'en_h1' => 'nullable|string',
            'en_intro' => 'nullable|string',
            'en_text' => 'nullable|string',
            'en_prev_h1' => 'nullable|string',
            'en_prev_h2' => 'nullable|string',
            'en_prev_p' => 'nullable|string',
            'en_title' => 'nullable|string',
            'en_description' => 'nullable|string',
            'en_keywords' => 'nullable|string',
            'en_canonical' => 'nullable|string',
        ]);
    }

	// написали сами
	// зарезервированный метод класса Request
	public function messages() {
		// return parent::messages(); // по умолчаиню
		return array_merge(parent::messages(), [
			'name.required' => 'Название услуги',
			'prev_image.file' => 'необходимо выбрать файл',
		]);
	}
}
