@charset "UTF-8";

.x-userInfo {
    --x-userInfo: calc(var(--Aside) - 5rem);
}


@media (min-width: @w-menu-2-plus) and (max-width: @w-max) {


    .Max.x-userInfo {
        max-width: var(--x-userInfo);
    }


    .oiBar ._menu ._open .Chunk {
        margin-bottom: 1px;
    }
 
    .oiBar ._menu .OnOff.on {
        padding-bottom: 1rem;
    }
    .oiBar ._menu ._open > .-Chunk {
        margin-bottom: 1px;
    }


    #body.asideClose {

        .x-asideClose-20102011 {
            min-height: 2rem;
        }
        
        .oiBar {
            ._menu ._open .Chunk {
                margin-top: 7px;
            }
        }
    }
    
    
    

//     .Aside_2,
//     .Aside .asideMenu ._open {
//         --x-Aside-left-w:47px;
//     }


//     .Aside_2,
//     .Aside {
//         ._left {
//             min-width: var(--x-Aside-left-w);
    
//             > ._x {
//                 min-width: 14px;
//             }
//         }
//     }



//     .Aside_2 ._left,
//     .Aside .asideMenu ._open ._left{
//         padding-right: 5px;
//     }
 


//     .Aside_2 .menu.x-ico a,
//     .Aside .asideMenu ._open > ._wrap{
//         padding-right: .5rem;
//     }

//     .Aside {
//         // --x-head-h: calc(200px + var(--Ava));
//         // --x-padding-info-top: 14px;
//         --x-Aside-hill-1:280px;
//         --x-Aside-left-w: 55px;
//         // --x-oiBar-item-h: 40px;

//         //
//         // min-width: var(--Aside);

//         > ._wrap {
//             padding-top:var(--x-Aside-hill-1);
//         }

//         ._menu {
//             min-height: calc(var(--h) - var(--h-Header));
//             // min-height: calc(var(--h) - var(--x-Aside-hill-1));
//         }

//         .x-profile {
//             min-height: var(--x-Aside-hill-1);
//             padding-top: calc(var(--h-Header)*1.5 + .5rem);
//             // background-color: red;
//         }




//     }
}
