@charset "UTF-8";

.x-userInfo {
    --x-userInfo: calc(var(--Aside) - 5rem);
}

@media (min-width: @w-menu-2-plus) and (max-width: @w-max) {


    .Max.x-userInfo {
        max-width: var(--x-userInfo);
    }


    .oiBar ._menu ._open .Chunk {
        margin-bottom: 1px;
    }
 
    .oiBar ._menu .OnOff.on {
        padding-bottom: 1rem;
        margin-bottom: .5rem;
    }
    .oiBar ._menu ._open > .-Chunk {
        margin-bottom: 1px;
    }


    #body.asideClose {

        .x-asideClose-20102011 {
            min-height: 2rem;
        }
        
        .oiBar {
            .x-11011809 {
                min-height: .5rem;
            }
            ._menu ._open .Chunk {
                margin-top: 7px;
            }
        }
    }
}


@media (min-width:@w-menu-2-plus) and (max-width:@w-max) {
	#body.asideClose .oiBar {
	
		.flex.x-footer {
			--x-cross: 0;
			flex-direction: column;
	
			> * {
				margin-top: .5rem;
			}
		}
	
		.Pr.-x4 {
			--x-padding: 0;
		}
	
		.pr-2 {
			padding-right: 0;
		}
	
		.Chunk {
			flex-direction: column;
		}
	
		._open {
	
			.chunk-100_Ico {
				width: 100%;
				padding-left: 5px;
				padding-right: 5px;
			}
	
			._ico {display: none;}
			._item .content-s {
				font-size: 10px;
				line-height: 110%;
				text-align: center;
				padding: 7px 0;
	
				.x-edge {
					padding-left: 3px;
					padding-right: 3px;
				}
			}
		}
	
	}


    // эффекты отступа
    #body.x-aside.asideClose {

        .oiBar {
            padding: calc(var(--Aside-space)*2) var(--Aside-space) 0 calc(var(--Aside-space)*1.5);
        }

        .KIRA.-aside {
            --KIRA:1rem;
            // min-width: 1rem;
        }
        
        .Aside {
            padding: 0px;
        }
    }



}


// #body.x-aside2 {
// 	.aside2-space-left {
// 		padding-left: var(--Aside-2);
// 	}
// }

// #body.x-aside2.aside2Close {
// 	.aside2-space-left {
// 		padding-left: calc(var(--bar)*2);
// 	}

// 	.Aside_2 {
// 		min-width: calc(var(--bar)*2);
// 	}
// }

//