@charset "UTF-8";


.Max_H_19101420 {
    max-height: 100px;
}

#x_06051448.On, // обертка для TAB tab_EditTabBody
#wrap_Relationships.On {
    .Max_H_19101420 {
        max-height: 2000px;
    }
}

#wrap_Relationships {
    cursor: pointer;

    .Field {
        cursor: default;
    }
    .Field.-t::before {
        display: none;
        pointer-events: none;
    }
}

#wrap_Relationships.On.Gardener {
    padding-top: var(--x-Gardener-h);

    .Field.-t::before {
        display: block;
        top: calc(0px - var(--x-Gardener-h));
    }
}