@charset "UTF-8";

ul.vol-note {
	--x-wh: 14px;
	--x-padding-left-precise: 0px;

	> li {
		padding: 15px 19px 13px;

        ._text {
            padding-left: calc(var(--x-wh) + 1rem);
            margin-top: 1.5rem;
        }
        background: #f4f4f4;
	}
}

 