@charset "UTF-8";

.Badge {
	--Badge-wide: 0px;
	--Badge-padding-left: 8px;
	--Badge-padding-top: 8px;
}

.Badge.-M {
	--Badge-wide: 10px;
}

.Badge.-reverseBg,
.Badge.-paddingS {
	--Badge-padding-left: 2px;
	--Badge-padding-top: 2px;

	// padding-right: 5px;
}
.Badge.-paddingXS {
	--Badge-padding-left: 1px;
	--Badge-padding-top: 1px;
}

.Badge.-solo,
.Badge.-net {
	--Badge-padding-left: 0;
	--Badge-padding-top: 0;
}


.Badge.-net {
	padding-right: 3px;
}


.Badge.-solo > :first-child {
	padding: 0 7px;
	margin-right: 0;
}



.Badge.-uppercase {
	>*:first-child {
		text-transform: uppercase;
	}
}

// .Badge.-bold {
// 	> *:first-child {
// 		font-weight: bold;
// 	}
// }




//


.Badge,
.Badge> :first-child {
    display: flex;
    align-items: center;
}


.Badge {

	justify-content: flex-start;
    padding: var(--Badge-padding-left) var(--Badge-padding-top);

	//
    > *:first-child {
        padding: var(--Badge-wide) 10px;
        margin-right: .5rem;
    }

    > .Ico:first-child {
        padding: 6px;
    }


	> .net {
		margin-right: 0 !important;
	}

	// > div.net:last-child {
	// 	margin-right: 0;
	// }

	// > ._text {
	// 	font-size: inherit;
	// 	line-height: inherit;
	// }
}
