@charset "UTF-8";



.Prev {
    --x-h-Prev:100px;
}

.Prev.hMin {
	min-height: var(--x-h-Prev);
}

.Prev {

	> img {width: 100%;}

	// ._zoom {overflow: hidden;}
	// ._zoom.active {overflow: visible;}



    // figure {
    //     min-height: var(--x-h-Prev);
    //     img {
    //         width: auto;
    //         height: 100%;
    //     }
    // }


    // figure._V {
    //     img {
    //         width: 100%;
    //         height: auto;
    //     }
    // }

    //

    // ._abs {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    // }

    // ._min {
    //     overflow: hidden;
    //     pointer-events: none;
    // }

    //

    // figure,
    // figcaption,
    // ._max,
    // ._min {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    // }

    // figure {
    //     overflow: hidden;
    //     position: relative;
    //     > * {display: none;}
    //     > :first-child{display: inherit;}
    // }

}


// .Grid.--first.w1 {
// 	--x-first-w: 200px;
// }

// .Grid.--first {
// 	--x-first-w:100%;
// 	>.Prev:first-child {
// 		._zoom {
// 			position: relative;
// 			top: auto;
// 			right: auto;
// 			bottom: auto;
// 			left: auto;

// 			img {
// 				position: relative;
// 				top: auto;
// 				right: auto;
// 				bottom: auto;
// 				left: auto;
// 				max-width: var(--x-first-w);
// 			}
// 		}
// 	}
// }



@media screen and (max-width:@w-menu-2) {


    // .Prev {
    //     figure {
    //         img {
    //             max-width: 200%;
    //             height: 105%;
    //         }
    //     }
    //     figure._V {
    //         img {
    //             width: 100%;
    //             height: auto;
    //         }
    //     }
    // }


}
