@charset "UTF-8";


@media (min-width:@w-menu-2-plus) and (max-width:@w-max) {

    .Pricing.-hPC {
        --Pricing-h: 100px;
    }

    .Pricing.-voidPC {
        margin-bottom: 4px;
    }
}

.Pricing.-void {
    margin-bottom: 4px;
}

.Pricing {
    --Pricing-h: auto;
    
    height: var(--Pricing-h);
}