@charset "UTF-8";


@media (min-width:@w-menu-2-plus) and (max-width:@w-max) {
    .Pricing {
        --Pricing-h: 100px;
    }
}


.Pricing.-void {
    margin-bottom: 4px;
}
.Pricing {
    height: var(--Pricing-h);
}