@charset "UTF-8";


@media (min-width: @w-menu-2-plus) and (max-width: @w-max) {

	.Sms.-w.wM {
		--Sms-w: calc(var(--Sms) + 4rem);
	}


	//
	.Sms.-w {
		--Sms-w:var(--Sms);

		width: var(--Sms-w);
	}
	.Sms.-wMin {
		min-width: var(--Sms-w);
	}
}


// .SOMA.-Sms.sms-bar:not(.On) {
// 	--Sms:var(--bar);

// 	background-color: red;
// }

// хуйня, меняй на другое название
.SMS {
	background-color: red;
}