@charset "UTF-8";

@media (min-width:@w-menu-2-plus) and (max-width: @w-max) {
	.Talk {
		.Wagon.-hS {
			// .x-Talk_minH {
			// 	min-height: 180px;
			// }
		}
	}
}

@media (min-width:@metrika-80-plus) and (max-width: @w-max) {


	.Flaber .Sms.Talk {
		transform: translateX(-1px);
	}


	.Talk.-w80 {

		height: calc(var(--h) - 4rem - var(--h-head));
		max-height: 680px;

		.SOMA.On > .Axon > .off {
			display: block;
			// background-color: green;
		}

		._body {
			padding-top: 6rem;
			padding-bottom: 12rem;
			padding-left: 1rem;
			padding-right: .5rem;

			.Wagon._last {display: none;}
		}

		.Ava {
			--x-Ava: calc(var(--Ava) * .5);
		}


		.Wagon {
			--Wagon-h:auto;
			--Wagon-w:auto;
			--round:0;
			--x-cross:0;
			// --x-Wagon-space:0px;

			// ._close {
			// 	.content {
			// 		padding-right: 0;
			// 	}
			// }
			// .OnOff {
			// 	._open,
			// 	._close {
			// 		background-color: orange;
			// 		// display: block;
			// 	}
			// }
		}

		// .Preamble {
		// 	.x-Talk {display: none;}
		// }

		.space-left,
		.Preamble {
			--space:0px;
		}

		.A ._wrap {padding-left: 1rem;}

		// .paragraph.x-Talk {display: block;}

		// классы для блока SMS
		.x-Talk_none {
			display: none;
		}

		.x-Talk_block {
			display: block;
		}

		// .x-Talk_minH {
		// 	min-height: auto !important;
		// }
 
	}
}


@media screen and (max-width:@metrika-80) {
	.Talk.-w80 {
		// .x-Talk_minH {
		// 	min-height: 160px;
		// }
	}
}

//
.Talk.vol-def {
	.A {
		.content {
			min-height:5em;
		}
	}
}















// @media screen and (max-width:@metrika-80) {
// 	.Talk.-W80 {
// 		width: 100%;
// 		// .Preamble.-face {
// 		// 	padding-left: 0;
// 		// }
// 		// .A {width: 100%;}
// 	}
// }




// .Talk .Teaser.x-1306.-shadow,
// .mod-1506 .Teaser.x-1306.-shadow {
//   box-shadow: 0 20px 20px rgba(48, 52, 59, 0.07);
// }
// #body.-morda .mod-1506 .Teaser.x-1306.-shadow {
//   box-shadow: none;
// }
// @media (min-width: 1361px) and (max-width: 6000px) {
//   .Talk .Teaser.x-1306.-shadow {
//     box-shadow: none;
//   }
// }
// .Teaser.x-1306 .A ._wrap {
//   box-shadow: inset 0rem -6px 2px #fff;
// }
// @media (min-width: 1361px) and (max-width: 6000px) {
//   .Talk .Teaser.x-1306 .A ._wrap {
//     box-shadow: none;
//   }
// }




// .Teaser.x-1306 a {
// 	color: var(--c-menu-2);
// }

// .Teaser.x-1306 ._close p {
// 	color: var(--c-menu-2);
// }

// .Teaser.x-1306 ._close .hMin {
// 	color: #312555;
// }



// 	.Talk .Teaser.x-1306 ._close p {
// 		color: var(--c-text);
// 	}
// }




 
/*

@media (min-width:@metrika-80-plus) and (max-width: @w-max) {


	.Sms.Talk {

		


		

		// .cross {
		// 	--x-cross: 0px;
		// }

		.Wagon {
			--x-cross:0px;
			--round:0px;
			--Wagon-h:auto;
			--Wagon-w:auto;
			--x-Wagon-space:0px;

			._close {
				.content {
					padding-right: 0;
				}
			}

		}
		// .Teaser.Louver {
		// 	--Louver-h-min: auto;
		// }

		//

		

		//
		// .Louver ._close::after {
		// 	display: none;
		// }

		
	}
 

	//

}

/**/