@charset "UTF-8";


.teaser.vol-QA.On {
    --x-vol-QA-padding-bottom:7px;
}

.teaser.vol-QA {
    --x-vol-QA-padding:3rem;
    --x-vol-QA-padding-bottom:0;

    > ._wrap {
        padding-bottom: var(--x-vol-QA-padding-bottom);
    }

    .Axon > .off {
        .content {
            padding-bottom: var(--x-vol-QA-padding);
        }
    }

    .A {
        padding: 0 1px 0px 1px;
        > ._wrap {
            padding-left: 1rem;
        }
    }
}