@charset "UTF-8";

.Nameplate {
	--c-Nameplate-border: transparent;
	color: var(--c-Nameplate);;
	background-color: var(--bg-Nameplate);
	// border:1px solid var(--c-Nameplate-border);
	//
	border-radius: 1rem;
	pointer-events: none;

	opacity: 1;
	.transition(opacity);
}

.Error > .Nameplate {
	// background-size: auto 60%;
	--x-Nameplate-top:.5rem;

	background-size: auto 1.5rem;
	background-repeat: no-repeat;
	background-position: 2px center;

	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' id='root' viewBox='0 0 40 41' fill='none' class='hidden dark:block' height='40' width='40'%3e%3cpath d='M20 3.5C10.8869 3.5 3.5 10.8869 3.5 20C3.5 29.1131 10.8869 36.5 20 36.5C29.1131 36.5 36.5 29.1131 36.5 20C36.5 10.8869 29.1131 3.5 20 3.5ZM20 14.3462C20.1938 14.3462 20.3797 14.4231 20.5167 14.5602C20.6538 14.6972 20.7308 14.8831 20.7308 15.0769V21.2308C20.7308 21.4246 20.6538 21.6105 20.5167 21.7475C20.3797 21.8845 20.1938 21.9615 20 21.9615C19.8062 21.9615 19.6203 21.8845 19.4833 21.7475C19.3462 21.6105 19.2692 21.4246 19.2692 21.2308V15.0769C19.2692 14.8831 19.3462 14.6972 19.4833 14.5602C19.6203 14.4231 19.8062 14.3462 20 14.3462ZM20.5167 26.6706C20.3797 26.8076 20.1938 26.8846 20 26.8846C19.8062 26.8846 19.6203 26.8076 19.4833 26.6706C19.3462 26.5335 19.2692 26.3477 19.2692 26.1538C19.2692 25.96 19.3462 25.7742 19.4833 25.6371C19.6203 25.5001 19.8062 25.4231 20 25.4231C20.1938 25.4231 20.3797 25.5001 20.5167 25.6371C20.6538 25.7742 20.7308 25.96 20.7308 26.1538C20.7308 26.3477 20.6538 26.5335 20.5167 26.6706Z' fill='%23F87171' stroke='black'%3e%3c/path%3e%3ccircle cx='20' cy='20' r='15.5' stroke='url(%23paint0_linear_343_13385)' stroke-opacity='0.3'%3e%3c/circle%3e%3ccircle cx='20' cy='20' r='18' stroke='url(%23paint1_linear_343_13385)' stroke-opacity='0.3' stroke-width='4'%3e%3c/circle%3e%3cdefs%3e%3clinearGradient id='paint0_linear_343_13385' x1='12.1082' y1='-0.262794' x2='43.0515' y2='46.1521' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='white'%3e%3c/stop%3e%3cstop offset='1' stop-color='white' stop-opacity='0'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient id='paint1_linear_343_13385' x1='-52.0569' y1='-88.3493' x2='40.5249' y2='44.737' gradientUnits='userSpaceOnUse'%3e%3cstop offset='0.63328' stop-color='%23F87171'%3e%3c/stop%3e%3cstop offset='1' stop-color='%23F87171' stop-opacity='0'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
	// background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 16.5 16.5' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='7' fill='red'/%3e%3cpath fill='white' d='M8 16c-4.418278 0-8-3.581722-8-8s3.581722-8 8-8 8 3.581722 8 8-3.581722 8-8 8zm0-1c3.8659932 0 7-3.1340068 7-7s-3.1340068-7-7-7-7 3.1340068-7 7 3.1340068 7 7 7zm0-8c.5522847 0 1 .4477153 1 1v4c0 .5522847-.4477153 1-1 1s-1-.4477153-1-1V8c0-.5522847.4477153-1 1-1zm0-4c.5522847 0 1 .4477153 1 1s-.4477153 1-1 1-1-.4477153-1-1 .4477153-1 1-1z'%3e%3c/path%3e%3c/svg%3e");
}

@media (min-width: @w-menu-2-plus) and (max-width: @w-max) {
	.Error > .Nameplate {
		padding-left: 2rem;
		// background-size: auto 1rem;
	}	
}

@media screen and (max-width: @w-menu-2) {
	.Error > .Nameplate {
		padding-left: 2rem;
		// background-size: auto 60%;
	}	
}