@charset "UTF-8";

.Details.x-ico_level_2 {

    > details {
        details > summary::before{
            content: '';
            width: calc(var(--Ico)*.75);
            height: calc(var(--Ico)*.75);
            background-position: center;
            background-size: 95%;
            background-repeat: no-repeat;
            margin-right: 1rem;
            background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='currentColor'%3e%3cpath fill='%23666666' d='M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z'%3e%3c/path%3e%3c/svg%3e");
    
            border:1px solid @c-border;
            border-radius: 50%;

            .transition(transform);
        }

        details[open] > summary::before {
            transform: rotate(40deg);
            background-color: #d54041;
            background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='currentColor'%3e%3cpath fill='%232e2d33' d='M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z'%3e%3c/path%3e%3c/svg%3e");
            border-color:transparent;
        }
    }
    
 



}