@charset "UTF-8";

.Lang.on {
    --c-input-border-focus:transparent;

    //
    padding: 2rem .5rem 0rem;
    background-color: #424248;

    > ._shell {
        border-bottom:1px solid #666;
    }

    

}