@charset "UTF-8";

.Lang.on {
    // --c-input-border:var(--bg);
    --c-input-border-focus:var(--bg);

    //
    padding: 2rem .5rem 0rem;
    background-color: #424248;

    // > ._shell {
    //     border-bottom:1px solid #666;
    // }

    input {
        border-bottom: 1px solid var(--c-input-border-focus);
    }
 

}