@charset "UTF-8";

.Table.-sms {
    a {position: relative;}
    a::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: -1.5rem;
        // background-color: red;
    }
}

.Table.-paper {
    a {position: relative;}
    a::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: -1.5rem;
        // background-color: red;
    } 
}



//




// #Table_index.x-cell5 .cell-5,
// #Table_index.x-cell4 .cell-4,
// #Table_index.x-cell3 .cell-3,
// #Table_index.x-cell2 .cell-2{display: block;}


// #Table_index.x-cell3 .cell-3,
// #Table_index.x-cell2 .cell-2{
//     span, .content {
//         color: #eee;
//     }
// }



// .Table .cell-1 {
// 	// --c-text: @c-text-2;
// }


// #Table_index.x-cell3,
// #Table_index.x-cell2 {
//     .Table.-manager .cell-1 {
//         --c-text: #777;

//         b {
//             --c-text: #999;
//         }

//         a {color: inherit;}

//         //
//         opacity: .4;
//     }
// }

// #Table_index.x-cell2,
// #Table_index.x-cell3 {
//     .Table.-manager .cell-1 {
//         padding-bottom: 5px;
//     }
// }


// .Table.-manager .cell-1 {
//     .transition(all);
// }