@charset "UTF-8";



.Select > .select2{
    width: 100% !important;

    .select2-search__field {
        width: 100% !important;
    }
}




.select2-container {

	input {
		// --font: 11px;

		font-size:14px !important;
		line-height:calc(var(--ulol-font)*1.6);
		min-height: 14px;
	}

	// #tags {
	// 	min-width: 100px !important;
	// }
}

.Select ul,
.select2-results__options {
	--ulol-font: 11px;
	--ulol-line: calc(var(--ulol-font)*1.6);
}




.select2-results__options {
	font-size:11px;
	line-height:calc(var(--ulol-font)*1.6);
	//
	border-radius: 5px !important;
	padding: 2px 4px !important;
	padding-bottom: 10px !important;
}

.select2-selection__choice__remove {
	font-size:15px;
	// padding-top: 4px;
	// line-height: calc(100% - 4px);
	margin-right:4px !important;
	transform: translateY(2px);
}

.select2-results__option {
	// padding: 2px 0 2px 4px;
	// border-radius: 5px;
	margin-bottom: 2px;
}


// .select2-container--default {
 

// 	.select2-selection--multiple .select2-selection__choice__remove {
// 		margin-right: 4px;
// 	}
// 	.select2-selection--multiple .select2-selection__choice {
// 		padding-right: 8px;
// 	}



// 	.select2-search {
// 		background-color: transparent;
// 	}
// 	.select2-results__option {
// 		padding: 2px 0 2px 4px;
// 		border-radius: 5px;
// 		margin-bottom: 2px;
// 	}
// }

 

 
 