@charset "UTF-8";

html {
	--c-text:rgba(255, 255, 255, 0.5);
	--c-h:#37383c; //#312555;
	//
	--bg: #2d2c33;
	--bg-2: #424248;
 	// --bg-3: #f5f8fa;
 	// --bg-4: #f5f5f7;
	//
	// --bg-Talk: #f8f8f8;
 	// // //
	// --c-menu:#292c33;
	// --c-menu-2: #a2a3a3;
	// --bg-FixMenu:#fff;
	// --bg-menu: #e6e6e6;
	// --bg-menu-active: #fcfcfc;
	// --c-menu-active:#17181d;
	// --c-h:#252525;
	--c-btn:rgba(255, 255, 255, 0.5);
	--c-btn-hover:#333;
	--c-btn-border:var(--c-btn);
	

	// --bg-btn:radial-gradient(83.88% 314.71% at 37.64% -223.53%,#4463f0 0,#2829dd 55.51%,#3d8cea 95.47%,#37b3e4 120%);

	
	// --bg-btn-hover:#026cd6;
	//
	// --bg-footer:#242729;
	
}


//
.menu {
	--c-menu: rgba(255, 255, 255, 0.85);
	--c-menu-hover: rgba(255, 255, 255, 0.85);
	--c-menu-active: rgba(255, 255, 255, 0.85);
}

.menu.-tag {
	--c-menu: inherit;
	--c-menu-hover: inherit;
	--c-menu-active: #fff;
	--c-menu-border: @c-border;
	--c-menu-border-active: transparent;
	--bg-menu: #0d0e11;
	--bg-menu-hover: #0d0e11;
	--bg-menu-active:rgba(133, 168, 255, 0.15);
}

.menu.-tag.Kite {
	--c-menu: inherit;
	--c-menu-active: #fff;
	--bg-menu-kite: #424248;
	--bg-menu-kite-active: #2d2c33;
}

.menu.-tile {
	--c-menu:rgba(255, 255, 255, .5);
	--c-menu-border: hsla(0, 0%, 100%, 0.05);
	--c-menu-border-active: @c-border;
	--bg-menu: #0d0e11;
	--bg-menu-hover: #0d0e11;
	--bg-menu-active: linear-gradient(180deg, rgba(133, 168, 255, 0.05) 0%, rgba(133, 168, 255, 0.15) 100%);
	// --bg-menu-active: #0068d9;
	// --bg-menu-hover: #5c9ce6;
}

#Tools {
	.menu.-tag,
	.menu.-tile {
		--bg-menu-active:#404046;
		--c-menu-border: #111;
		--c-menu-border-active: #111;
		// --bg-menu-active:#ccc;
		--c-menu-active: rgba(255,255,255,.75);
	}
}


 

.Tabs ._tab {
	.menu.-tag label {
		border-color: hsla(0, 0%, 100%, .05);
	}
}

.menu.-tile {
	label.Bone {
		--c-text:rgba(255, 255, 255, .5);

		border-color: var(--c-menu-border);
	}
	input:checked ~ label {
		--c-text:rgba(255, 255, 255, .75);

		background: var(--bg-menu-active);
		border-color: var(--c-menu-border-active);
	}
}

// .menu.-tag.Kite {
// 	--c-menu: inherit;
// 	--c-menu-active: #fff;
// 	--c-menu-border: transparent;



//   }

form {
	// --c-input:inherit;
	--c-input-focus:#fff;
	// --c-input-border:transparent;
	// --c-input-placeholder:#919191;
	// --c-input-disabled:#D9D9D9;
	// --c-input-invalid:#c70000;
	// --c-input-abs-active:#677788;
	--bg-input:transparent;
	--bg-input-readOnly: transparent;
	// --bg-input-invalid: #f8f4ff;

	// ._shell.vol-Abs {
	// 	--c-input-placeholder:transparent;
	// }
}



.Green {
	--c-text:@green;
}


.Error > .Nameplate {
	// --c-Nameplate: #fff;
	// --bg-Nameplate: #7b92a4; //#f5ca99;

	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 16.5 16.5' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='7' fill='red'/%3e%3cpath fill='black' d='M8 16c-4.418278 0-8-3.581722-8-8s3.581722-8 8-8 8 3.581722 8 8-3.581722 8-8 8zm0-1c3.8659932 0 7-3.1340068 7-7s-3.1340068-7-7-7-7 3.1340068-7 7 3.1340068 7 7 7zm0-8c.5522847 0 1 .4477153 1 1v4c0 .5522847-.4477153 1-1 1s-1-.4477153-1-1V8c0-.5522847.4477153-1 1-1zm0-4c.5522847 0 1 .4477153 1 1s-.4477153 1-1 1-1-.4477153-1-1 .4477153-1 1-1z'%3e%3c/path%3e%3c/svg%3e");	
}


.Badge {
	--c-text:#333;
}

//
// .Citation {
// 	--bg-Citation: #fff;
// 	--bg-Citation-mbl: #eceef2;
// 	--c-Citation-border: @c-border;
// }


//

 






// .Btn.-lite {
// 	// --c-btn-border:#222;
// }


 

// .Black .Btn{
// 	--c-btn: #fff;
// 	--c-btn-hover: var(--c-btn);
// 	--c-btn-border: transparent;
// 	--bg-btn: #5282ff;
// 	--bg-btn-hover: #026cd6;
// }
