@charset "UTF-8";

@c-a: #5294ff;
// @c-a: hsla(0, 0%, 100%, .85); //#0057fa;
@c-text:hsla(0, 0%, 100%, .75);
@c-text-2:hsla(0, 0%, 100%, .2);
@c-text-grey:hsla(0, 0%, 100%, .5);
 
 
@c-border:hsla(0, 0%, 100%, 0.15);


.text-secondary {
    --c-text:@c-text-2;
}

.Badge.-def {
	--x-bg-badge: var(--bg);
	--x-bg-badge-bg:#666;
}
.Badge.-blue {
	// --x-bg-badge: var(--bg);
	--x-bg-badge:#5d76cb;
}

 


// //

// .Btn.-grad {
// 	--c-btn:#fff;
// 	--bg-btn: radial-gradient(83.88% 314.71% at 37.64% -223.53%, #4463f0 0, #2829dd 55.51%, #3d8cea 95.47%, #37b3e4 120%);
// 	--bg-btn-hover: radial-gradient(83.88% 314.71% at 37.64% -223.53%, #4463f0 0, #2829dd 55.51%, #3d8cea 95.47%, #37b3e4 120%);
// }


// .Btn.-lite {
// 	--bg-btn:#f7f7f7;
// 	// --bg-btn-hover:#f7f7f7;
// }

// .Btn {
// 	--c-btn-hover:#fff;
// 	--bg-btn-hover:#026cd6;
// }



