@charset "UTF-8";

@import "less/blank/__.less";
@import "less/lib/@/@c.less";
@import "less/lib/@/_ol.less";
@import "less/lib/@/_ol.less";


html {
	--family: var(--family-OpenSans);
	--family-2: var(--family-Castle);
	//
	--bg-selection:pink; 
}


select {
	--bg-select: red;
	--bg-option: yellow;
	--c-select-border:blue;
	--c-option-border: orange;

}

// @import "less/lib/theRearguard/_ol.less";

//
@import "./zLara/@/@.less";
@import "./zLara/Lite__.less";
