@charset "UTF-8";

@import "./less/blank/@w.less"; 


html {
    --family: var(--family-Inter);
    --bg-selection: pink;
    --bg:#d4d4d7;
    --bg-2:#fff;

    background-color: var(--bg);
}

.bg {
    background-color: var(--bg-2);
}


@media (min-width:@w-beyond-plus) and (max-width: @w-max) {

    #Fon .x-wave::before
    {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        height: 2rem;
        bottom: -1rem;
        mask: url("data:image/svg+xml,%0A%3Csvg data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1920 33.787'%3E%3Ctitle%3Ewave%3C/title%3E%3Cpath d='M0,16.4V20.61c192,0,192,8.423,384,8.423S576,20.61,767.994,20.61,960,29.033,1152,29.033s192-8.423,384-8.423,192,8.423,384,8.423V16.4Z' fill='%23000'/%3E%3Cpath d='M1920,18.489V5.854c-192,0-192,8.423-384,8.423s-192-8.423-384-8.423-192,8.423-384.006,8.423S576,5.854,384,5.854,192,14.277,0,14.277v4.212Z' fill='%23000'/%3E%3C/svg%3E%0A") no-repeat 100% 50%;
        mask-size: 110% auto;
        background-color: var(--bg);
      }
 
      #Fon {
        background-size:cover;
        background-position: center top;
      }
    
}

@media screen and (max-width:@w-menu-2) {
    #Fon {
        background-size: auto 300px;
        background-position: left 100px;
      }
}

#Fon {
    background-repeat: no-repeat;
    background-image: url(https://thumb.tildacdn.com/tild3934-3933-4438-b631-666164366263/-/format/webp/P1844401.jpg);
}

#Fon::before
{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, .5) 0, rgba(255, 255, 255, .95) 70%);
  background-size: 150%;
  background-position: center;
}

.shadow {
    box-shadow: 0 0 2px 0 rgba(0,0,0,.1),0 2px 6px 0 rgba(0,0,0,.1);
}

 