@charset "UTF-8";

@import "less/blank/__.less";
@import "less/blank/VARcolors.less";
@import "less/lib/@/@c.less";
	@import "./zOloid/@/__.less";
	@import "./zOloid/@/@.less";
	@import "./zOloid/@/VARcolors.less";
@import "less/lib/@/_ol.less";
//
@import "less/min/Hawaii/_ol.less";
@import "less/min/Hawaii/Apparent/_ol.less";
@import "less/min/HawaiiPlus/_ol.less";
@import "less/min/Aloha/_ol.less";
@import "less/min/menu/__.less";
@import "less/lib/x/x-bg/__.less";
@import "less/lib/x/x-bg/_ol.less";
@import "less/lib/x/x-border/__.less";
@import "less/lib/x/x-border/_ol.less";
@import "less/lib/x/x-color/__.less";
@import "less/lib/x/x-color/_ol.less";
@import "less/lib/x/x-radius/_ol.less";
//
@import "less/min/x-bg/_ol.less";
@import "less/min/x-index/_ol.less";
////
@import "less/lib/Design/Dark.less";
@import "less/lib/Design/vol-Terms.less";
@import "less/lib/Design/x-Terms.less";
//
@import "less/lib/elem/Burger/index.less";
@import "less/lib/elem/Burger/vol/def.less";

//
@import "./less/lib/theFont/font-OpenSans.less";
@import "./xxBLANK/x-bg/_ol.less";

html {
	--family: var(--family-OpenSans);
}

h1,h2 {
	font-weight: 500;
}
.text b,
.text strong {
	font-weight: 700;
}
.text b {
	color: var(--c-h);
}