@charset "UTF-8";

.Estimate.-star {
	--x-Stars-ico: ~"calc(var(--Ico)*.55)";
	display: flex;
}

.Estimate.-star > div {
	margin-right: .2rem;
	width: var(--x-Stars-ico);
	height: var(--x-Stars-ico);
}