@charset "UTF-8";

 

@media (min-width:@w-menu-2-plus) and (max-width:@w-max) {
	.menu.vol-grid {
		a,.a {
			
			min-height: 228px;

			> ._wrap {
				flex-grow: 1;

				padding-bottom: 1rem;
			}

			img {
				max-height: 120px;
				object-fit: contain;
				margin: 0 auto;
				mix-blend-mode: multiply;
			}
		}
	}
}




@media screen and (max-width:@w-menu-2) {

}
