@charset "UTF-8";

@c-menu-2: #a2a3a3;
@c-bordet-Time: #e6ecf0;
@bg-Wagon: #f5f5f7;


html {
	--c-brand: #176dea;
	--c-text:#232323;
	--c-h:#323555; //#323555; //#37383c; //#312555;
	--c-h-2:#353266; //#463578;
	//
	--bg: #f6f6f6; // #d7dbef
	--bg-2: #ffffff; // #f3f4fa;
	--bg-3: #f2f2f2; // #f3f4fa;
	--bg-Fix:#fff;;
 	// --bg-4: #f5f5f7;
	--bg-opacity: rgba(23, 32, 51, .7);
	--bg-opacity-lighter:rgba(50, 50, 50, .2);
	//
	--bg-FixMenu:#fff;
	//
	--c-btn: #85bfd6;
	--c-btn-hover: #fff;
	--c-btn-border: #85bfd6;
	--bg-btn: #f9f9fb;
	--bg-btn-hover: #026cd6;
	//
	--bg-selection:#c5d0e8; 
}


// .Btn.vol-grey {
// 	--c-btn: #232323;
// 	--c-btn-hover: #232323;
// 	--c-btn-border: transparent;
// 	--bg-btn: #e6e6e6;
// 	--bg-btn-hover: #e6e6e6;
// }

// .Btn.vol-white {
// 	// --c-btn: #111;
// 	// --c-btn-hover: #232323;
// 	// --c-btn-border: transparent;
// 	--bg-btn: #fff;
// 	// --bg-btn-hover: transparent;
// }


// .Btn.vol-grad {
//     --c-btn: #fff;
//     --c-btn-border: transparent;
//     --bg-btn: radial-gradient(83.88% 314.71% at 37.64% -223.53%, #4463f0 0, #2829dd 55.51%, #3d8cea 95.47%, #37b3e4 120%);
//     --bg-button: radial-gradient(83.88% 314.71% at 37.64% -223.53%, #4463f0 0, #2829dd 55.51%, #3d8cea 95.47%, #37b3e4 120%);
//     --bg-btn-hover: radial-gradient(83.88% 314.71% at 37.64% -223.53%, #4463f0 0, #2829dd 55.51%, #3d8cea 95.47%, #37b3e4 120%);
// }



// .Btn.vol-audio {
// 	--c-btn: #111;
// 	--c-btn-hover: #232323;
// 	--c-btn-border: transparent;
// 	// --bg-btn: #e6e6e6;
// 	--bg-btn-hover: transparent;
// }



// .-Black {
// 	.Btn {
// 		--c-btn: #fff;
// 		--c-btn-border: #1ebfbf;
// 		--bg-btn-hover:#222528;
// 	}
// }

.menu.-top {
	--c-menu: @c-menu-2;
	--c-menu-active: var(--c-brand);
}

.menu.-tag {
	--c-menu-active: var(--c-brand);
	--c-menu-border-active: #e6e6e6;
}

.menu.-nav {

}

.menu.-tag.Kite {
	// --c-menu: inherit;
	// --c-menu-active: #fff;
	--c-menu-border: transparent;
	--c-menu-border-active: transparent;
	--bg-menu: transparent;
	--bg-menu-hover: transparent;
	--bg-menu-kite: #eaedf1;
	// --bg-menu-kite-active: #2d2c33;
}

@media (min-width:@w-beyond-plus) and (max-width: @w-max) {

}


@media (min-width:@w-menu-2-plus) and (max-width: @w-max) {


}

@media (min-width: @w-menu-2-plus) and (max-width: @w-beyond) {

}

@media screen and (max-width: @w-menu-2) {

	#FixMenu {

		border-top: 1px solid #e6e6e6;
		background-color: #fff;
		.menu.-fix {
			a {
				color: #000;
			}
		}
	}
}


 
#Bread {
	a {color: var(--text);}

	li > span {color: @grey;}
}

.Details {
	--c-summary: var(--c-text);
	--c-summary-active: #677788;
	--c-summary-border: rgba(17, 20, 45, 0.05);
	--bg-details: #f0f7f9;
	--bg-details-c-border: #fff;
	--bg-summary: rgba(246,247,251,1);
	--bg-summary-open: #e6e6e6;
	--bg-summary-before: var(--c-brand);
	--bg-summary-before-open: #333;
  }

.Talk {
	--bg-Talk:#f8f8f8;
}

.Citation {
	--bg-Citation: #fff;
	--bg-Citation-mbl: #eceef2;
	--c-Citation-border: @c-border;
}

.Nameplate {
	--c-Nameplate: #fff;
	--bg-Nameplate: #7b92a4; //#f5ca99;
}

.Chat {
	--Chat-c-tail-Q: #eceef2;
	// --Chat-c-tail: #446dff;
	--Chat-bg-Q: #fff;

	--Chat-shadow-Q:0 0 2px 0 rgba(0, 0, 0, 0.1), 0 2px 6px 0 rgba(0, 0, 0, 0.1);

}

// #Footer {
// 	--c-text:#747a96;
// 	--c-h:#0d0a46;

// 	.h {
// 		color: var(--c-h);
// 	}
// }
 
//
// @import "../../lib/Design/Apple.less";
// @import "./color/menu.less";
// @import "./color/detail.less";
// @import "./color/Citation.less";
// @import "./color/Nameplate.less";