@charset "UTF-8";


@media (min-width: @w-menu-2-plus) and (max-width: @w-max) {
    .x-11041054 {
        display: grid;
    }
}


@media (min-width: @metrika-80-plus) and (max-width: @w-max) {

    .x-11041054 {
        grid-template-columns: 3fr 1fr;
        // > div {margin-bottom: 4rem;}
    }

    .x-11041054 > .in_1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding-right: 3rem;
    }

}

@media (min-width: @w-menu-2-plus) and (max-width: @metrika-80) {

    .x-11041054 {
        > div {
            margin-bottom: 2rem;
        }
        > .in_1 {
            display: flex;
            // justify-content: space-around;
    
            > div {
                margin-right: 6rem;
            }
        }
    }
    


    .x-11041054 > .in_2 .h {display: none;}

}

@media screen and (max-width: @w-menu-2) {

    .x-11041054 {
        margin-bottom: 4rem;
        
        > .in_1 {
            margin-bottom: 4rem;

            > div {
                margin-bottom: 2rem;
            }
        }
    }

    .x-21042247 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: .5rem;
    }


    .in_1 {
        --font:18px;

        .void-s {
            --x-Void:1rem;

            margin-bottom: 3rem;
        }
    }

    .x-none {display: none !important;}

    

}