@charset "UTF-8";



// @media screen and (max-width: @w-menu-2) {
// 	.wrap-form  {
// 		--c-text:#fff;
// 		--c-h:#fff;
// 	}
// }


// .Ef.-list > ._ef.archive {

// 	background: linear-gradient(to right, transparent, var(--bg));

// 	dl,
// 	.Blog.text,
// 	._name .hMin {opacity: .5;}

// 	._last {opacity: 0;}
// }

// #Ef_equipment.archive {
// 	margin-top: .5rem;
// }



// #Lang a,
// #Footer,
// dl a,
// .x-note,
// ._h, ._h *, ._h2, .hMin,
// h1, .h1,
// h2, .h2 {
// 	color:var(--c-h);
// 	// --c-text:var(--c-h);
// }

// #Lang  .active a{
// 	color:@c-a;
// }

// .ch2 {
// 	--c-text:var(--c-h-2);
// }


// .x-note a {
// 	color: var(--c-h);
// }


// #Footer dl a {
// 	color: #000;
// }

// .Contact a {
// 	color: #333;
// }

// .x-tableOfContents {
// 	ul li a {color: #414141;}
// }

// .x-09041441 .h2 {
// 	color: #fff;
// }
 

// .Blog .Teaser .Poster {
// 	--c-h: #fff;
// 	--c-text: #fff;
// }
