@charset "UTF-8";




.Wagon .Ava,
.face::before {
	background-image: url(/images-0/ava_face.png);
}

.Call.var-imago {
	background-image: url(/images/z_imago/ava/ava_imago.jpg);
}

.Ava.var-alfa,
.var-alfa.face::before {
	background-image: url(/images/ava/ava_alfa.png);
}

.Ava.x-21041657 {
	background-image: url(/images/ava/ava_21041657.png);
}

.face::before,
.Ava,
.Call {
	background-size: cover;
}

.Ava.-bg {
	background-color: var(--bg-imago-1);
}


/*



//









.var-imago.face::before{
	background-image: url(/images/ava/ava_imago.png);
}



.Ava.-load {
	background-image: none;
	background-color: transparent;
}

.Call {
	background-image: url(/images/ava/ava_imago.png);
}





/**/