@charset "UTF-8";


.note {
    --x-note-w-grid: 10px;
    --x-note-color-grid: rgba(0, 0, 0, .02);

    background-color: red !important;
}


.note.vol-list {
    margin-top: 1rem;
    margin-bottom: 2rem;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 10px 0 -5px #eee, 0 10px 1px -4px rgba(0, 0, 0, 0.15), 0 20px 0 -10px #eee, 0 20px 1px -9px rgba(0, 0, 0, 0.15);
}

.note.-bgGrid {
    position: relative;
    background-size: var(--x-note-w-grid) var(--x-note-w-grid);
    background-image: linear-gradient(90deg, var(--x-note-color-grid) 1px, transparent 0), linear-gradient(180deg, var(--x-note-color-grid) 1px, transparent 0);

    > * {position: relative; z-index: 5;}
}

.note.-bgGrid::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    background: radial-gradient(rgba(255,255,255,1) 50%, rgba(255,255,255,.6) 80%, transparent);
}