@charset "UTF-8";

// .Badge.text-m {
// 	--font-min: var(--font);
// }

.Badge,
.Badge > ._font,
.Nameplate {
    font-size: var(--font-min);
}

.Badge.-S > :first-child {
	font-size: calc(var(--font-min) - 2px);
}


.Badge.-XS> :first-child {
	font-size: calc(var(--font-min) - 4px);
}

.Badge,
.Nameplate {
    line-height: ~"calc(var(--font-min) * 1)";
}

.Badge > ._font {
	line-height: 120%;
}

// .Badge> :first-child {
// 	// min-height: ~"calc(var(--font-min) * 1.4)";
// 	line-height: var(--font-min);
// }

// .Badge > ._font {
// 	height: ~"calc(var(--font-min) * 1)";
// }