@charset "UTF-8";

 
@media screen and (max-width:@w-menu-2) {

	.menu.-tag.-tileMbl > * {
		font-size: var(--fontMenu);
	}

}

.menu {
	> * {
		font-size: var(--fontMenu);
	}
}


.menu.-tag > * {
	font-size: var(--fontMenuTag);
}


.menu.-main > * {
	font-size: var(--fontMenuMain);
}

.menu.-tile {
    // > * {
    //     div {
    //         font-size: var(--font-tile);
    //         line-height: ~"calc(var(--font-tile) * 1.4)";
    //     }
    // }
    // span {
    //     font-size: var(--rem-h);
    //     line-height: var(--rem-h);
    // }
}
