@charset "UTF-8";


@media (min-width: @w-menu-2-plus) and (max-width:@w-max) {
	.letterLow_PC {
		text-transform: lowercase;
	}
}


body h1.inherit {
    font-size: inherit;
    line-height: inherit;
}

.dropcap:first-letter {
	float: left;
	padding-top: 4px;
	padding-right: 2px;
	// height: 340%;
	font-size: 280%;
	// height: calc(var(--rem-p)*2);
	// font-size: calc(var(--rem-p)*3.5);
	vertical-align: text-top;
	text-transform: uppercase;
}

.letterUp {
	text-transform: uppercase;
}


.letterLow{
	text-transform: lowercase;
}

 