@charset "UTF-8";

.content-xxxs {
	--this-font:: calc(var(--font-min) - 2px);
}

.content-xxs {
	--this-font: calc(var(--font-min) - 1px);
}

.content-xs {
    --this-font: var(--font-min);
}

.content-s {
    --this-font: calc(var(--font) - 1px);
}

.content {
	--this-font:var(--font);
}

.content-m {
	--this-font: calc(var(--font) + 1px);
}

 .content-l {
	--this-font: calc(var(--font) + 2px);
}


 


// .content.-vw {
// 	font-size: clamp(var(--font-min),calc(var(--indexW)*1),var(--font));
// 	line-height: clamp(calc(var(--font-min) + 4px),calc(var(--indexW)*1.4),calc(var(--font)*1.4));
// 	// font-size: clamp(calc(var(--font-min)),calc(var(--indexW)*1.8),var(--font));
// 	// line-height: clamp(calc(var(--font-min)*1.4),calc(var(--indexW)*1.8*1.4),calc(var(--font)*1.4));
// }
// .content.-vw.wide {
// 	font-size: clamp(var(--font-min),calc(var(--indexW)*1),var(--font));
// 	line-height: clamp(calc(var(--font-min) + 6px),calc(var(--indexW)*1.8),calc(var(--font)*1.8));
// 	// font-size: clamp(calc(var(--font-min)),calc(var(--indexW)*1.8),var(--font));
// 	// line-height: clamp(calc(var(--font-min)*1.4),calc(var(--indexW)*1.8*1.4),calc(var(--font)*1.4));
// }








// .content-m.-lineHeight {
//     line-height: calc(var(--font) + 1px + 5px);
// }

// .content-m.wide {
// 	line-height:calc(var(--rem-p) * 1.75);
// }
// .content-m.widest {
// 	line-height:calc(var(--rem-p) * 2);
// }
// @media (min-width: @w-menu-2-plus) and (max-width: @w-max) {
// 	.content-m.wide_PC {
// 		line-height:calc(var(--rem-p) * 1.75);
// 	}
// 	.content-m.widest_PC {
// 		line-height:calc(var(--rem-p) * 2);
// 	}
// }

// .content-l.-lineHeight {
//     line-height: calc(var(--font) + 2px + 5px);
// }


// .content-min {
// 	font-size: var(--font-min);
// 	line-height: calc(var(--font-min) + 1px);
// }


// .content-xxxs,
// .content-xxs,
// .content-xs {
// 	line-height: calc(var(--font-min) + 1px);
// 	// background-color: red;
// }

// .content-xxs.wide,
// .content-xs.wide {
// 	line-height: calc(var(--font-min) + 6px) !important;
// }



.content-xxxs,
.content-xxs,
.content-xs,
.content-s,
.content-m,
.content-l,
.content {
    font-size: var(--this-font);
    line-height: 140%;
}


.content-s.wide,
.content-m.wide,
.content-l.wide,
.content.wide {
	line-height: 180%;;
}

.content-s.slim,
.content-m.slim,
.content-l.slim,
.content.slim {
	line-height: 120%;;
}

.content-xxxs,
.content-xxs,
.content-xs,
.content-s.-lineHeight,
.content-m.-lineHeight,
.content-l.-lineHeight,
.content.-lineHeight {
    line-height: 110%;
}
 


@media (min-width: @w-menu-2-plus) and (max-width: @w-max) {
	.content.-lineHeight_PC {
		font-size: var(--this-font);
		line-height: 110%;
	}
}

h1.-vw, .h1.-vw {
	font-size: clamp(calc(var(--rem-h2) + 2px),var(--this-font),calc(var(--indexW)*var(--rem-h1-ratio)));
	// line-height: clamp(calc(var(--rem-h2)*1.4 + 2px),calc(var(--this-font)*1.4),calc(var(--indexW)*var(--rem-h1-ratio)*1.4));
}
h2.-vw, .h2.-vw {
	font-size: clamp(calc(var(--rem-h2) - .5rem),var(--this-font),calc(var(--indexW)*2));
	// line-height: clamp(calc(var(--rem-h2)*1.4 + 2px - .5rem),calc(var(--rem-h2)*1.4),calc(var(--indexW)*2*1.4));
}