@charset "UTF-8";

.-Prev.vol-stockmann,
.Prev.vol-stockmann {
    --Prev-gap:4px;
    --Prev-before:150%;
}

.-Prev.vol-stockmann.stockmann-x5,
.Prev.vol-stockmann.stockmann-x5 {
    --Prev-x:calc(20% - 3.2px);
}

.-Prev.vol-stockmann .Teaser,
.Prev.vol-stockmann {
    margin-right: var(--Prev-gap);
}
