@charset "UTF-8";



.x-18091144 {
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(151, 165, 193, 0.2));
}


@media (min-width:@w-menu-2-plus) and (max-width: @w-max) {


	#body.-compare {
		.Bee.bg,
		.x-19071620 {
			background: var(--bg);
		}
	}
	
 



	.Ef.x-equipment .x-type {
		background-color: #f5f8fa;
	  }


	.x-28081813 {
		background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(151, 165, 193, 0.2));
	}
	



	.bg {
		background-color: var(--bg-2);
	}
	.bg-2 {
		background-color: var(--bg);
	}


	// .x-24041606,

	.x-05041315.x-white {
		--x-05041315-bg:#fff;
	}

	.x-05041315 {
		--x-05041315-bg:@bg-Wagon;

		._close,
		.OnOff > .Preamble {
			background-color: var(--x-05041315-bg);
		}
	}

	.x-28111414 {
		background: var(--bg-imago-1);
	}


	#body.Z2 .Golden.-bg ._bg::after {
		opacity: 1;
	}

	.Golden.-bg {
		// --x-bg:linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(151, 165, 193, 0.2));;

	
		._bg::after,
		._bg::before {
			z-index: 0;
			content: '';
			position: absolute;			
			right: 0;
			bottom: 0;
			width: var(--w);
		}

		._bg::before {
			top: 0;
			// background: var(--bg);
			background: linear-gradient(to top, rgba(151, 165, 193, .2), var(--bg) 100px, var(--bg) 100%)
			// background: linear-gradient(to bottom, rgba(151, 165, 193, .2) 0, rgba(151, 165, 193, .2) 100px, rgba(151, 165, 193, .2) 100%);
		}

		._bg::after {
			height: 100px;
			opacity: 0;
			background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
		}


	}



}


@media (min-width:@metrika-90-plus) and (max-width: @w-max) {
	#preWrap ._logo {
		width: calc(var(--Logo) - 100px);
	}
}

// @media (min-width: @w-menu-2-plus) and (max-width: @metrika-90) {
// 	.x-28081813 {
// 		background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(151, 165, 193, 0.2));
// 	}
// }

@media (min-width: @w-menu-2-plus) and (max-width: @metrika-80) {
	.x-24041606 {
		._close,
		.OnOff > .Preamble {
			background-color: @bg-Wagon;
		}
	}
	
}




@media (min-width:@metrika-80-plus) and (max-width: @w-max) {
	.Talk {
		.A {
			._wrap {
				background-color: #eceef2;
			}
		}
	}
}



@media (min-width: @w-beyond-plus) and (max-width:  @w-max) {
	#preWrap ._logo {
		background-position: left center;
	}
	
}

@media (min-width: @w-beyond-plus) and (max-width: @metrika-90) {
	#preWrap ._logo {
		width: calc(var(--Logo) - 80px);
	}
}

@media (min-width: @w-menu-2-plus) and (max-width: @w-beyond) {
	#preWrap ._logo {
		width: calc(var(--Logo) - 30px);
		background-position: left 25px;
	}
	.menuBeyond .x-aside {
		background-color: #fff;
	}
}


@media screen and (max-width: @w-menu-2) {
	

	.x-05041315 .OnOff.On > ._open::before,
	.x-05041315 .OnOff.On > ._open {
		background-color: var(--bg);
	}



	.bg.-mbl,
	.bg-mbl {
		background-color: var(--bg-2);
	}


	.x-24041606,
	.x-05041315 {
		._close,
		.OnOff > .Preamble {
			background-color: #fff;
		}
	}

	.x-28111414 .Track {
		background: var(--bg-imago-1);
	}



	
	.wrap-form {
		background-color: #101828;

		textarea{
			background-color: rgba(0, 0, 0, 0.25);
		}
	}


}



//


.x-09041441 {
	background: url(/images/bg/journalBg.svg);
	background-size: cover;
}

#body {background-color: var(--bg);}


#preWrap ._logo {
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-image: url(/images/logo.svg);
}


#Veil,
#inputMenuMain:checked ~ .menuOpen .Hook {
	background-color: var(--bg-opacity-lighter);
}

#Veil:hover {
	background-color: rgba(50, 50, 50, 0.1);
}



.x-28111414 ._btn .Ico,
.bg-pop,
// .x-04120650 .Wagon,
// .Slider .item,
#Geek > .-Close,
#Geek > .-Close::after,
#preWrap > ._win {
	background-color: #fff;
}


.Bread {
	--Bread-ico-bg:#fff;
}

#Footer .x-line {
	background-color: #19191a;
}



.Badge.-imago {
	--x-bg-badge: #9cc6d7;
	--x-bg-badge-c: #fff;
}

.bg-surfshark {
	background-color: #16191c;
}
.bg-surfshark-2 {
	background-color: #2e3033;
}
.bg-surfshark-3 {
	background-color: #eeeeee;
}

.Blog .Teaser .x-bg {
	background-color: #00aeef;
}

.Responses {
	background-color: #fafafa;
}


.x-30101051 {
	background:linear-gradient(to bottom right, #353535, #222);
}

/*




.Form .Check.-text {
	--x-Check-bg-on:var(--c-brand);
}




.x-achievement {
	.bg-tool {
		background-color: #fff;
		border: 1px solid #eee;
		background-image: url(/images/bg/sms/2.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 80px 40px;
	}
}








.text {
	ul, ol {
		> li {
			> ._bg {
				background-color: #eceef2;
			}
		}
	}
}
 

.x-21042247.x-grey {
	.Gaud {
		--x-Gaud-bg:var(--bg);
	}
}





#body > .x-footer-paint {
	background-color: #19191a;
	// background-color: @bg-Black;
}

 



.FixMenu.-pad .Hamburger {
	--x-Hamburger-bg:#364364;
}






#Geek .Details {
	// --c-summary: #11142d;
	// --c-summary-active: @c-50;
	// --c-summary-border: rgba(17, 20, 45, .05);
	--bg-details: #fff; //#f2fafc;
	// --bg-summary: #f5f5f5;
	// --bg-summary-open: #f5f5f5;
	// --bg-summary-before: var(--c-brand); //#8ccc98;
	// --bg-summary-before-open: #333;
}



.Message .Sms {
	background-color: #fff;
	> ._wrap {
		background-image: url('/images/bg/sms/3.png');
		background-size: auto 100%;
		background-repeat:no-repeat;
	}

	._wrap::before {
		background-repeat:no-repeat;
		background-position:center;
		background-size:100% auto;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16.5 16.5'%3e%3cpath fill='%23ffffff' d='M8 16c-4.418278 0-8-3.581722-8-8s3.581722-8 8-8 8 3.581722 8 8-3.581722 8-8 8zm0-1c3.8659932 0 7-3.1340068 7-7s-3.1340068-7-7-7-7 3.1340068-7 7 3.1340068 7 7 7zm0-8c.5522847 0 1 .4477153 1 1v4c0 .5522847-.4477153 1-1 1s-1-.4477153-1-1V8c0-.5522847.4477153-1 1-1zm0-4c.5522847 0 1 .4477153 1 1s-.4477153 1-1 1-1-.4477153-1-1 .4477153-1 1-1z'%3e%3c/path%3e%3c/svg%3e");
		// background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNHB4IiBoZWlnaHQ9IjI0cHgiIHZpZXdCb3g9IjAgMCA0OCA0OCI+CiAgICA8cGF0aCBkPSJNMiA0Mmg0NEwyNCA0IDIgNDJ6bTI0LTZoLTR2LTRoNHY0em0wLThoLTR2LThoNHY4eiIgZmlsbD0iI2VhODYwMCIvPgo8L3N2Zz4=);

	}
}

// .Close {
// 	--x-Close-bg-an:#fff;
// }

.Dot.-inText {
	--x-bg-dot:#666;
}


 




 

// @media (min-width:@w-menu-2-plus) and (max-width: @metrika-80) {
// 	.Talk {
// 		.A > ._wrap {
// 			background-color: #fff;
// 		 }
// 	}
// }

@media (min-width: @w-menu-2-plus) and (max-width: @w-beyond) {
 
	#menuMain .Mid_Bey.x-menuMain > .Abs {
		background-color: #fff;
	}
}


 


@media (min-width:@w-menu-2-plus) and (max-width: @w-max) {

	.Ef.x-equipment {
		.x-type {
			background-color: #f5f8fa;
		}
	
	}


	.Ef.-bg ._wrap {
		background-image: url('/images-0/backgrounds/b1.svg');
		background-repeat: no-repeat;
		background-position: 200px center;
		background-size: 100% auto;
	}
	


	


	body.Z2 .Golden.-bg ._bg.x-Z2::after {
		opacity: 0;
		.transition(opacity);
	}




 



	

 
 

	// .x-24041606,
	// .x-05041315 {
	// 	.OnOff.On > ._open::before {
	// 		background-color: #fff;
	// 	}
	// }
 




}

@media screen and (max-width: @w-menu-2) {


	.Back a {
		background-color: #fff;
	}




	.x-05041315 .OnOff > ._close, .x-05041315 .OnOff > .Preamble {
		background-color: #fff;
	}
 
	
	.Details {
		// --c-summary: #11142d;
		// --c-summary-active: @c-50;
		// --c-summary-border: rgba(17, 20, 45, .05);
		--bg-details: #fff; //#f2fafc;
		// --bg-summary: #f5f5f5;
		// --bg-summary-open: #f5f5f5;
		// --bg-summary-before: var(--c-brand); //#8ccc98;
		// --bg-summary-before-open: #333;
	}
	


	.bg.-mbl {
		background-color: var(--bg-2);
	}


	.bg-2.-mbl {
		background-color: var(--bg);
	}


	.menu.-fix {
		background-color: #fff;
	}

	#html {
		background-color: #37383c;
	}


	// .menuOpen .menu, .menuOpen .menu::after {
	// 	background-color: var(--bg-FixMenu);
	// }

	#x_07041557 {
		.Btn.-lite {
			background-color: var(--bg-btn-hover);
		}
	}

}
// .Blog .x-bg {
// 	background-color: #00aeef;
// }

// .x-04120650 ._open {
// 	background-color: #eceef2;
// }


/**/