@charset "UTF-8";



.bg.-tornado {
    background-image: url('/images-0/backgrounds/b1.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
}