@charset "UTF-8";

.menu.x-30081126 {
    // --c-menu: var(--c-text);
    // --c-menu-active: var(--c-text);
    // --c-menu-border: #fff;
    --bg-menu-hover:#657786;// #f2f3f7;
    --bg-menu:#657786;// #f2f3f7;
    --bg-menu-active: #fff;
}

@media screen and (max-width: @w-menu-2) {

    // .menu.-tag {
    //     .Bone {
    //         --bg-menu: rgba(0,0,0,.1);
    //         --bg-menu-active: rgba(255,255,255,.8);
    //     }
    // }

    .menu.-tag .Bone,
    .x-25061807 .menu.-tag,
    .x-25061807 .menu.-tile,
    .menu.-tileMbl {
        --c-menu:#eee;
        --c-menu-hover:#eee;
        --c-menu-active:inherit;
        --c-menu-border:transparent;
        --bg-menu:rgba(0, 0, 0, .1);
        --bg-menu-hover:rgba(0, 0, 0, .1);
        --bg-menu-active:#e8f3f4;
    }


}





// @media (min-width:@w-menu-2-plus) and (max-width: @w-max) {

//     .menu.x-faq {
//         --c-menu: @grey;
//         --c-menu-active: inherit;
//         --c-menu-border: transparent;
//         --bg-menu:transparent;// #657786;
//         --bg-menu-active: #e6e6e6;
//     }

// }


// @media screen and (max-width: @w-menu-2) {
    


    

//     .menu.-tag.-dark.x-05071759 {
//         --c-menu:#eee;
//         --c-menu-hover:#eee;
//         --bg-menu:rgba(0, 0, 0, .1);
//         --bg-menu-hover:rgba(0, 0, 0, .1);
//         --bg-menu-active:#e8f3f4;
//     }
 

// }


 