@charset "UTF-8";



// @media (min-width:@w-menu-2-plus) and (max-width:@w-max) {


@media (min-width:@metrika-100-plus) and (max-width:@w-max) {
    #body.shema-aside {
        .ai-wrapAside {
            padding-right: calc(var(--Aside));
        }
    }
}

@media (min-width:@metrika-80-plus) and (max-width:@metrika-100) {    
        #body.shema-aside {
            .ai-wrapAside {
                padding-right: calc(var(--Aside)*.5);
            }
        }
}

@media (min-width:@metrika-60-plus) and (max-width:@metrika-80) {   
    #body.shema-aside {
        .ai-wrapAside {
                padding-right: calc(var(--Aside)*.25);
        }
    }
}