@charset "UTF-8";


.v-EN,
.v-Lite {
    background-color: red !important;
}

#body .EN {
    // display: none;
    background-color: purple;
}
#body.EN .EN {
    background-color: orange;
}


//
#body.displayShield {
    .D-Shield.-on  {
        display: flex;
    }
    .D-Shield.-off {
        display: none;
    }
}

#body.EN {
    .vol-seo .D-Seo .En,
    .En,
    .D-En.-on  {
        display: block;
    }
    

    .D-Seo .En,
    .D-En.-off {
        display: none;
    }
}

//
.item .D-Db {
    height: 1rem;
    overflow: hidden;
}



//

.vol-relation .D-Relation.-on,
.vol-db .D-Db.-on,
.vol-status .D-Status.-on,
.vol-seo .D-Seo.-on,
.vol-lite .D-Lite.-on {display: flex;}

.vol-relation .D-Relation.-off,
.vol-db .D-Db.-off,
.vol-status .D-Status.-off,
.vol-seo .D-Seo.-off,
.vol-lite .D-Lite.-off {display: none;}





//

.item.manager-showParam {
    div[class*="D-"]{
        display: flex;
    }

    .manager-showParamNone {
        display: none !important;
    }
}







// #Table_index.x-pause .pause,
// #Table_index.x-active .published  {
//     display: none;
// }





// ////

// .v-Meta.-title {
//     .v-Meta_title.-off {
//         display: none;
//     }
// }

// .v-Meta.-description {
//     .v-Meta_description.-off {
//         display: none;
//     }
// }

// .v-Meta.-tags {
//     .v-Meta_tags.-off {
//         display: none;
//     }
// }

// .v-Meta.-category {
//     .v-Meta_category.-off {
//         display: none;
//     }
// }










// #body .EN, #body .EN-flex,
// .v-EN.-on,
// .v-Selva.-on,
// .v-Status.-on,
// .v-DB.-on,
// .v-Lite.-on,
// .v-Seo.-on {
//     display: none;
// }

// #body.SATIRA {
//     .Table .table-wrap {
//         transition: padding-top .1s ease-out;
//         -webkit-transition: padding-top .1s ease-out;
//     }
// }

// #body.EN {
//     .EN {display: block;}
    
//     .EN-flex,
//     .v-EN.-on {display: flex;}

//     .v-EN.-off {display: none;}
// }

// //
// .vol-seo {
//     .v-Seo.-on  {
//         display: flex;
//     }
//     .v-Seo.-off {
//         display: none;
//     }


//     .Table {
//         .table-wrap {
//             padding-top: 5px;
//         }
//         .item {
//             .x-name {
//                 opacity: .4;
//                 font-weight: 100;
//             }
//         }
//     }

// }

// //
 

// //
 

// //
// .vol-db {
//     .v-DB.-on  {
//         display: flex;
//     }
//     .v-DB.-off {
//         display: none;
//     }
// }


// //
// .vol-status {
//     .v-Status.-on  {
//         display: flex;
//     }
//     .v-Status.-off {
//         display: none;
//     }
// }
// //
// .vol-selva {
//     .v-Selva.-on  {
//         display: flex;
//     }
//     .v-Selva.-off {
//         display: none;
//     }
// }





// //


// .color-23101932 {
//     --c-text:#444;

//     .active {
//         --c-text:#999;
//     }
// }



// //
// .x-23101338 {
//     --bg-btn-hover: transparent;
//     --c-btn-hover: var(--c-btn);
//     --c-btn-border:hsla(0, 0%, 100%, 0.15);
// }


// .x-23101338 {
//     .active .x-active {
//         --c-btn-border:#ccc;
//     }
//     .active {
//         .x-exclude {
//             position: relative;

//             .content-xxs{ opacity: .5;}
//         }
    
//         .x-exclude::before {
//             content: '';
//         }
//     }

//     .x-exclude::before {        
//         left: -3px;
//         right: -3px;
//         top: 50%;
//         height: 1px;
//         // transform: rotate(10deg);
//         position: absolute;
//         background-color: #d54041;
//         opacity: .5;
//     }
// }






// #Top .-Btn {
//     --c-btn:hsla(0, 0%, 100%, 0.15);
// }


// #Top .-Btn,
// .Btn.v-Selva,
// .Btn.v-DB,
// .Btn.v-Status,
// .Btn.v-Lite,
// .Btn.v-Seo {
//     --c-btn-border:hsla(0, 0%, 100%, 0.15);
// }

 

// .Btn.v-Selva.-on,
// .Btn.v-DB.-on,
// .Btn.v-Status.-on,
// .Btn.v-Lite.-on,
// .Btn.v-Seo.-on {
//     --c-btn-border:var(--c-btn);

//     //
//     border-radius: .5rem;
// }


// //
 
