@charset "UTF-8";

select {
    --font:11px;
}

.Form.-admin {
    .form-name,
    ._shell._name {
        --font:var(--rem-h2);
    }
    ._shell._h {
        --font:var(--rem-h);
    }
}

.Form.-admin ._h1 {
    --font:var(--rem-h);
}

.Table {
    .item em {
        font-size: 85%;
        font-weight: 100;
        color: #8a92a4;
    }
}


// ._tab ._shell.vol-Abs input:not(:placeholder-shown) ~ label {
//     font-size: 11px;
// }

#Filter input::placeholder {
    font-style: italic;
    font-size: 90%;
}