@charset "UTF-8";

// .menu.-tag.Kite{
// 	--x-menu-padding-li--left: 1rem;
// 	--x-menu-padding-li--right: 1rem;
// }


.kite-space {
	padding: 3px;
}
.kite-spaceS {
	padding: 1px;
}

.kite-spaceM {
	padding: 6px;
}


.menu.-tag.Kite>* {
	margin-left: 0;
	margin-right: 0;
}

