@charset "UTF-8";


.x-opacity {
	opacity: .5;
}
.x-opacity:hover {opacity: 1;}




.Table {
	a {
		color: hsla(0, 0%, 100%, 0.75);;
	}
}

.Btn.-yellow,
.Btn.-red,
.Btn.-green {
	--c-btn:#fff;
}

.Btn.-yellow {
	border-color: #e0bd34;
}
.Btn.-green {
	border-color: @green;
}
.Btn.-red {
	border-color: @red;
}

.Btn.-yellow:hover,
.Btn.-red:hover,
.Btn.-green:hover {
	border-color: transparent;
}





.oiBar {
 

	.x-footer {
		opacity: .6;
	}

	.x-07081718 {
		.Ico {
			opacity: .8;
		}
 
		a {
			color: inherit;
		}
		a.active {
			color: hsla(0, 0%, 100%, 0.85);
		}
	}


}

#body.SATIRA .SMS ._summary.on ._name .content span{
	.transition(font-size);
}



.SMS ._summary.on ._name .content span{
	font-size: 90%;
	// color: hsla(0, 0%, 100%, 0.5);
	opacity: .5;
}


// .Bread {
// 	--c-text:@c-text-grey;

// 	a,a:visited {
// 		color: inherit;
// 	}
// }


.Bar.-tool {
	a:hover,
	button:hover {opacity: .6;}
}

// @c-text-2:hsla(0,0%,100%,.2);
// @c-a:#fff;
// @c-ico-aside:#8ea2b4;


// a.x-grey,
// a.x-grey * {
// 	color: inherit;
// }


// .Aside_2  {
// 	a {
// 		color: #fff;
// 	}

// 	._left {
// 		color: @c-ico-aside;
// 	}
// }



// .Aside {
// 	--c-text: @c-a;

	
// 	.asideMenu .Ico{
// 		--c-text: @c-ico-aside;
// 		color: var(--c-text);
// 	}


// 	.x-head .Ico,
// 	.x-footer .Ico,
// 	.on .x-left .Ico,
// 	.on ._item {
// 		--c-text: rgba(255, 255, 255, 0.5);
// 	}

// 	.asideMenu a {
// 		color: #fff;
// 	}

// }

// form {
// 	--c-input-border-focus:@c-text-2;

// 	//
// 	.x-bd {
// 		--c-text:@c-text-2;
// 		--c-input:#677788;

// 		input::placeholder {
// 			color:@c-text-2;
// 		}
// 	}

// 	dl dt {
// 		color: #8a92a4;
// 	}
// }

// .Form input::placeholder {
// 	opacity: .5;
// }






// .x-bd label:hover {
// 	color: #fff;
// }

// //

// .menu {
// 	// --c-menu-border: #e6e6e6;
// 	--c-menu: @c-a;
// 	--c-menu-active: @c-a;
// 	--c-menu-hover: @c-a;
// 	// --c-menu-border: transparent;
// }

// .menu.-tile {
// 	// --c-menu: #000;
// 	--c-menu-active: #fff;
// 	// --c-menu-hover: #fff;
// }

// .Pagination {
// 	--x-Pagination-c-active:#ccc;
// }