@charset "UTF-8";

.Goo.-manager {

    .-Btn.-on,
    .-Btn.-off {
        --bg-btn-hover: rgba(255,255,255,.2);
    }

    .-Btn.-on {
        --c-btn:#ccc;
        --c-btn-hover:#ccc;
        --c-btn-border:#666;
        --bg-btn: rgba(255,255,255,.1);
    }

    .-Btn.-off {
        --c-btn:#999;
        --c-btn-hover:#999;
        --c-btn-border:#555;
        --bg-btn: transparent;
    }

    .Form {
        background-color: red;
            // --c-text:red;
            // --c-text:rgba(255, 255, 255, 0.5);
            // --c-input:red;
            // --c-input-placeholder:rgba(255, 255, 255, .5);
        // --c-input-placeholder:rgba(255, 255, 255, .25);
        // --c-input-border:var(--c-input-border-focus);
    }
}