@charset "UTF-8";

#Top {
    .x-btn.-on,
    .x-btn.-off {
        --bg-btn-hover: rgba(255,255,255,.2);
    }

    .x-btn.-on {
        --c-btn:#ccc;
        --c-btn-hover:#ccc;
        --c-btn-border:#666;
        --bg-btn: rgba(255,255,255,.1);
    }

    .x-btn.-off {
        --c-btn:#999;
        --c-btn-hover:#999;
        --c-btn-border:#555;
        --bg-btn: transparent;
    }
}