@charset "UTF-8";


.Ava.-def,
.face::before{
	background-image: url(/images-0/ava/blank.png);
	background-size: cover;
}

// .Ava {
// 	background-color: #ccc;
// }


//


.Ava,
.face::before,
.Call {
	background-repeat: no-repeat;
	background-position: center;
}

.face::before,
.Call {
	background-size: cover;
	// background-color: transparent;
}

// .Ava {
// 	background-size: 80%;
// }
