@charset "UTF-8";

 
.oiBar ._menu {
    ._open ._item.active,
    ._open ._item:hover {
      > * {
        background-color: rgba(255, 255, 255, .1);
      }
   }
}

// #body.asideClose .x-07081718 .active,
.x-07081718 {
    .active {
        ._item  {
            --c-text: #6292ff;
        
            // background-color: rgba(255, 255, 255, .1);
        
        
        }
    }
    .on {
        ._item  {
            --c-text: #7366bd;
        
            // background-color: rgba(255, 255, 255, .1);
        
        
        }
    }  
}

 

.x-09081236.menu.-tile {

    .x-ico {
        background-position: 90% 90%;
        background-repeat: no-repeat;
    }

    .x-ico {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='%23999' d='M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z'%3e%3c/path%3e%3c/svg%3e");
        background-size: 1rem 1rem;
    }


    input:checked ~ label > .x-ico {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='10' xmlns='http://www.w3.org/2000/svg'%3e%3cg fill='%235cdc0a' fill-rule='evenodd'%3e%3cpath d='M.49 5.768l1.414-1.414 4.242 4.242-1.414 1.414z'/%3e%3cpath d='M3.318 8.596L11.096.818l1.414 1.414-7.778 7.778z'/%3e%3c/g%3e%3c/svg%3e");
        background-size: 1rem .8rem;
    }

}