@charset "UTF-8";

.Pagination {
    --Pagination-bg:transparent;
    --Pagination-c-active:hsla(0, 0%, 100%, .25);
    --Pagination-bg-active:radial-gradient(circle at bottom, rgba(133, 168, 255, .2), transparent 25%);
}