@charset "UTF-8";

@media (min-width:@w-menu-2-plus) and (max-width:@w-max) {

}

@media screen and (max-width:@w-menu-2) {
	.Bee.-S_mbl {
		min-height: calc(var(--Bee)*.75);
	}
}

.Bee {
	min-height: var(--Bee);
}
.Bee.-S {
	min-height: calc(var(--Bee)*.75);
}