@charset "UTF-8";


@media (min-width:@w-menu-2-plus) and (max-width:@w-max) {
    .Dimension.-H.-hero {
        // max-height: calc(25 * var(--index));
        max-height: calc(var(--h) - var(--h-Header) - var(--h-Top) - 2rem);
    }
    .dimension-25_PC {
        max-width: calc(18 * var(--index));
    }
    
    .dimension-RailVideo {
        min-width: calc(10 * var(--index));
        max-width: calc(10 * var(--index));
    }


    .dimension-fotoS,
    .dimension-foto {
        min-width: calc(20 * var(--index));
    }

    .dimension-fotoM {
        width: calc(22 * var(--index));
    }


    .dimension-foto {
        max-width: 500px;
    }

    .dimension-fotoS {
        max-width: 400px;
    }

    .dimension-fotoM {
        max-width: 580px;
    }

}

@media (min-width:@w-menu-2-plus) and (max-width:@metrika-80) {
    .Wagon.Dimension-30 {
        --x-Wagon-w:calc(30 * var(--index)) !important;
    }
}

@media (min-width:@w-menu-2-plus) and (max-width:@metrika-80) {
    .Wagon.Dimension.-hM {
        --x-Wagon-h: clamp(300px, calc(25 * var(--indexW)), 480px);
    }
}


@media screen and (max-width:@w-menu-2) {
    .dimension-RailVideo {
        min-width: 180px;
        max-width: 180px;
    }
    .Wagon.Dimension-30 {
        --x-Wagon-w:calc(25 * var(--index)) !important;
    }

    .dimension-CreditCard {
        min-width: clamp(280px, calc(25 * var(--index)), 380px);
        // max-width: calc(20 * var(--index));
    }
}





.dimension-40 {
    max-width: calc(24 * var(--index));
}
.dimension-25 {
    max-width: calc(18 * var(--index));
}



.dimension-video {
    max-width: calc(28 * var(--index));
}
.dimension-ico {
    max-width: calc(10 * var(--index));
}

.dimension-icoS {
    max-width: calc(10 * var(--index) - 6rem);
}

 