@charset "UTF-8";

@media (min-width:@w-menu-2-plus) and (max-width:@w-max) {
	.Header.-h_PC {
		min-height: var(--h-Header);
	}
}

.Header.-h {
	min-height: var(--h-Header);
}

.Header.-h.-vw {
	min-height: clamp(5vh,var(--h-Header),20vw);
}