@charset "UTF-8";

@media (min-width: @w-menu-2-plus) and (max-width:@w-max) {
	#body.asideClose .oiBar {
		--font:0 !important;
		--font-min:0 !important;
		--space:0 !important;
		--fontMenu:0 !important;
		--fontMenuTag:0 !important;
	}
}

.Oi {
    .oiBar.-def {
		background-color: blue;
		// position: relative;
		// width: 0;
		// height: 0;
	}
}