@charset "UTF-8";

.Teaser.space-hL.first {
	padding-top: 0;
}

.Teaser.vol-slide {
	background-color: red !important;
	.x-1 {
		min-height: calc(var(--x-Wagon-h) * .4);
		.content {padding-bottom: 2rem;}
	}

}
