@charset "UTF-8";


#body.SATIRA {

	// .Sms .OnOff,
	.oiBar {

		._menu .OnOff{
			transition: padding-bottom linear .15s;
		}

		span.content-s .slctn{
			transition: color linear .05s;
		}
	}

	#Flaber_edit {
		._name {
			transition: margin-bottom linear .1s;
		}
	}

}

#Flaber_edit {
	._name {
		margin-bottom: 0px;
	}
	
	.OnOff.on ._name {
		margin-bottom: 7px;
	}
}



// .Aside_2 {
// 	opacity: 0;
// 	transition: opacity linear 0.1s;
// }

// .Aside_2.on {
// 	opacity: 1;
// }

// .x-bd label {
// 	.transition(color);
// }


 

// #body.Z2 .x-menuMain > .Abs {
// 	transition: transform linear 0.15s;
// }


// #inputMenuMain:checked ~ .menuOpen .Hook {
// 	transition: background-color linear 0.1s;
// }

// @media (min-width:@w-beyond-plus) and (max-width: @w-max) {
// 	#body.Z2 .x-menuMain > .Abs {
// 		transform: translateX(-80px);
// 	}
// }

// @media (min-width:@w-beyond-plus) and (max-width:@metrika-90) {
// 	#body.Z2 .x-menuMain > .Abs {
// 		transform: translateX(-60px);
// 	}
// }

// @media (min-width: @w-menu-2-plus) and (max-width: @w-beyond) {
//     #body.Z2 .x-16041158 {
// 		padding-right: var(--edge);
// 		transition: padding-right linear 0.15s;
//     }
// }
