@charset "UTF-8";

.Tape {
    --Tape:auto;
    --Tape-precise: 0px;
}

 

@media (min-width: @w-menu-2-plus) and (max-width:@w-max) {
    .Tape_PC {
        --TapeMin:220px;
        --TapeMax:var(--h)*.33;
    }
    .Tape_PC.-M {
        --Tape-precise: calc(var(--h)*.05);
    }
}

@media screen and (max-width:@w-menu-2) {
    .Tape_mbl {
        --TapeMin:240px;
        --TapeMax:calc(var(--h)*.6);
    }
    .Tape_mbl.-M {
        --Tape-precise: calc(var(--h)*.05);
    }
}


//
.Tape {
    --Tape: clamp(
        var(--TapeMin),
        calc(30vmax * calc(1 / var(--AR)) + var(--Tape-precise)),
        var(--TapeMax),
    );

    min-height:var(--Tape);
}
 