@charset "UTF-8";

@media (min-width:@w-menu-2-plus) and (max-width:@w-max) {
    body > #preWrap {
        z-index: 19;
    }
}

@media screen and (max-width:@w-menu-2) {

	.FixMenu {
		z-index: 200 !important;
	}
}


body.-aside > #menuMain{
	z-index: 151;
}



//
.index,
body {

	> * {z-index: 10;}

	// > #Veil,
	> ._indexMAX {
		z-index: 51;
	}

	> ._indexMax {
		z-index: 50;
	}

	> .owlMax  {
		z-index: 15;
	}

	> ._indexMin {
		z-index: 3;
	}
}

body {

	>* {
		position: relative;
	}

	#menuFix {
		z-index: 165;
	}

	#menuMain {
		z-index: 164;
	}

	>.Aside {
		z-index: 150;
	}

	#Pop,
	#Milk {
		z-index: 105;
	}

	> #Slump {
		z-index: 100;
	}

	> #Top {
		z-index: 11;
	}

	> #Fon {
		z-index: 5;
	}
}

@import "./lib/bodyFix.less";