@charset "UTF-8";


@media screen and (max-width:@w-menu-2) {
	#body.fix {
		// .relative_mbl.owl {
		// 	position: static;
		// }
		// .menuOpen {
		// 	z-index: 190 !important;	
		// }
		#menuMain {
			z-index: 190;
		}
		.menuOpen .menu > li {z-index: 5;}
		// .menuOpen .menu::after {
		// 	z-index:-1;
		// }
		.FixMenu {
			z-index: 200 !important;
		}
	}
}


#body.fix {
	overflow: hidden;

	// > .Owl,
	#oi::before,
	* {
		z-index: 0;
	}

	> #Milk {
		z-index: 30;
	}

	.owlMin {
		z-index: -1;
	}

	.fixIndex_1 {
		z-index: 1;
	}

	.Owl_1 {
		z-index: 2;
	}
	
	// .owlFIX,
	.FIX.on {
		position: relative;
		z-index: 80;
		// > .fix {
		// 	z-index: 50;
		// }
		> .fix {
			z-index: 5;
		}
		
		.Scroll_PC,
		.Scroll_mbl,
		.Goo,
		._indexMax {
			z-index: 10;
		}

		.index > * {position: relative;}

		.index > .owlAbs,
		.index > .Scroll {position: absolute;}
	}

	#Milk > .Message {
		z-index: 90;
	}



	#Slump,
	#Footer {z-index: -1;}

	#Wrap {z-index: 5;}


	// #menuMain {z-index: 6;}
	// #preWrap {z-index: 7;}

	#Veil {z-index: 20;}

	// #Milk {z-index: 9;}


	/*
	


	> #Slump {
		z-index: 49;
	}

	> #Veil{
		z-index: 52;
	}

	> #Aside {
		z-index: 60;
	}



 

	#Pop.FIX.on {
		z-index: 85;
	}
	/**/


}



#body.-geek {

	/*
	> .x-logo,
	> .Aside,
	> #menuMain {z-index: 50;}
	/**/
}





// #body.fix {

	
// 	.relative.owl {
// 		position: static;
// 	}

// 	.Owl {
// 		z-index: 2;
// 		.Owl {z-index: 1;}
// 	}

// 	.-Fog::before,
// 	.Fog .content::before,
// 	._face::before,
// 	.-face::before {
// 		z-index: 6;
// 	}

// 	.Checkbox .check>div {z-index: 1;}
// 	.Checkbox .check .knob {z-index: 2;}

// 	.FIX.on,
// 	.FIX.on {
// 		.index {
// 			> ._indexMax {
// 				z-index: 6;
// 			}
// 			> .Close {
// 				z-index: 7;
// 			}
// 		}
 
// 	}

// 	.Cap::before {z-index: inherit;}

// }



//
// #body .Abs {pointer-events: all;}

body >* {
	position: relative;
}

.index,
body {
	>* {z-index: 10;}
}



 


#menuFix,
body>.FixMenu {
	z-index: 165;
}

body>#menuMain {
	z-index: 164;
}


#body.-aside > #menuMain{
	z-index: 151;
}

body>.Aside {
	z-index: 150;
}


#body.fix,
body {
	> #Geek {
		z-index: 111;
	}
}

body #Pop {
	z-index: 105;
}

body #Milk {
	z-index: 105;
}

body > #Slump {
	z-index: 100;
}

body>.Canvas {
	z-index: 99;
}

// body > .Hook {
// 	z-index: 100;
// }


body #Veil {
	z-index: 51;
}






// .Oi>.oiBar  {
// 	z-index: 6;
// }

// // .Teaser > .Preamble,
// .Cap,
// .Oi > .oi,
// .index,
// .index::before,
// .index:after,
// .index > *,
// body > * {
//     z-index: 5;
// }

.index,
body {

	> ._indexMAX {
		z-index: 51;
	}

	
	> ._indexMax {
		z-index: 50;
	}

	// #Fon.Owl.
	#Top.Owl,
	> .owlMax  {
		z-index: 15;
	}

	#Wrap {
		z-index: 10;
	}


	> ._indexMin {
		z-index: 3;
	}

	> #Fon {
		z-index: 5;
	}




// 	> .Close,
// 	> ._indexMax {z-index: 10;}
	
// 	> .-Popup {z-index: 9;}

// 	> .Message,
// 	> .Fix {z-index: 8;}
	
// 	> .Veil,
// 	> .Poster,
// 	> .Goo {z-index: 7;}
	
	
// 	> .Abs {z-index: 6;}


// // >.owlMin {
// // 	z-index: 0;
// // }

// // >.owlMax {
// // 	z-index: 6;
// // }




// 	> ._indexMin {z-index: 1;}
// 	> ._indexMid {z-index: 5;}

 
}

// //

// #body.fix {
// 	* {
// 		z-index: inherit;
// 	}

// 	> .Hook {
// 		z-index: 3;
// 	}
// 	.Geek,
// 	.FIX.on .index,
// 	.FIX.on .index {
// 		z-index: 5;
// 	}

// 	.Geek .Hook {z-index: 10;}

// 	#Fon {z-index: -1;}
// }


// .FIX.on,
// .FIX.on {
// 	z-index: 100 !important;
// }

@media screen and (max-width:@w-menu-2) {

	#body.fix {
		
		.FIX.on {
			._indexMax_mbl {
				z-index: 10;
			}
		}
	}

	.index {
		// > .Goo_mbl {z-index: 3;}
		> ._indexMax_mbl {z-index: 50;}
		// > ._indexMid_mbl {z-index: 5;}
		// > ._indexMin_mbl {z-index: 1;}
	}





}
