@charset "UTF-8";


// html.stop {pointer-events: none;}
// html.index body * {
//     z-index: auto;

//     .Onion {
//         > * {z-index: auto;}
//         > ._front {z-index: auto;}
//     }



html.index {
	// overflow-x: hidden;

	#Fon,
	body * {
	    z-index: auto;
		pointer-events: none;
	}

	.active .zmng {
		pointer-events: all;
	}


    // .Postcard-mbl .Teaser > *,
    // .Item,
    // .Item ._front,
    // .oi-footer,
    // #Wrap {
    //     position:inherit;
    // }

    // .Postcard-mbl .Teaser > *,
    // .Item,
    // .Item ._front,
    #Wrap,
    .oi-footer {
        z-index: auto;
    }
}

///

// html.index .Prev figure.active {
//     overflow:visible;
// }




/*

html.index {
    .-Header,
    body > .Header,
    .-menuMain,
    .Oi {
        z-index: 5;
    }
}



@media screen and (max-width:@w-menu-2) {

    html.index,
    html.index body {
        overflow: hidden;
    }

    html.index body .Roll.-zoom {
        overflow:visible;
    }

}

////////




/*******/
