@charset "UTF-8";


.Fly-table {
	margin-top:~"calc(var(--h-th) - var(--h-th)*2)"
}

.Fly-table--H {
	position: relative;
	z-index: 6;
	display: inline-block;
	pointer-events: none;
	min-height: ~"calc(var(--h-th))";
}

/**/