@charset "UTF-8";

// .Grid2 {
// 	display: inline-grid;
// }


@media (min-width:@w-menu-2-plus) and (max-width:@w-max) {

	.Grid {
	    display: grid;
	}

	.Grid.grid-tag,
	.Grid.grid-product {
		--Grid-w:240px;

		//
		// grid-template-columns: repeat(auto-fit, minmax(var(--Grid-w), 1fr));
		grid-template-columns: repeat(auto-fill, minmax(var(--Grid-w), 1fr));
		// justify-content: start; /* Выравнивание элементов к началу */
		// align-items: start; /* Выравнивание элементов по вертикали к началу */
	}

	.Grid.grid-menu {
		--Grid-w:208px;

		//
		grid-template-columns: repeat(auto-fill,minmax(var(--Grid-w),1fr))
	}


	.Grid.vol-article {
		grid-auto-columns: 1fr;
		grid-column-gap: 80px;
		grid-row-gap: 16px;
		grid-template-rows: auto;
		grid-template-columns: .75fr .5fr;
	}




	//
	.Grid.x2 {
		grid-template-columns: repeat(2, 1fr);
	}
	
	.Grid.x3 {
		grid-template-columns: repeat(3, 1fr);
	}
		
	.Grid.x300 {
		// grid-template-columns: repeat(3, 1fr);
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}

	.Grid.x4 {
		grid-template-columns: repeat(4, 1fr);
	}
	
	.Grid.x5 {
		grid-template-columns: repeat(5, 1fr);
	}

	.Grid.-border {
		grid-gap: 1px;
	}
	
	.Grid.-gap {
		grid-gap: 1rem;
	}

	
	.Grid.-gapS {
		grid-gap: .5rem;;
	}

	.Grid.-gapM {
		grid-gap: 1.5rem;;
	}
	
	.Grid.-gapSVW {
		grid-gap: clamp(1rem, 1vw, 24px);
	}

	.Grid.-gapMVW {
		grid-gap: clamp(1rem, 2vw, 48px);
	}

}

@media screen and (max-width:@w-menu-2) {
	.Grid_mbl {
	    display: grid;
	}

	.Grid.grid-product {
		--Grid-w:160px;

		grid-gap: 1px;
		grid-template-columns: repeat(auto-fill,minmax(var(--Grid-w),1fr));
	}

	.Grid.grid-tag {
		--Grid-w:160px;
		grid-gap: 1rem;

		//
		grid-template-columns: repeat(auto-fill, minmax(var(--Grid-w), 1fr));
	}




	.Grid_mbl.x2_mbl {
		grid-template-columns: repeat(2, 1fr);
	}
	.Grid_mbl.x3_mbl {
		grid-template-columns: repeat(3, 1fr);
	}
	.Grid_mbl.x4_mbl {
		grid-template-columns: repeat(4, 1fr);
	}
	.Grid_mbl.-border_mbl {
		grid-gap: 1px;
	}
	
	.Grid_mbl.-gap_mbl {
		grid-gap: 1rem;
	}
	.Grid_mbl.-gapM_mbl {
		grid-gap: 1.5rem;
	}
}
