@charset "UTF-8";

.Citation:not(.On) ._wrap.lineClamp {
	padding-bottom: 5px;
	padding-right: 2rem;
}


//
.lineClamp {
	--lineClamp:1;
	--lineClamp-padding:1rem;
}

.lineClamp.var-2 {
	--lineClamp:2;
}

.lineClamp.var-3 {
	--lineClamp:3;
}

.lineClamp.var-4 {
	--lineClamp:4;
}

.lineClamp.var-10 {
	--lineClamp: 10;
}


.lineClamp {
	cursor: pointer;

	> * {
		display: none;
	}

	br {display: none;}
		
	> :first-child {
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: var(--lineClamp);
		-webkit-box-orient: vertical;

		strong, b {
			padding-right: 1ch;
		}
	}

}



.lineClamp.-block.x-2 {
	> :first-child {display: block;}
	> :nth-child(2) {
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: var(--lineClamp);
		-webkit-box-orient: vertical;
	}
}

//

.lineClamp.-padding {
	padding-right: var(--lineClamp-padding);
}

//



.On.lineClamp,
.On .lineClamp,
.on > .lineClamp {
	--lineClamp-padding:0;
	cursor: default;
	> * {
		display: block !important;

		strong, b {
			padding-right:0;
		}
	}
	br {display: block;}
}