@charset "UTF-8";

// .LOUVER {
// 	--Louver-h-min:200px;
// 	//
// 	position: relative;
// 	._open,
// 	._close,
// 	._switch {
// 		margin: 0;
// 	}
// 	.louver {
// 		min-height: var(--Louver-h-min);
// 	}
// 	._close::after {
// 		content: '';
// 		width: 2rem;
// 		height: 2rem;
// 		float: right;
// 	}
// }

// .Louver {
// 	._switch .flex ._l {opacity: 0;}
// }

// .Louver.On {
// 	._switch .flex ._l {opacity: 1;}
// 	._switch .flex ._r {opacity: 0;}
// }


// //

// .Louver {
// 	.LOUVER;
// }

// @media (min-width:@w-menu-2-plus) and (max-width:@w-max) {
// 	.Louver_PC {
// 		.LOUVER;
// 	}
// }

// @media screen and (max-width:@w-menu-2) {
	
// 	.Louver_mbl {
// 		.LOUVER;
// 	}
// 	.Louver_mbl,
// 	.Louver {
// 		--Louver-h-min: 160px;
// 	}

// }
