@charset "UTF-8";


.Mid {
	width: 3px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


@media (min-width:@w-menu-2-plus) and (max-width:@w-max) {

    .Mid_PC {
        width: 3px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

}

@media (min-width:@w-beyond-plus) and (max-width:@w-max) {

    .Mid_Bey {
        width: 3px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

}
