@charset "UTF-8";

// OnOff ####-> off Off / on On

// _close _Close
// _open _Open
// _onoff _Onoff

._openLvl_2,
._openLvl_3,
._closeLvl_2,
._closeLvl_3 {
	background-color: purple;
}

.Soma.on,
.Soma.On {
	._Axon > .Axon,
	> .Axon {
		// background-color: red;
		> .on {display: block;}
		> .off {display: none;}
	}
}



.OnOff {
	// ._openLvl_2,
	// ._openLvl_3,
	._Onoff,
	._Open,
	._Close,
	> ._onoff,
	> ._open,
	> ._close {display: none}

	// ._closeLVL2,
	// ._openLVL2 {display: none}
}


.off{
	> ._close {display: block}
	> ._close.-flex {display: flex}
}

.Off {
	._Close{display: block}
	._Close.-flex{display: flex}
}

.Off, .off{
	> * {
		> ._closeLvl_2 {
			display: block;
			background-color: orange !important;
		}
	}
}

.On, .on{
	> * > ._openLvl_2,
	> * > * > ._openLvl_3 {
		display: block;
		background-color: yellow !important;
	}

	// > * > ._offLvl_2,
	// > * > * > ._offLvl_3,
	> * > ._closeLvl_2,
	> * > * > ._closeLvl_3 {
		display: none;
	}
}


.on {
	> ._open {
		display: block;
	}
	> ._open.-inline {display: inline}
	> ._open.-inlineBlock {display: inline-block}
	> ._open.-flex {display: flex}

	> ._off {
		display: none;
	}
}

.On {
	._Off {display: none;}
	
	._Open {
		display: block;
	}
	._Open.-inline{display: inline}
	._Open.-inlineBlock{display: inline-block}
	._Open.-flex{display: flex}
}
