@charset "UTF-8";

.orb {
	--orb:1rem;
}

.orb-m {
	--orb:1.5rem;
}

.orb-s {
	--orb:.5rem;
}
.orb-xs {
	--orb: .25rem;
}
.orb-xxs {
	--orb: .15rem;
}

.orb-xxs,
.orb-xs,
.orb-s,
.orb-m,
.orb {
	padding: var(--orb);
	line-height: 0;
}


.orb.-bar{
	// display: flex;
	// justify-content: center;
	// align-items: center;
	min-width: var(--bar);
	min-height: var(--bar);
}
