@charset "UTF-8";

// .ky-scrollBar {background-color: red;}

// .ky-scrollBar,
.Roll_PC,
.Roll_80,
.Roll_mbl {
	overflow: -moz-scrollBars-none;
	scrollbar-width: none;
	scroll-behavior: smooth;
	scroll-snap-type: x proximity;
}

// .ky-scrollBar::-webkit-scrollBar,
.Roll_PC.-scrollBar::-webkit-scrollBar,
.Roll_80.-scrollBar::-webkit-scrollBar,
.Roll_mbl.-scrollBar::-webkit-scrollBar {
	width: 0;
}



@media (min-width:@w-menu-2-plus) and (max-width:@w-Box + 80px + 16px) {

	.Box.Roll_PC.-edge,
	.Box.Roll_PC.-edgePC {
		max-width: 100%;
		padding-left: calc(var(--Edge)*.75);
	}

	.Box.Roll_PC.-edgeS,
	.Box.Roll_PC.-edge-S_PC {
		max-width: 100%;
		padding-left: calc(var(--Edge)*.5);
	}

}



@media screen and (max-width:@w-menu-2) {

	.Roll_PC.-scrollBarPC,
	.Roll_80.-scrollBarPC,
	.Roll_mbl.-scrollBarPC {
		overflow: -moz-scrollBars-none;
		scrollbar-width: none;
		scroll-behavior: smooth;
		scroll-snap-type: x proximity;
	}

	.Roll_PC.-scrollBarPC::-webkit-scrollBar,
	.Roll_80.-scrollBarPC::-webkit-scrollBar,
	.Roll_mbl.-scrollBarPC::-webkit-scrollBar {
		width: 0;
	}

}

//

// .Grid.Roll_mbl {
// 	display: flex;
// }

.ROLL {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	//
	display: flex;
	align-items: flex-start;
	flex-wrap:nowrap !important;
    overflow-y: hidden;

    > * {
        order: 5;
        //
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        margin-left: 0 !important;
    }
	> .first {
		order: 2;
	}

	// ._roll {
	// 	display: flex;
	// 	align-items: flex-start;
	// 	flex-wrap: nowrap !important;
	// }


    // ._roll > * {
    //     order: 5;
    //     //
    //     margin-top: 0 !important;
    //     margin-bottom: 0 !important;
    //     margin-left: 0 !important;
    // }
	// ._roll > .first {
	// 	order: 2;
	// }


	.Preamble *,
	.content,
	._text,
	._h,
	li a,
	figcaption,
	dl,
	p {
		white-space: normal;
	}

	.nowrap,
	.nowrap_mbl {
		white-space: nowrap;
	}	

	.Gstrm {
		display: block;
	}
}


@media (min-width:@w-menu-2-plus) and (max-width:@w-max) {
    .Roll_PC {
		.ROLL;
	}

    .Roll_PC.-space {
        padding-top:2rem;
        padding-bottom:2rem;
    }
		
}

@media (min-width:@w-menu-2-plus) and (max-width:@metrika-100) {
    .Roll_100 {
		.ROLL;
	}

    .Roll_100.-space {
        padding-top:2rem;
        padding-bottom:2rem;
    }
    .Roll_100.-edge {
        padding-left: calc(var(--Edge) - 1rem)
    }
    .Roll_100.-edgeS {
        padding-left: calc(var(--Edge)*.5)
    }	
}


@media screen and (max-width:@metrika-80) {
    .Roll_80 {
		.ROLL;
	}

    .Roll_80.-space {
        padding-top:1rem;
        padding-bottom:1rem;
    }

    .Roll_80.-edge {
        padding-left: calc(var(--Edge) - 1rem)
    }
    .Roll_80.-edgeS {
        padding-left: calc(var(--Edge)*.5)
    }	
}

@media screen and (max-width:@metrika-70) {
    .Roll_70 {
		.ROLL;
	}

    .Roll_70.-space {
        padding-top:2rem;
        padding-bottom:2rem;
    }
    .Roll_70.-edge {
        padding-left: calc(var(--Edge) - 1rem)
    }
    .Roll_70.-edgeS {
        padding-left: calc(var(--Edge)*.5)
    }	
}


@media (min-width:@w-menu-2-plus) and (max-width:@w-beyond) {
    .Roll_beyond {
		.ROLL;
	}

    .Roll_beyond.-space {
        padding-top:2rem;
        padding-bottom:2rem;
    }

    .Roll_beyond.-spaceS {
        padding-top:1rem;
        padding-bottom:1rem;
    }

    .Roll_beyond.-edge {
        padding-left: calc(var(--Edge) - 1rem)
    }
    .Roll_beyond.-edgeS {
        padding-left: calc(var(--Edge)*.5)
    }	

	.Roll_beyond.-cross {
		> * {margin-right: 2rem;}
	}

	.Roll_beyond.-crossS {
		> * {margin-right: 1rem;}
	}


}


@media screen and (max-width:@w-menu-2) {

	.Roll_mbl.menu,
	.Roll_mbl.Tool {
		padding-left: calc(var(--edge) * .75);
	}

	.Roll_mbl.-edge,
	.Roll_mbl.-edgeMbl {
		padding-left: calc(var(--edge) * .5);
	}


	.Roll_mbl.-edgeM,
	.Roll_mbl.-edgeMMbl {
		padding-left: var(--edge);
	}

    .Roll_mbl.-edgeS {
        padding-left: calc(var(--Edge)*.5)
    }	

	//

    .Roll_mbl.-spaceM {
        padding-top:2rem;
        padding-bottom:2rem;
    }

	.Roll_mbl.-spaceS,
    .Roll_mbl.-space {
        padding-top:1rem;
        padding-bottom:1rem;
    }

	.Roll_mbl.-spaceBottom {
        padding-bottom:3rem;
    }
	.Roll_mbl.-spaceTop {
        padding-top:3rem;
    }
	.Roll_mbl.-spaceTopM {
        padding-top:5rem;
    }
	///

    // .Roll_mbl > .Teaser{
	// 	min-width: var(--w-min);
	// }

    .Roll_mbl {
		.ROLL;
	}

	.Roll_mbl.-controlH {
		align-items:  stretch;
	}

	.Roll_mbl.cI {
		align-items: center;
	}


	.Roll_mbl.-cross {
		> * {margin-right: 2rem;}
	}

	.Roll_mbl.-crossS {
		> * {margin-right: 1rem;}
	}

	.Roll_mbl {
		--x-cross:1rem;

		.menu.-tag > * {
			margin-left: 0;

			background-color: red;
		}

		th._last,
		td._last {
			display: table-cell;
			min-width: 80px;
		}
	}

	//

	.Roll_mbl.vol-table {
		> table {
			tr > *:first-child {
				min-width: clamp(180px,calc(var(--w)*.55),220px);
			}
		}
	}

	.Roll_mbl.vol-Wagon {
		> *{
			min-width: clamp(180px,calc(var(--w)*.6),220px);
		}	
	}

}
