@charset "UTF-8";

.Shift.Noggin {
	> :nth-child(2) {
		transform: translateX(var(--Shift));
	}
	> :nth-child(3) {
		transform: translateX(calc(var(--Shift)*2));
	}
	> :nth-child(4) {
		transform: translateX(calc(var(--Shift)*3));
	}
	> .last:nth-child(4) {
		transform: translateX(calc(var(--Shift)*2));
	}
}
