@charset "UTF-8";

.Shift {
	--Shift:0;
}


@media (min-width:@w-menu-2-plus) and (max-width: @w-max) {

	
	.Shift.-step{
		--Shift:-1rem;
	}

	.Shift.-stepM{
		--Shift:-2rem;
	}

	.Shift.-stepS{
		--Shift:-.5rem;
	}
	.Shift.-stepXS{
		--Shift:-.25rem;
	}
	.Shift.-stepScroll{
		--Shift:13px;
	}
}


@media screen and (max-width:@w-menu-2) {
	.Shift.-step.shift-mbl{
		--Shift:-.75rem;
	}

	.Shift.-stepS.shift-mbl{
		--Shift:-.4rem;
	}
	.Shift.-stepXS.shift-mbl{
		--Shift:-.2rem;
	}
}


//

.Shift.-stepScroll.shift-space {
	padding-right: calc(var(--Shift)*.75);
}


//

.Shift.-left {
	transform: translateX(var(--Shift));
}
.Shift.-right {
	transform: translateX(calc(0rem - var(--Shift)));
}

.Shift.-top {
	transform: translateY(var(--Shift));
}