@charset "UTF-8";

// .shell,
// .Shell {
// 	display: block;
// 	position: relative;
// }


@media (min-width:@w-menu-2-plus) and (max-width:@w-max) {
	.Shell_PC {
		position: absolute;
		top:0;
		left: 0;
		right:0;
		bottom:0;
	}
	
}

.Shell {
	position: absolute;
	top:0;
	left: 0;
	right:0;
	bottom:0;
}
