@charset "UTF-8";



@media (min-width:@w-menu-2-plus) and (max-width: @w-max) {
	#Milk {
		.FIX.vol-stories .Track {
			--x-Track-w:calc(75vh);
		}
	}
}

 
.Track {
	--x-Track-w:100%;

	//
	height: 100%;
}

.Track.-solo {
	> * {
		min-width: var(--x-Track-w);
	}
}

 