@charset "UTF-8";


@media (min-width: @w-menu-2-plus) and (max-width: @metrika-80) {

    .x-06041259 {
        --x-60:40px;
        --void:0px;

        //
        .x-shift {
            transform: translateX(-1rem);
        }
    }
}

@media screen and (max-width: @w-menu-2) {
    .x-06041300 {

    }
	.x-06041259 {
        // --Ico:2rem;
        // --x-cross: 0;
        // // --x-60:35px;

        // > * {margin-right: 1rem;}

        .Min, .Max {
            --x-60: 100px;
        }

        .x-cross {
            > * {margin-right: 2rem;}
            > :last-child {margin-right: 0;}
        }
    }
}