@charset "UTF-8";

@media (min-width: @w-menu-2-plus) and (max-width: @w-beyond) {
    .x-16041158 {
        // display: flex;
        // flex-direction: row-reverse;
        > .Abs {
            right: auto;
            bottom: auto;
            position: relative !important;
        }
        > .Abs.-rb {
            margin-left: 1rem;
        }
    }
}