@charset "UTF-8";

@media screen and (max-width:@metrika-80) {
    .x-22081531 {
        flex-direction: column-reverse;

        .x-none {
            display: block;
        }

        .x-center {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}
