@charset "UTF-8";


@media (min-width:@w-menu-2-plus) and (max-width:@w-beyond) {
    .x-22091248 {
        flex-direction: column;
        padding-right: 0 !important;

        ._r {
            order: 2;
            padding-bottom: 2rem;
        }
        .Wings.x-1 > ._win {position: relative;}
    }
}