@charset "UTF-8";

@import "./Lite__.less";

///
@import "../less/lib/theBlank/Vars.less";
@import "../less/lib/theRearguard/_ol.less";

//
@import "../less/lib/src/Picasso/_ol.less";


@import "./theFont/font-Canela.less";
@import "./theFont/font-OpenSans.less";


html {
	--family: var(--family-OpenSans);
}



.familyCanela {font-family: var(--family-Canela);}


// .text .h,
// h1,
// .h1,
// h2,
// .h2,
// .family-2 *,
// .family-2 {
// 	font-family: var(--family-2);
// }





// b,
// .b-600,
//  h1, .h1,
// .Fluid ._h {font-weight: 600;}
// .b-500 {font-weight: 500;}
// .b-400 {font-weight: 400;}
// .b-300 {font-weight: 300;}

//

.Docker {
	position: relative;
	overflow: hidden ;
	// min-width: 15rem;
	min-height: 15rem;
	// display: flex;
	// justify-content: center;
	// align-items: center;
}



//
@import "../less/lib/@/__.less";
@import "../less/lib/theBlank/@.less";
// @import "../less/lib/@/_ol.less";
	// @import "./zImago/__/@.less";
	// @c-aactive:#176dea;
@import "./_ol.less";
//
//
//
// @import "../less/lib/lib/el/Dot.less";
@import "../less/lib/components/Postman/_ol.less";