@charset "UTF-8";


@media (min-width: @metrika-70-plus) and (max-width: @w-max) {
	#body {
		--Logo: 280px;
	}
}

@media (min-width:@w-menu-2-plus) and (max-width: @metrika-70) {
	#body {
		--Logo: 240px;
	}
}


@media screen and (max-width: @w-menu-2) {
	#body {
		--Logo: 180px;
	}
}
