@charset "UTF-8";

// @media (min-width: @w-menu-2-plus) and (max-width:@w-max) {
	.menu.-tag.Bread.vol-tag {
		a {
			display: flex;
			align-items: center;
			padding-right: calc(var(--x-menu-padding-li--left)*.5);
		}
	}

	.Bread.vol-tag {

		.catalog {
			display: none;
		}

		a::after {
			content: '';
			width: .75rem;
			height: .75rem;
			margin-left: calc(var(--x-menu-padding-li--left)*.5);
			background-position: center;
			background-repeat: no-repeat;
			background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 12 12' xmlns='http://www.w3.org/2000/svg'%3e%3cpath transform='rotate(-90, 6, 6)' id='svg_1' fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-width='1.2' stroke='currentColor' d='m11,4l-5,4l-5,-4'/%3e%3c/svg%3e");
		}
	}
// }

@media screen and (max-width:@w-menu-2) {
	.Bread.vol-inline_mbl > * {
		display: inline-block;
		vertical-align: top;
		margin-bottom: 5px;
	}
}

//
@media (min-width: @w-menu-2-plus) and (max-width:@w-max) {
	#body.schema-aside .Bread.Edge {
		margin-left: var(--Edge);
	}
}

//
.Bread {
	--Bread-margin:10px;
	--Bread-max-w:220px;
	--Bread-ico-radius: 7px;
	--Bread-h-sep:4px;
	--ulol-padding-left:0;
}

#Bread > * {
	padding-left: var(--Bread-margin);
	padding-right: var(--Bread-margin);
}
#Bread > *:first-child {
	padding-left: 0;
}





// <ul class="menu -tag -S / lie">
// <li><a class="cI" href="/catalog/{{$item->parent->category->slug}}"><span>Газы технические</span> <span class="Ico -XS rotate-r">@svg('arrow')</span></a></li>
// <li><a class="cI" href="/catalog/{{$item->parent->slug}}"><span>Углекислота в баллонах</span> @svg('arrow-3')</a></li>
// </ul>