@charset "UTF-8";

.Bread {
	--Bread-margin:10px;
	--Bread-max-w:220px;
	--Bread-ico-radius: 7px;
	--Bread-h-sep:4px;
	--ulol-padding-left:0;
}

.Bread > * {
	padding-left: var(--Bread-margin);
	padding-right: var(--Bread-margin);
}
.Bread > *:first-child {
	padding-left: 0;
}


@media screen and (max-width:@w-menu-2) {
	.Bread.vol-inline_mbl > * {
		display: inline-block;
		vertical-align: top;
		margin-bottom: 5px;
	}
}

