@charset "UTF-8";

.Call.-S {
	--x-Call:calc(var(--Ava) - 8px);
}

.Call {
	--x-Call: var(--Ava);
}

.Call svg,
.Call {
	min-width: var(--x-Call);
	min-height: var(--x-Call);
	// background-color: #eee;
	// border-radius: 50%;;
	// border:2px solid #fff;
}