@charset "UTF-8";

.Bread {
	--x-margin:10px;
	--x-max-w:220px;
	--Bread-ico-radius: 7px;
	// --Bread-ico-bg:
	// --Bread-ico-shadow:
	//
	--x-c-active:@c-text;
	//
    // position: relative;
    // overflow: hidden;
	// display: flex;
}

// .Bread > *:nth-child(2),
// .Bread > *:nth-child(3) {
//     min-width: 60px;
// }


.Bread {
// 	> * {
	
// 		display: flex;
	
// 		 a, span {
// 			white-space: nowrap;
// 			.ellipsis;
// 		 }
	
// 	}
// 	> .last {
// 		max-width: var(--x-max-w);
// 	}

	._ico {
		a {
			padding: 1rem;
			border-radius: var(--Bread-ico-radius);
			background-color: var(--Bread-ico-bg);
			box-shadow: var(--Bread-ico-shadow);
		}
	}
}


// .Bread > *:first-child {
//     padding-left: 1.4rem;
// }

.Bread > *:last-child {
	color: var(--x-c-active);

	* {color: inherit;}
}

.Bread > *:first-child::before {
	display: none;
}

.Bread > *::before {
    content: '/';
    display: inline-block;
    margin: 0 var(--x-margin);
}
 

@media (min-width: @w-menu-2-plus) and (max-width: @w-max) {

}

@media screen and (max-width:@w-menu-2) {
}

