@charset "UTF-8";


@w-I: 1280px;
@w-Logo: 280px;
@w-AsideMin: 86px;
// //
@w-max:6000px;
@w-Box:1560px;
@w-beyond:1080px;
@w-beyond-plus:1081px;
@w-ipad:834px;
@w-ipad-plus:835px;
@w-menu-2:799px;
@w-menu-2-plus:800px;
@w-mobile:480px;
@w-mobile-plus:481px;
//
@metrika-200:1736px + 80px + 1px;;
@metrika-200-plus:1736px + 80px;
@metrika-100:1536px + 80px;
@metrika-100-plus:1536px + 80px + 1px;
@metrika-90:1366px + 80px;
@metrika-90-plus:1366px + 80px + 1px;
@metrika-80:1280px + 80px;
@metrika-80-plus:1280px + 80px + 1px;
@metrika-70:1280px;
@metrika-70-plus:1281px;
@metrika-60:1143px;
@metrika-60-plus:1144px;
//
@Pente:1120px;
@Pente-plus:1120px + 80px;
@Sms-plus:364px + 1px;
