@charset "UTF-8";

html {
	--c-brand: #176dea;
	--c-text: #292c33;
	--c-h:#323555; //#37383c; //#312555;
	//
	// --bgMain: #fff;
	// --bgInverse: #fff;
	--bg: #f6f7fb; //#edf1f7
	--bg-2: #f4f6f8;
	// --bg-3: #edf0f2;
	// --bg-Wagon: #f2f3f7;
	// --bg-Cliff: var(--bg);
	--bg-opacity: rgba(23, 32, 51, .7);
	//
	--c-btn: #000; //#000;
	--c-btn-border: #f7f7f7; //#f7f7f7;
	--c-btn-hover: #000; //#000;
	--bg-btn: #cdcfd7; //#cdcfd7;
	--bg-button:#cdcfd7; //#cdcfd7;
	--bg-btn-hover: #f7f7f7; //#f7f7f7;
	// --bg-opacity-light: rgba(23, 32, 51, .6);
	// --bg-opacity-lighter: rgba(50, 50, 50, .2);
	// --bg-opacity-lightest: rgba(0, 0, 0, .15);
	// --bg-Fix: #fff;
	// --bg-Fix-2: #f2f3f7;//#f0f0f0;
	//
	//
	// --x-bg-Tabs-active: #fff;
	//
	// --bg-selection: #c5d0e8;
}

 

//
@import "./color/form.less";
@import "./color/menu.less";
@import "./color/detail.less";
@import "./color/Citation.less";
@import "./color/Story.less";
@import "./color/Opinion.less";
@import "./color/Nameplate.less";

