@charset "UTF-8";


// .Form.vol-2 {
// 	--x-Form-void: 2rem;
// }





.Form {
	--x-Form-void: 1rem;

	//
	> ._shell {
		margin-bottom: var(--x-Form-void);
	}

	.Agree {
		margin-bottom: 1rem;
	}
	
	.net {
		margin-bottom: 0;
	}
}


 