@charset "UTF-8";

// .text > * {
//     margin-bottom: var(--x-void-text);
// }

.text.Void.void-slim {
    --x-text-void-max: 3rem;
}

.text {
    --x-text-void-max: 6rem;
}

//

.text > .Roll {
    margin-bottom: 0;
}

.text.description,
.text > .description {
    margin-top: 32px;
    margin-bottom: 32px;
}


.text > .Info,
.text > p,
.text > ._p,
.text > .h,
.text > h5,
.text > h6 {
    margin-bottom: 1rem;
}

.text > h4, .text > .h4,
.text > h3, .text > .h3 {
    margin-bottom: 1.5rem;
}

// .text > div {
// 	padding-top: 1rem;
// 	padding-bottom: 1rem;
// }


.text > h1, .text > .h1,
.text > h2, .text > .h2,
.text>._text,
.text > ol {
    margin-bottom: 2rem;
}

.text > ._dl,
.text > dl,
.text > video,
.text > figure,
.text>._img,
.text > blockquote,
.text > .blockquote,
.text > ._citation,
.text > .Citation {
    margin-bottom: 3rem;
}

// .text > .blockquote.x-airBottom,
// .text > .blockquote.x-air {
//     margin-bottom: 2rem;
// }

// .text > .blockquote.x-airM {
//     margin-bottom: 5rem;
// }


.text > ul {
    margin-bottom: 3.5rem;
}

//


.text>blockquote,
.text>.blockquote {
	figcaption {
		margin-top: 1rem;
	}
}



// .text>._text,
.text > ul.slim,
.text > dl  {
    margin-top: 2rem;
}

.text>.blockquote,
.text > ._citation,
.text > .Citation {
    margin-top: 3rem;
}

// .text > .blockquote.x-air,
.text>._img,
.text > ._h,
.text > .h,
.text > h4, .text > .h4 {
    margin-top: 4rem;
}

// .text > .blockquote.x-airTopM,
// .text > .blockquote.x-airM,
.text > .h1,
.text > h2, .text > .h2,
.text > h3, .text > .h3 {
    margin-top: var(--x-text-void-max);
}

details .text> :first-child {margin-top: 0;}

//

.text > .net {
    margin-top: 0;
    margin-bottom: 0;
}



// .text > :first-child {
//     margin-top: 0 !important;
// }

// .text > :last-child {
//     margin-bottom: 0 !important;
// }

@media (min-width:@w-menu-2-plus) and (max-width:@w-max) {
    .text>blockquote {
        margin-top: 3rem;
    }
}



@media screen and (max-width:@w-menu-2) {

    .text>blockquote {
        margin-top: 6rem;
    }

    .text > h4,
    .text > h5,
    .text > h6 {
        margin-bottom: 1.5rem;
    }

}

//

.text > :first-child {
    margin-top: 0;
}
.text> :last-child {
	margin-bottom: 0;
}