@charset "UTF-8";

.FIX.on {
	._fix.-hScreen {
		height: var(--FIX-height);
	}
}


@media (min-width:@w-menu-2-plus) and (max-width:@w-max) {



	.FIX.on>.fix.-jolt {
		padding-top: var(--jolt);
	}
	
	// .FIX.on>.fix.-island {
	// 	align-items: center;
	// }

	.FIX.on {
		._fix.-hScreen_PC {
			height: var(--FIX-height);
		}
	}

}




@media screen and (max-width:@w-menu-2) {
 
	// .FIX.on {
	// 	._fix.-hMax {
	// 		max-height: var(--FIX-height);

	// 	}
	// }


	// #28021050  перекрываем фон дополнительный, который видно при изменение высоты на мобильных когда исчезаеи шапка браузера
	#body.fix {
		.FIX.on ._fix {
			z-index: 5;
		}
	}

	.FIX.on {

 
		._fix {
			> ._sticky {
				position: sticky;
				top: 0;
			}
		}

		._fix.-hScreen_mbl {
			height: var(--FIX-height);
		}
		

		// #28021050
		.fix::after {
			z-index: 2;
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 100px;
			background-color: #fff;
		}

		.fix.vol-center::after {
			opacity: 0;
		}
	}
}