@charset "UTF-8";


.Geek {
	.Hook {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 10;
		min-height: calc(var(--x-Geek-paddingTop) - 1rem);
	}
}

//

.Hook {
	cursor: pointer;
	z-index: 2;
}

.Hook::before {
	position: absolute;
	top:0;
	right: 0;
	bottom: 0;
	left: 0;
}

#inputPostman:checked~.Hook,
.Hook.-fix {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
}

#inputPostman:checked~.Hook {
	right: 0;
}

.Hook.-off {
	top:0;
	bottom: -80px;
	left: 0;
}

#inputPostman:checked~.Hook,
#inputGucci:checked~.Hook,
#inputGeek:checked ~ .Hook,
input.Sherpa:checked ~ .Sherpa > .Hook,
.Hook.On {
	right:0;
}

.Hook.-bg::before {
	content: '';
	background-color: var(--bg-opacity-lighter);
	.transition(all,linear,.1s);
}



.Hook.-bg:hover::before {
	opacity: .5;
}

.Message .Hook.-bg:hover::before {
	opacity: 1;
}



.Hook.-op {
	opacity: 0;
	.transition(opacity,linear,.1s);
}

#inputPostman:checked~.Hook.-op,
#inputGucci:checked~.Hook.-op,
#inputGeek:checked ~ .Hook.-op,
#inputMenuMain:checked ~ .menuOpen .Hook.-op,
input.Sherpa:checked ~ .Sherpa > .Hook.-op,
.On .Hook.-op {
	opacity: 1;
}

@media (min-width: @w-menu-2-plus) and (max-width:@w-max) {
	.Hook.-bg.-mbl::before {opacity: 0;}
}




// #GeekMenu ~ .Hook.-GeekMenu,
// #inputGeek:checked ~ .Hook.-pure {
//     right: 0;
// 	// z-index: 200;
// 	// opacity: 1;
// }









// #Geek-input:checked ~ .Hook-geek,
// input:checked ~ .Sherpa .Hook {
// 	opacity: 1;
// 	.transition(opacity,linear,.1s);
// }



// .Hook ~ * {
// 	z-index: 5;
// }



///

// .Hook-geek,
// .Sherpa .Hook {
// 	opacity: 0;
// }














///







// #Geek-input:checked ~ .Geek {
// 	z-index: 500;
// }




//  #Geek-input:checked ~ .Hook.-geek {
//     bottom: -50px;
//  }


 //



 

// /*
// #Geek-input:checked ~ .Hook.-geek,





/***/