@charset "UTF-8";


.Citation {
	--x-Citation-space: var(--Ava);
	--x-Citation-edge-top: 11px;
	--x-Citation-corrector: 0px;
	--x-Citation-width: calc(var(--Paper) - var(--x-Citation-corrector));
}


.Citation.-M {
	--x-Citation-edge-top:17px;
}





//
.Citation {
	max-width: var(--x-Citation-width);
	display: block;

	.author {
		margin-top: .75rem;
		padding-left: 3px;
	}

	.content {
		padding: var(--x-Citation-edge-top) 20px var(--x-Citation-edge-top) calc(var(--x-Citation-space) * .5);
	}
}

.Citation.face-bottom {

	.author {
		margin-top: calc(.75rem + var(--x-face)*.1);
	}

}

@media (min-width:@w-menu-2-plus) and (max-width:@w-max) {


	.Citation.face-xs.face-bottom:not(.face-padding),
	.Citation.face-xs.face-bottom.-mblPC,
	.Citation.face-s.face-bottom.-mblPC {
		padding-left: 0 !important;
		.author {
			padding-left: calc(var(--x-face) + var(--x-face-rem));
		}
	}

}

@media screen and (max-width: @w-menu-2) {

	.Citation.-faceAuthor_mbl {
		.author {
			margin-top: calc(var(--x-face)*.4);
			padding-left: calc(var(--x-face) + 4px);
		}
	}
}

/*



.Citation.Fog {
	--x-Citation-var-w: 1rem;
}

.Citation.Fog.On {
	--x-Citation-var-w: 0rem;
}

@media (min-width: @w-menu-2-plus) and (max-width: @w-max) {

	.Citation {
		--x-Citation:var(--Paper);
	}

	.Citation.-M {
		--x-Citation: var(--Blog);
	}
	.Citation.-S {
		--x-Citation: 28rem;
	}
	
	.Citation.-l {
		margin-left: 0;
	}

	.Citation.-face.faceBottom,
	.Citation.-face.-mblPC {
		padding-left: 0;

		.author {
			margin-top: calc(var(--x-face)*.4);
			padding-left: calc(var(--x-face) + 3px);
		}
	}

	.Citation.-face.faceBottom::before,
	.Citation.-face.-mblPC::before {
		top: auto;
		left: calc(var(--x-face) - var(--x-face) - 2px);;
		bottom: calc(var(--x-face) - var(--x-face)*1.25);
	}
	
}

@media screen and (max-width: @w-menu-2) {
	.Citation {
		--x-Citation:calc(var(--w) - 3rem);
	}

	.Citation.-face {
		padding-left: 0;

		.author {
			margin-top: calc(var(--x-face)*.4);
			padding-left: calc(var(--x-face) + 1px);
		}
	}

	.Citation.-face::before {
		top: auto;
		left: calc(var(--x-face) - var(--x-face) - 3px);
		bottom: calc(var(--x-face) - var(--x-face)*1.25);
	}
}


//


 
.Citation.Fog .content {
	padding-bottom: 0;
}

.Citation.Fog.On .content {
	padding-bottom: 11px;
}


@media screen and (max-width: @w-menu-2) {

	.Citation.Fog.On,
    .Citation {
        width:100%;
        max-width: var(--x-Citation);
    }

	.Citation.Fog {
		max-width:calc(var(--x-Citation) - 2rem);
	}

}


/**/
 