@charset "UTF-8";

.-Details,
// .Details > details,
.Details {
	--x-details-padding-right: 5px;

	// ._children {
	// 	--x-details-margin-left:1rem;
	// }
}



//
@media (min-width:1397px) and (max-width:@w-max) {
	.Details.-shiftLeftI > details {
		transform: translateX(calc(var(--x-details-margin-left) - var(--x-details-margin-left)*2));
	}
}
@media (min-width:@w-menu-2-plus) and (max-width:@w-max) {

	.Details.-edgeS > details {
		--x-details-margin-left: 1.5rem;
	}

	.Details.-shiftLeftPC > details {
		transform: translateX(calc(var(--x-details-margin-left) - var(--x-details-margin-left)*2));
	}
}



//
.Details.-edge > details > summary,
.Details.-edgeS > details > summary,
details.-edgeSummary > summary {
	padding-left: var(--x-details-margin-left);
}

.Details.-edgeSummaryLeftMargin > details > summary {
	padding-left: 0;
	margin-left: var(--x-details-margin-left);
}

.Details.-edgeIco {
	> details > summary > ._i,
	> details > summary > i {
		right: 1.5rem;
	}
}

.Details.-edgeS,
.Details.-edge {
    > details {
		// .lvl-2 > ._edge,
        > ._edge {
			> * {
				margin-left: var(--x-details-margin-left);
				padding-right: var(--x-details-padding-right);
			}

			> .vol-center {
				margin-left: 0 !important;
				padding-right: 0 !important;
			}
        }
		// ._children {
		// 	margin-left: var(--x-details-margin-left);
		// 	margin-right: var(--x-details-margin-left);
		// }
    }
}

@media (min-width:@w-menu-2-plus) and (max-width:@w-max) {

	.Details.-edgeSummary.-bg {
		details {
			> summary {
				padding-left: 0;
				margin-left: var(--x-details-margin-left);
				margin-right: var(--x-details-margin-left);
			}
		}

	}
}

@media (min-width:1397px) and (max-width:@w-max) {
	.Details.-edgeI > details > summary{
		padding-left: var(--x-details-margin-left);
	}
	.Details.-edgeI {
		> details {
			> ._edge {
				margin-left: var(--x-details-margin-left);
				padding-right: var(--x-details-padding-right);
			}
		}
	}

}

@media screen and (max-width:@w-menu-2) {


	.edge-s,
	.edge {
		> .Details > details {

			> ._edge {
				--x-details-margin-left: 0;
				--x-details-padding-right: 0;
			}
		}
	}


	.Details.-edge > details,
	.Details.-edge_mbl > details {
		> ._edge {
			> .Roll_mbl { 
				margin-left:0;
				padding-right: 0;
			}
		}
	}

	.Details.-edge_mbl {

		> details > summary {
			padding-left: var(--x-details-margin-left);
		}

		> details {
			> ._edge {
				> * {
					margin-left: var(--x-details-margin-left);
					padding-right: var(--x-details-padding-right);
				}


				.Citation {
					padding-right: 7px;
				}

				> .W-100 {
					width: auto;
				}
			}
		}
	}
	
	.Details.-edgeS_mbl {
		> details > summary {
			padding-left: calc(var(--x-details-margin-left)*.5);
		}

		> details {
			> ._edge {
				margin-left: calc(var(--x-details-margin-left)*.5);
				padding-right: var(--x-details-padding-right);
			}
		}
	}	


	.Details.-edgeSummaryS_mbl {
		> details > summary {
			padding-left: calc(var(--x-details-margin-left)*.5);
		}	
	}


	//
	details .aura{
	    margin-left: 0;
	}

	details.-L,
	.Details.-L > details{
	    > summary {
	        padding-top: 2.5rem;
	        padding-bottom: 2.5rem;
	    }
	}
}







////
@media (min-width:@w-menu-2-plus) and (max-width:@w-max) {
	details {
		.Info {
			width: calc(100% - var(--x-details-margin-left) + var(--x-details-padding-right));
		}
		// .Info {
		// 	margin-right: var(--x-details-margin-left);
		// }
		// .Info.net {
		// 	margin-right: 0;
		// }
	}
}



.Details {
	.x-name {
		margin-bottom: 2rem;
	}
}


details {
    position: relative;

    > * {
        position: relative;
        z-index: 5;
    }

    > :last-child {
        position: static;
    }

	p {
		max-width: var(--Article);
	}

	// p b {
	// 	font-size: 120%;
	// 	line-height: 240%;
	// }

	table.x-edge tr > *:first-child {
	    padding-left: var(--x-details-margin-left);
	}

	// > ol.Net {
	// 	margin-top: 0;
	// }

}


summary {
	display: flex;
	//
	align-items: center;
}