@charset "UTF-8";

.Info {
	--x-Info-void: ~"calc(var(--font))";
}


// .Info.-ico.--icoS {
// 	--x-Info-void:: ~"calc(var(--font)*.75)";
// }

 

.Info {
    > * {
        margin-left: 0 !important;
    }
    > :last-child {
        margin-bottom: 0;
    }

    > strong {
        display: block;
        padding-bottom: .5rem;
    }

}

.Info.-space {
	padding: var(--x-Info-void);
}
.Info.-spaceM {
	padding: calc(var(--x-Info-void)*2) calc(var(--x-Info-void)*1.5);
}


// .Info.ico-top {
// 	padding-top: calc(var(--font)*3);
// }

.Info.ico-left {
	padding-left: calc(var(--font)*3);
}

.Info.ico-left.ico-s {
	padding-left: calc(var(--font)*2.2);
}

.Info.ico-left.ico-xs {
	padding-left: calc(var(--font)*2);
}


.Info.-ico.ico-left.ico-out {
	padding-left: 0;
}

.Info.-ico.ico-center {
	padding-left: 0;
}

.Info.-ico.ico-center.-space {
	padding-left: var(--x-Info-void);
}

.Info.-center {
	text-align: center;
}


.Info.-ico.ico-left.ico-out {
	padding-left: 0;
}