@charset "UTF-8";

.Opinion {
    padding-bottom: 2rem;
    
    .Preamble.-row {
        padding-top: 2rem;
        padding-bottom: 2rem;

        > * {
            margin-right: 1rem;
        }
    }

}
