@charset "UTF-8";

.Select {

	select {
		border-color: transparent !important;
		// min-height: var(--x-Form-lineHeight);
		// line-height: var(--x-Form-lineHeight);
	}

	// JS
	ul {
		--ulol-font: var(--font);
		--ulol-line: calc(var(--ulol-font)*2);
	}

	#tags {
		min-width: 100px !important;
	}
}



.Form .Select select {
	height: var(--x-Form-lineHeight);
	line-height: var(--x-Form-lineHeight);
}


.select2-container--default {
	// width: 100%;
	// min-width: 180px;

	.select2-selection--multiple .select2-selection__choice__remove {
		margin-right: 4px;
	}
	.select2-selection--multiple .select2-selection__choice {
		padding-right: 8px;
	}
	.select2-search--inline .select2-search__field {
		font-size:var(--font);
		line-height:2rem;
		margin-bottom: 5px;
	}
	.select2-results__option[aria-selected=true] {
		background-color: #535b75;
		color: inherit !important;
	}
	.select2-results > .select2-results__options {
		background-color: #424248;
		padding: 2px 4px;
	}
	.select2-results__option--highlighted[aria-selected] {
		// background-color: #5897fb;
		color: white;
	}

	.select2-search {
		background-color: transparent;
	}
	.select2-results__option {
		padding: 2px 0 2px 4px;
		border-radius: 5px;
		margin-bottom: 2px;
	}
}

 

 
 