@charset "UTF-8";



@media screen and (max-width:@w-menu-2) {}


// @media (min-width: @w-menu-2-plus) and (max-width:@w-max){
// 	table.-M {
// 		tbody tr td {
// 			padding-top:~"calc(var(--table-void-table)*6)";
// 			padding-bottom:~"calc(var(--table-void-table)*3)";
// 		}
// 	}
// }


// table thead tr th {
//     font-size: 90%;
//     line-height: 115%;
//     font-weight: normal;
//     padding-bottom: var(--table-void-table);
//     padding-left: var(--table-padding-table);
//     padding-right: var(--table-padding-table);

//     > * {
//         font-style: normal;
//         font-weight: inherit;
//     }

//     > i {
//         display: block;
//     }

//     > span {
//         padding-top: 3px;
//         //
//         font-size: 80%;
//         letter-spacing: .5px;
//     }
// }


// table tr > td:first-child,
// table tr > th:first-child {
    //text-align: left;
    //padding-left: var(--table-padding-table);
// }




table {

	// thead,
	// tbody,
	// tfoot {
	// 	position: relative;
	// }

	> thead {z-index: 7;}
	> tbody {z-index: 5;}
	> tfoot {z-index: 3;}


    //

    tfoot {
        tr td {
            padding-bottom: 10px;
            padding-top: 10px;
        }
        tr:first-child td {
            padding-top:~"calc(var(--table-padding-table)*1)";
        }
        tr:last-child td {
            padding-bottom:1rem;
        }
    }
}




