@charset "UTF-8";

.Btn-w,
.Btn {
    --x-btn:var(--Btn);
}

.Btn.vol-circul {
    --x-btn:calc(var(--x-Form-lineHeight)*.8);
}


//
.Btn-h,
.Btn {
	--x-btn-H: 45px;
    --x-padding-left:1rem;
}

.Btn.vol-circul {
    --x-btn-H:calc(var(--x-Form-lineHeight)*.8);
}

//
.Btn.-M {
    --x-btn: ~"calc(var(--Btn) + 2rem)";
}

.Btn.-L {
    --x-btn: ~"calc(var(--Btn) + 3rem)";
}

.Btn.-upFont {
    --font:var(--rem-p);
}

.Btn.-S {
    --x-btn: ~"calc(var(--Btn) - 2rem)";
}

.Btn.-edgeS {
    --x-padding-left:.5rem;
}


.Btn.slim {
    --x-btn-H: 39px;
}

.Btn.slim-s {
    --x-btn-H: 32px;
}

.Btn.slim-xs {
    --x-btn-H: 28px;
}

.Btn.wide {
    --x-btn-H: 4rem;
}

// .Btn.yes,
// button.Btn,
// .Btn a,
// label.Btn,
// a.Btn,

.Btn-w,
.Btn {
    min-width:var(--x-btn);
    min-height: var(--x-btn-H);
}

.Btn {
    padding-top: 1px;
    padding-left: var(--x-padding-left);
    padding-right: var(--x-padding-left);
    //
	display: flex;
	align-items: center;
    //
    line-height: 100%;
}

// .Btn.yes.-auto,
// .Btn.-edge,
// .Btn.-auto,
// label.Btn.-auto,
.Btn.-autoS,
.Btn.-auto {
    min-width: auto;
}

.Btn.-auto {
    padding-left: calc(var(--x-padding-left)*2);
    padding-right: calc(var(--x-padding-left)*2);
}

.Btn.-autoS {
    padding-left: calc(var(--x-padding-left)*1);
    padding-right: calc(var(--x-padding-left)*1);
}


.Btn.-first {
    padding-left: 0;
}

@media (min-width: @w-menu-2-plus) and (max-width: @w-beyond) {
    .Btn.vol-go {
        --x-btn:6rem;

        font-size: 12px;
    }
}


@media screen and (max-width: @w-menu-2) {
    .Btn.vol-go {
        --x-btn:calc(var(--Ico) + 0);

        font-size: 0;
    }
}

 
// .Btn.-Auto {
//     padding-left: calc(var(--x-padding-left)*.5);
//     padding-right: calc(var(--x-padding-left)*.5);
// }
