@charset "UTF-8";


.Ico {
	>svg {
		width: 100%;
		height: 100%
	}

	 
}

body .Ico {
	line-height: 0 !important;
}

//

.Ico.-XXL {
	--x-Ico: ~"calc(var(--Ico)*3.5)";
}

.Ico.-XL {
	--x-Ico: ~"calc(var(--Ico)*2.5)";
}

.Ico.-L {
    --x-Ico:~"calc(var(--Ico)*2)";
}

.Ico.-M {
    --x-Ico:~"calc(var(--Ico)*1.25)";
}

.Ico {
    --x-Ico:var(--Ico);
}

.Ico.-S {
    --x-Ico:~"calc(var(--Ico)*0.75)";
}

.Ico.-XS {
	--x-Ico: ~"calc(var(--Ico)*0.5)";
}

.Ico.-XXS {
	--x-Ico: ~"calc(var(--Ico)*0.25)";
}

// .Ico.orb {
//     // --x-Ico:~"calc(var(--Ico)*1.3)";
// 	--x-Ico-orb:~"calc(var(--Ico)*.15)";
// }


.Ico.-long {
    width: 4rem;
}

.Ico.-longS{
	width: 3rem;
}

.Ico.-longM {
    width: 5rem;
}

.Ico.-longL {
    width: 6rem;
}
.Ico.-longXL {
    width: 8rem;
}


@media (min-width:@w-menu-2-plus) and (max-width:@w-max){

	.Ico.-index {
		--Ico: clamp(20px, 26px, calc(var(--index)));
	}
	
	.Ico.-vw {
		--Ico-w: clamp(4vw,var(--x-Ico),6vw);
	}

}
@media screen and (max-width:@w-menu-2){

    .Ico.long {
        width: 7rem;
    }

}




.Ico {
	--Ico-w: var(--x-Ico);

	//
    font-size: 0;
	line-height: 0;
    width: var(--Ico-w);
    height: var(--Ico-w);
	min-width: var(--Ico-w);
	min-height: var(--Ico-w);
}

