@charset "UTF-8";

.Stories {
    .Ico,
    .Ava {
        --Ico: calc(9vw);
        --x-Ava: calc(8vw);

        min-width: 100px;
        min-height: 100px;
    }
    ._name {
        word-break: keep-all;
    }
}