@charset "UTF-8";


@media (min-width: @w-menu-2-plus) and (max-width: @w-max) {


    #body:not(.shema-aside){
        #oiBar {
            > ._wrap > ._hidden {
                transform: translateX(-1000px);
            }
        }
    }

    #body.shema-aside.aside-abs {
        #oiBar {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
        }
    }
    #body.shema-aside.aside-sticky {
        --x-aside-top:var(--h-Top);
        #oiBar {
            ._wrap {
                position: sticky;
                top: var(--x-aside-top);
                height: calc(var(--h));
            }
        }
    }
}
 