@charset "UTF-8";

@import "./__/_ol.less";





@media (min-width:@w-menu-2-plus) and (max-width: @w-max) {



	.Goo.-manager {
		--x-Goo:var(--h-Top);
	}

	// #body, .body {
		// --h-Top:
	// }
    // html {
	// 	--font-min: 13px;
    //     --font: 14.6px;
	// 	//
	// 	--fontMenu: @fontMenu;
	// 	--fontMenuTag: @fontMenuTag;
	// 	--fontMenuMain: @fontMenuMain;
	// }

	// #Header .x-05041138{
	// 	font-size: clamp(10px,var(--font), 14px) !important;
	// }


	// .menu.-main > * {
	// 	font-size: clamp(calc(var(--fontMenu) + 2px),calc(var(--indexW) + 2px),var(--fontMenuMain));
	// }


}


.Goo.-header {
	--x-Goo:calc(var(--h-Header) + 3rem);
}

/*


@media (min-width:@w-menu-2-plus) and (max-width: @w-max) {

	
	html {
		// --font-min: 13px;
		// --font: 14.6px;
		// //
		// --fontMenu: @fontMenu;
		// --fontMenuTag: @fontMenuTag;
		// --fontMenuMain: 17px;

		//
		// --c-menu: #364364;
	}



	#body,
	.body {
		// --h-Top: @h-Top;
		// --h-Header: 80px;
		// --Logo: 240px;
		// --h-Fon: calc(var(--h-Top) + var(--h-Header));
		// --rem-Header-space: 30px;
	}

	.x-menuMain {
		--rem-menuMain:calc(var(--rem-Header-space)*2);
	}


}




@media (min-width: @metrika-70-plus) and (max-width: @w-max) {
	#body {
		// --Logo: 70px;
	}
}

@media (min-width:@w-menu-2-plus) and (max-width: @metrika-70) {
	#body {
		// --Logo: 80px;
	}
}





//
/**/