@charset "UTF-8";


.Abs.vol-20052023 {
    left: -2rem;
    top: -2rem;
    right: 0;
    bottom: 0;
}

.ico-20051538 {
    --c-text: #e0a354; //#5c87ff;

    border-radius: 1rem;
    border:1px solid #676792; // #354d73 #424273
}


#wrap_edit_customerFS.On {
    .Ruler {
        --Ruler-bg:#111;

        .major {
            --Ruler-bg:#111;
        }

        .milestone {
            --Ruler-bg:#000;
        }
    }
}
