@charset "UTF-8";


.Abs.vol-20052023 {
    left: -2rem;
    top: -2rem;
    right: 0;
    bottom: 0;
}

.ico-20051538 {
    --c-text: #efd1a5; // #e0a354; //#5c87ff;

    border-radius: 1.5rem;
    border:1px solid #676792; // #354d73 #424273

    // background-color: #222;
}


// #wrap_edit_customerFS {
//     .wrap-birthday {
//         border: 1px solid hsla(0, 0%, 100%, 0.15);
//     }
// }




#wrap_edit_customerFS.On {
    .Ruler {
        --Ruler-bg:#111;

        .major {
            --Ruler-bg:#111;
        }

        .milestone {
            --Ruler-bg:#000;
        }

        .label {opacity: 0;}
    }
}

#wrap_edit_customerFS:not(.On) {
    .Flaber ._flaber {cursor: pointer;}
}




table.vol-size {
    border-spacing: .5rem;
    padding: 0 .5rem 2rem 0;
    background-size: 80px 80px;
    background-position: center;
    background-image: url("/images-0/bg/grid/0603.svg");

    tbody {
        .hMin {
            border-bottom: 1px dashed #111;
        }
        .center-text {
            border: 1px solid hsla(0, 0%, 100%, 0.15);
            border-radius: .5rem;
        }
    }
}




table.vol-size.male {
    .female {display: none;}
}
table.vol-size.female {
    .male {display: none;}
}


 

