@charset "UTF-8";



.Tag {
    > * a {display: block;}

    a {
        padding: .5rem 1rem;
        background: #eee;
    }

    > * {
        display: inline-block;
        vertical-align: top;
        margin-right: .5rem;
        margin-bottom: 1rem;
    }
}

/***/
