@charset "UTF-8";

.Wagon {
	--x-Wagon-w: var(--Wagon-w);
	--x-Wagon-h: var(--Wagon-h);
}



//
.Wagon.-wXS {
	--x-Wagon-w: calc(var(--Wagon-w) - 80px);
}

.Wagon.-wS {
	--x-Wagon-w: calc(var(--Wagon-w) - 40px);
}

.Wagon.-wM {
	--x-Wagon-w: calc(var(--Wagon-w) + 40px);
}

.Wagon.-wL {
	--x-Wagon-w: calc(var(--Wagon-w) + 80px);
}

.Wagon.-wXL {
	--x-Wagon-w: calc(var(--Wagon-w) + 120px);
}

.Wagon.-wXXL {
	--x-Wagon-w: calc(var(--Wagon-w) + 160px);
}

//
.Wagon.-hXS {
	min-height: calc(var(--x-Wagon-h) - 140px);
}
.Wagon.-hS {
	min-height: calc(var(--x-Wagon-h) - 100px);
}

.Wagon.-hM {
	min-height: calc(var(--x-Wagon-h) + 100px);
}

.Wagon.-hL {
	min-height: calc(var(--x-Wagon-h) + 200px);
}

.Wagon.-h {
	min-height: var(--x-Wagon-h);
}



//

.Wagon.-w {
	min-width: var(--x-Wagon-w);
	max-width: var(--x-Wagon-w);

	// > * {width: 100%;}
}

@media (min-width:@w-menu-2-plus) and (max-width:@w-max) {
	.Grid {
		.Wagon.-w {
			min-width: auto;
		}
	}
}




/*
 
.-Postcard,
.Postcard {
	--x-Postcard-w: 380px;
	--x-Postcard-h: 160px;
}


.-Postcard .Teaser,
.Postcard {
	position: relative;
	min-width: var(--x-Postcard-w);
	// min-width: var(--x-Postcard-w);
	min-height: var(--x-Postcard-h);
}


@media screen and (max-width:@w-mobile) {

	// .Message .Postcard {
	// 	max-width: ~"calc(100% - 4rem)";
	// }

    .Postcard-mbl {
		.Teaser {
			// min-width: var(--w-min);
			// max-width: var(--w-min);
			// min-height:140px;
	
			// > .Stars,
			// > .Preamble {
			//     margin-left:1rem;
			// }
			padding-top: 1rem;
	
			.Preamble {
				margin-left: 1rem;
			}

			.content {
				min-height: 110px;
			}

			div._pst {
				padding: 0 1rem 1rem 1rem;
				margin: 0;
			}


			label._pst {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}

			.A {
				max-width: 100%;
				display: none;
				margin-bottom: 0;
			}





			input:checked ~ div._pst {
				display: none;
			}
		}
	}
	
}




/***/