@charset "UTF-8";

.Wagon {
	--x-Wagon-w: var(--Wagon-w);
	--x-Wagon-h: var(--Wagon-h);
}



//
.Wagon.Pente-3 {

	--x-Wagon-w: var(--x-Pente-w);
}
.Wagon.-wXS {
	--x-Wagon-w: calc(var(--Wagon-w) - 80px);
}

.Wagon.-wS {
	--x-Wagon-w: calc(var(--Wagon-w) - 40px);
}

.Wagon.-wM {
	--x-Wagon-w: calc(var(--Wagon-w) + 40px);
}

.Wagon.-wL {
	--x-Wagon-w: calc(var(--Wagon-w) + 80px);
}

.Wagon.-wXL {
	--x-Wagon-w: calc(var(--Wagon-w) + 120px);
}

.Wagon.-wXXL {
	--x-Wagon-w: calc(var(--Wagon-w) + 160px);
}

//
.Wagon.-hXS {
	min-height: calc(var(--x-Wagon-h) - 140px);
}
.Wagon.-hS {
	min-height: calc(var(--x-Wagon-h) - 100px);
}

.Wagon.-hM {
	min-height: calc(var(--x-Wagon-h) + 100px);
}

.Wagon.-hL {
	min-height: calc(var(--x-Wagon-h) + 200px);
}

.Wagon.-h {
	min-height: var(--x-Wagon-h);
}



//

.Wagon.-w {
	min-width: var(--x-Wagon-w);
	max-width: var(--x-Wagon-w);

	// > * {width: 100%;}
}

@media (min-width:@w-menu-2-plus) and (max-width:@w-max) {
	.Grid {
		.Wagon.-w {
			min-width: auto;
		}
	}
}



//