@charset "UTF-8";

// .wrap-relationship.-multiple {
//     padding-top: 0;
// }

.wrap-relationship.-solo {
    padding-top: 1rem;
}

.wrap-relationship {
    // background: var(--bg);
    background: linear-gradient(#2f2e36,var(--bg));

    > ._name {
        padding-left: .5rem;
    }

    ._label::before {
        content: '';
        position: absolute;
        left: 0;
        top: -1rem;
        bottom: 0;
        width: 40%;
        // background-color: red;
    }

    ._field {
        min-height: 40px;
    }

    // ._field {
    //     background: linear-gradient(to top, rgba(45, 44, 51,1) 0,rgba(45, 44, 51,.8) 80%,transparent);
    // }
    
}