@charset "UTF-8";


.Bar {
	--Bar-w:var(--bar);
}

.Bar.-M {
	--Bar-w: calc(var(--bar) + 2rem);
}

.Bar.bar-left {
	--Bar-shift:calc(var(--Bar-w) - var(--Bar-w)*2);
}

.Bar.-edgeLeft {
	margin-left: var(--bar);
}

.Bar.-tool {
	min-width: var(--bar);
}

.Bar.-shift {
	transform: translateX(var(--Bar-shift));
}

.Bar.-l {
	right: 100%;
}

.Bar.-r {
	left: 100%;
}