// @charset "UTF-8";

// // .Gstrm.last {margin-right: 0;}

//
.cross,
.cross_PC {
	--x-cross:var(--cross);
}

.cross.-grid6020,
.cross.-js{
	--x-cross:20px;
}

.cross-xl {
	--x-cross:calc(var(--cross)*2);
}


.cross-l {
	--x-cross:calc(var(--cross)*1.5);
}

.cross-m_PC,
.cross-m {
	--x-cross:calc(var(--cross)*1.25);
}

.cross-s {
	--x-cross:calc(var(--cross)*0.75);
}

 
.cross-xs {
	--x-cross:calc(var(--cross)*.5);
}

.cross-xxs {
	--x-cross:calc(var(--cross)*.25);
}

.cross-min {
	--x-cross:calc(var(--cross)*.2);
}



@media (min-width:@w-menu-2-plus) and (max-width: @w-max) {
	.cross-xs_PC {
		--x-cross:calc(var(--cross)*.5);
	}
	.cross-xl_PC {
		--x-cross:calc(var(--cross)*2);
	}
	
}


@media screen and (max-width: @w-menu-2) {
	.cross-m_PC,
	.cross_PC {
		--x-cross:0;
	}

	.Nav.vol-asgrupp {
		--x-cross:var(--cross);
	}
}


////

.cross-m_PC,
.cross-xs_PC,
.cross_PC,
.cross-xl_PC,
.cross-xl,
.cross-l,
.cross-m,
.cross-s,
.cross-xs,
.cross-xxs,
.cross-min,
.cross {
	> * {
		margin-right: var(--x-cross);
	}

	// > dt {
	// 	margin-right: 0;
	// }

	// > dt,
	// > dd {
	// 	padding-bottom: 0;
	// 	margin-bottom: 0;
	// }

	> .last,
	>:last-child {
		margin-right: 0;
	}
}