@charset "UTF-8";

// .Flex.x4,
// .flex.x4 {
//     --Flex-flexbasis:25%;
// }

////

.Bone > * {order:5}

.Video,
.Wagon,
.Track,
.Kite,
.Bone,
.Chunk,
.flex {
	display: flex;
}

.Flex {
	display: flex !important;
}

@media (min-width: @w-menu-2-plus) and (max-width:@w-max) {
	.flex_PC {
		display: flex;
	}
	.flex_PC.-wrap {
		flex-wrap: wrap;
	}
}


@media (min-width: @metrika-100-plus) and (max-width:@w-max) {
	.cC-100 {
		justify-content: center;
	}
}


@media (min-width: @metrika-70-plus) and (max-width:@w-max) {
	.flex-70 {
		display: flex;
	}
	.cC-70 {
		justify-content: center;
	}
}

@media (min-width: @w-beyond-plus) and (max-width:@w-max) {
	.flex-PC {
		display: flex;
	}
}


@media screen and (max-width:@metrika-80) {
	.flex.block_80 {
		display: block;
	}
}

@media screen and (max-width:@w-menu-2) {

	.Bone_mbl > * {order:5}

	.Bone_mbl,
	.flex_mbl {
		display: flex;
	}
}

.flexInline {
	display: inline-flex;
}


.flex.none {display: none;}


.flex.-wrap {
	flex-wrap: wrap;
}

.flex.-wrap.cloud > *{
	margin-right: var(--x-cloud);
	margin-bottom: var(--x-cloud);
}
 

.cI {
	align-items: center;
}

.eI {
	align-items: flex-end;
}



.cC {
    justify-content: center;
}

.sI {
    align-items: flex-start;
}

.Bone,
.bC {
    justify-content: space-between;
}

.eC {
    justify-content: flex-end;
}

.Preamble,
.aC {
    justify-content: space-around;
}

.Video,
.Bone,
.dC {
	flex-direction: column;
}


.sC {
	justify-content: flex-start;
}

.dRR {
	flex-direction: row-reverse;
}

.dCR {
	flex-direction: column-reverse;
}

@media (min-width: @w-menu-2-plus) and (max-width:@w-max) {
	.Bone_PC > * {order:5}

	//.Flex,
	//.Preamble,
	// .Social,
	//
	// .Lego,
	// .Golden,
	// .Chunk,
	//
	.Bone_PC,
	.Golden,
	.Reg,
	.Oi,
	// .Oi .oiBar ,
	// .Oi .oi,
	//#Wrap,
	#Main {
		display: flex;
	}

	//.Lego,
	// .Oi .oi,
	//#Wrap,
	#Main {
		flex-direction: column;
	}

	//.Golden,
	//.flex.-between,
	// .Reg  {
	// 	justify-content: space-between;
	// }
	
	.Video,
	.cC_PC {
		justify-content: center;
	}


	.cI_PC {
		align-items: center;
	}

	.Bone_PC,
	.bC_PC {
		justify-content: space-between;
	}

	.eC_PC {
		justify-content: flex-end;
	}

	// .ei_PC,
	.eI_PC {
		align-items: flex-end;
	}

	.Bone_PC,
	.dC_PC {
		flex-direction: column;
	}

	.-wrap_PC {
		flex-wrap: wrap;
	}

}

@media (min-width: @w-beyond-plus) and (max-width:@w-max) {
	.dC-PC  {
		flex-direction: column;
	}
	.bC-PC {
		justify-content: space-between;
	}
}

@media (min-width:@w-menu-2-plus) and (max-width:@w-beyond) {

	.flex_beyond {
		display: flex;
	}

	.cC_beyond {
		justify-content: center;
	}
	.eI_beyond {
		align-items: flex-end;
	}
}
@media screen and (max-width:@metrika-80-plus) {
	.Reg.-m80 {
		flex-direction: column;
	}
}


@media screen and (max-width:@metrika-70 + 100px + 16px) {
	.Reg.-m70 {
		flex-direction: column;
	}
}

@media screen and (max-width:@metrika-70) {
	.flex_70 {
		display: flex;
	}
	.dC_70 {
		flex-direction: column;
	}
}


@media screen and (max-width:@w-beyond ) {

	.sC_beyond {
		justify-content: flex-start;
	}

	.dC_beyond  {
		flex-direction: column;
	}

}

 
@media screen and (max-width:@w-menu-2) {


	.Onion {
        display: flex;
    }

	.Bone_mbl,
	.Onion,
	.dC_mbl {
		flex-direction: column;
	}

	.dRR_mbl {
		flex-direction: row-reverse;
	}
	
	.dCR_mbl {
		flex-direction: column-reverse;
	}

	.Bone_mbl,
	.bC_mbl {
		justify-content: space-between;
	}

	.eC_mbl {
		justify-content: flex-end;
	}

	.eI_mbl {
		align-items: flex-end;
	}

	.cI_mbl {
		align-items: center;
	}

	.sI_mbl {
		align-items: flex-start;
	}
	
	.Video,
	.cC_mbl {
		justify-content: center;
	}


}


////

// .Chunk,
//
// .Oi .oi,
//#Wrap,
// .Onion,
.Reg,
.Golden,
#Main {
	> * {order: 5}
}


// .Oi .oi > .FixMenu {order: 10}

// .first {order: 1}
// .last {order: 10}

// @media (min-width: @w-menu-2-plus) and (max-width:@w-max) {
 

// @media screen and (max-width:@w-menu-2) {

//     .Onion {
//         > * {order: 5}
//         //._back {order: 3;}
//         ._front {order: 10;}
//     }
	 
//     .first-mbl {order: 1;}
//     .last-mbl {order: 10;}

// }
