@charset "UTF-8";

@import "./lego/H_Plot.less";
@import "./lego/H_Tape.less";


 
.H-100 {height: 100%;}
.HMax {max-height: var(--FIX-height);}
// .HMin {min-height: calc(var(--Wagon-h) - 100px);}
.HMinVar {min-height: calc(var(--h));}
.HMinScroll {min-height: calc(var(--h) + var(--h-Header) + 4px)}
.HMinMax {min-height: calc(var(--h) - var(--h-head));}
.HMin-70 {min-height: calc(var(--h) * .7);}
.HMin-50 {min-height: calc(var(--h) * .5);}
.HMin-25 {min-height: calc(var(--h) * .25);}

@media (min-width: @w-menu-2-plus) and (max-width: @w-max) {
    
	.H-100_PC {height: 100%;}
    .HMinVar_PC {min-height: calc(var(--h));}

    .HMinMax_PC {min-height: calc(var(--h) - var(--h-head));}
    .HMin-70_PC {min-height: calc(var(--h) * .7);}
    .HMin-50_PC {min-height: calc(var(--h) * .5);}


    .Pop ._pop {
        min-height: 200px;
        padding-bottom: 60px;
    }

    //

	#body.shema-aside #Oi {
		min-height: var(--h);
	}

	 
    

}



@media screen and (max-width:@w-menu-2) {
	.HMax_mbl {max-height: var(--FIX-height);}


    .Pop ._pop {
        min-height: 300px;
    }

    // .Hgr_mbl.-V.-wagon,
    .Smart.-h.vol-tile_mbl {
        --Smart-h:clamp(140px,calc(var(--h)*.32),200px);
    }
     
}

.Smart {
    --Smart-h:auto;
}

.Smart.-h {
    min-height:var(--Smart-h);
}



//
.hill {
    --k-min: .5;
    --k-max: 2;
    --h-min: 10vh;
    --h-max: 30vh;
	--factor: .3;

	height: var(--hill);
}

.hill.-vw {
	// height: calc(var(--h-min) + (var(--h-max) - var(--h-min)) * ((var(--k-max) - var(--AR)) / (var(--k-max) - var(--k-min))));
    height: calc(var(--h-min) + (var(--h-max) - var(--h-min)) * ((var(--k-max) - var(--AR)) / (var(--k-max) - var(--k-min)) * var(--factor)));
}

.hill-xs {
	height: var(--hill-xs);
}

.hill-s {
	height: var(--hill-s);
}

.hill-m {
	height: var(--hill-m);
}

.hill-l {
	height: var(--hill-l);
}

.hill-xl {
	height: calc(var(--hill-l) + 2rem);
}

.hill-xl.-index {
	max-height: calc(var(--index) * 5);
}



@media screen and (max-width:@w-menu-2) {
	.hill_mbl {
		min-height: var(--hill);
	}
	.hill_mblS {
		min-height: var(--hill-s);
	}
	.hill_mblM {
		min-height: var(--hill-m);
	}
}


//
 