@charset "UTF-8";

.H-100 {height: 100%;}
.HMax {max-height: var(--FIX-height);}
// .HMin {min-height: calc(var(--Wagon-h) - 100px);}
.HMinVar {min-height: calc(var(--h));}
.HMinScroll {min-height: calc(var(--h) + var(--h-Header) + 4px)}
.HMinMax {min-height: calc(var(--h) - var(--h-head));}
.HMin-70 {min-height: calc(var(--h) * .7);}
.HMin-50 {min-height: calc(var(--h) * .5);}

@media (min-width: @w-menu-2-plus) and (max-width: @w-max) {
    
	.H-100_PC {height: 100%;}
    .HMinVar_PC {min-height: calc(var(--h));}

    .HMinMax_PC {min-height: calc(var(--h) - var(--h-head));}
    .HMin-70_PC {min-height: calc(var(--h) * .7);}
    .HMin-50_PC {min-height: calc(var(--h) * .5);}


    .Pop ._pop {
        min-height: 200px;
        padding-bottom: 60px;
    }
    

}


@media screen and (max-width:@w-menu-2) {
	.HMax_mbl {max-height: var(--FIX-height);}


    .Pop ._pop {
        min-height: 300px;
    }

    // .Hgr_mbl.-V.-wagon,
    .Smart.-h.vol-tile_mbl {
        --Smart-h:clamp(140px,calc(var(--h)*.32),200px);
    }
     
}

.Smart {
    --Smart-h:auto;
}

.Smart.-h {
    min-height:var(--Smart-h);
}



//
.hill {
	height: var(--hill);
}

.hill-xs {
	height: var(--hill-xs);
}

.hill-s {
	height: var(--hill-s);
}

.hill-m {
	height: var(--hill-m);
}

.hill-l {
	height: var(--hill-l);
}

.hill-xl {
	height: calc(var(--hill-l) + 2rem);
}

.hill-xl.-index {
	max-height: calc(var(--index) * 5);
}



@media screen and (max-width:@w-menu-2) {
	.hill_mbl {
		min-height: var(--hill);
	}
	.hill_mblS {
		min-height: var(--hill-s);
	}
	.hill_mblM {
		min-height: var(--hill-m);
	}
}

//

  

@media (min-width: @w-menu-2-plus) and (max-width:@w-max) {

    // .Plot.-M {
    //     --x-Plot:150px;
    // }

    .Plot.-S {
        --Plot-precise:calc(0px - var(--h-Top) - var(--h-Header) );
    }

    .Plot.-XS {
        --Plot-precise:calc(0px - var(--h-Top)*2 - var(--h-Header)*2 );
    }

    .Plot.-h {
        --Plot:clamp(700px,calc(var(--h) - var(--h-Top) - var(--h-Header) + var(--Plot-precise)),940px);
    }

    .Plot.-hMin {
        --PlotMin:calc(var(--h) - var(--h-Top) - var(--h-Header) + var(--Plot-precise));
    }


    .Plot.-XXS.-h {
        --Plot:calc(var(--h) *.5);
    }

    .Plot.-XXS.-hMin {
        --PlotMin:calc(var(--h)*.5 - var(--h-Top) - var(--h-Header) + var(--Plot-precise));
    }


    //
    .Tape.-h {
        --Tape:320px;
        // --TapeMin:auto;
    }
}


@media screen and (max-width:@w-menu-2) {
    .Plot.-h.-mbl {
        --Plot:calc(var(--h) - var(--h-Top) - var(--h-Header) + var(--Plot-precise));
        // height:auto;
    }

    // .Plot.-h.-fixMbl {
    //     height:var(--Plot);
    // }
}
 


.Plot {
    --Plot:auto;
    --PlotMin:auto;
    --Plot-precise: 0px;
    // calc(var(--h) - var(--h-Top) - var(--h-Header) - var(--x-Plot));
    //  //
    height:var(--Plot);
    min-height:var(--PlotMin);
    // max-height:740px;
    // min-height: 360px;
}



.Plot.on {
    height:auto;
    min-height: auto;
}


//

.Tape {
    --Tape:auto;
    --TapeMin:auto;
    --Tape-precise: 0px;

    height:var(--Tape);
    min-height:var(--TapeMin);
}