@charset "UTF-8";

.Smartphone {
	width: var(--Smartphone-W);
	min-width: 280px;
	height: var(--Smartphone-H);
}

.Smartphone,
.Smartphone-H {
	max-height: 640px;
}

.Smartphone-HMin {
	min-height: var(--Smartphone-H);
}