@charset "UTF-8";

.W-100 {width: 100%;}
.W-90 {width: 90%;}
.W-80 {width: 80%;}

@media screen and (max-width:@metrika-80) {
	.W-100_m80 {width: 100%;}
}
@media screen and (max-width:@w-menu-2) {
	.W-100_mbl {width: 100%;}
}
//
.aura {margin-left: auto;margin-right: auto;}
////

@media (min-width: @w-menu-2-plus) and (max-width: @w-max) {

	.W-50 {
		width: 50%;
	}
	
	.Box,
	.Dev,
	.Wrap,
	// .Box-edge,
	.Article,
	//
	.Pente,
	.Pente-4,
	.Pente-3,
	.Pente-2,
	.Pente-1,
	.Pente-paint,
	.Pente-cross,
	.Pente-separator,
	//
	.Blog,
	.Paper,
	.Rail,
	// .I-edge,
	.I {
		width: 100%;
	}


}

//


// .ASIDE.skimp-size,
// .Aside.skimp-size {
// 	--x-Aside: calc(var(--Aside) - var(--Pente-paint)*2 - var(--Pente-cross));
// }

@media (min-width: @w-menu-2-plus) and (max-width: @w-max) {

	body.shema-aside #oi {
		max-width: calc(100% - var(--Aside));
	}

	body.asideClose #oi {
		max-width: calc(100% - var(--KIRA));
	}

}
 
.ASIDE,
.Aside_2,
.Aside {
	min-width: var(--Aside);
}

.Aside_2 {
	min-width: var(--Aside-2);
}


#body,
.On .ARIK.-On,
.KIRA {
	--ARIK:calc(var(--bar)*1.5);
	--KIRA:calc(var(--bar)*1.5);
}


// ARIK - для бооков SMS
.ARIK {
	--ARIK:1rem;
	--KIRA:1rem;
}


.ARIK.-M {
	--ARIK:2rem;
	--KIRA:2rem;
}

.ARIK.-L {
	--ARIK:3rem;
	--KIRA:3rem;
}
.ARIK.-XL {
	--ARIK:4rem;
	--KIRA:4rem;
}


.KIRA {
	min-width: var(--KIRA);
	// background-color: red;
	// height: 2rem;
}

.ARIK {
	min-width: var(--ARIK);
}



// .KIRA.-M {
// 	min-width: 3rem;
// }


 


// .on > .KIRA.-on,
// .KIRA.-sms,
// .KIRA.-aside {
// 	min-width: var(--KIRA);
// }




.-KIRA.off {
	.KIRA {
		min-width: 1rem;
	}
}






#body.x-aside.asideClose {

	.oiBar {
		padding: calc(var(--Aside-space)*2) var(--Aside-space) 0 calc(var(--Aside-space)*1.5);
	}

	.KIRA.-aside {
		--KIRA:1rem;
		// min-width: 1rem;
	}
	
	.Aside {
		padding: 0px;
	}
}

#body.x-aside2 {
	.aside2-space-left {
		padding-left: var(--Aside-2);
	}
}

#body.x-aside2.aside2Close {
	.aside2-space-left {
		padding-left: calc(var(--bar)*2);
	}

	.Aside_2 {
		min-width: calc(var(--bar)*2);
	}
}

//



.Box {
	max-width:var(--Box);
}

.Dev {
	max-width:var(--Dev);
}

.Wrap {
	max-width:var(--Wrap);
}

// .I-edge {
// 	max-width: calc((var(--w) - var(--I))*.5);
// }

.Article {
    max-width: var(--Article);
}

// .Reg.Max {
// 	width: var(--Reg);
// }

.Pente {
    max-width: var(--Pente);
}

// .Pente-edge {
//     max-width: calc(var(--Pente) + var(--Pente-paint)*2);
// }


.Rail {
	--x-Rail:var(--Rail);
    max-width: clamp(300px, var(--Rail), calc(17 * var(--index)))
}

 

.Bar.-w {
	width: var(--Bar-w);
}

// .AsideMin {
// 	max-width: var(--AsideMin);
// }

@media (min-width: @w-menu-2-plus) and (max-width: @w-max) {

    // .Box .aura {
    //     max-width:~"calc(100% - var(--edge)*2.5)";
    // }

	.I {
		max-width: var(--I);
	}

	.Blog {
		max-width: var(--Blog);
	}
	.Blog.-minW {
		min-width: var(--Blog);
	}

	.Paper {
		max-width: var(--Paper);
	}

	.Pente-paint {
		max-width: var(--Pente-paint);
	}
	
	.Pente-cross {
		max-width: var(--Pente-cross);
	}
	
	.Pente-separator {
		max-width: calc(var(--Pente-cross) + var(--Pente-paint));
	}
	
	.Pente-1 {
		--x-Pente-w: calc(var(--Pente-1) + var(--Pente-paint)*2);
		max-width: var(--x-Pente-w);
	}
	
	.Pente-1_plus {
		--x-Pente-w: calc(var(--Pente-1) + var(--Pente-paint)*2 + var(--Pente-cross));
		max-width: var(--x-Pente-w);
	}
	
	.Pente-2 {
		--x-Pente-w: calc(var(--Pente-1)*2 + var(--Pente-paint)*2*2 + var(--Pente-cross));
		max-width: var(--x-Pente-w);
	}
	
	.Pente-3 {
		--x-Pente-w: calc(var(--Pente-1)*3 + var(--Pente-paint)*2*3 + var(--Pente-cross)*2);
		max-width: var(--x-Pente-w);
	}
	
	.Pente-4 {
		--x-Pente-w: calc(var(--Pente-1)*4 + var(--Pente-paint)*2*4 + var(--Pente-cross)*3);
		max-width: var(--x-Pente-w);
	}

}

@media (min-width: @w-menu-2-plus) and (max-width:@metrika-100) {
	.Dev.Edge {
		max-width: 100%;
	}
}


@media (min-width: @w-menu-2-plus) and (max-width:@metrika-80) {
	.I.-m80 {
		max-width: 100%;
	}
}


@media (min-width: @w-beyond-plus) and (max-width:@w-max) {

    // .Reg {
    //     display: flex;
    //     ._M {
    //         width: 640px;
    //     }
    //     ._S {
    //         width: 320px;
    //     }
    // }

}
