@charset "UTF-8";

@media (min-width: @w-menu-2-plus) and (max-width: @w-max) {


	.Medium.-M {
		> * {
			max-width: var(--Medium-M);
		}
	}

	.Medium.-S {
		> * {
			max-width: var(--Medium-S);
		}
	}


	.Medium {
		--x-Medium-padding: 2rem;
		--x-Medium-margin: 2rem;

		//
		width: 100%;
		> .inline {
			display: block;
		}
		> * {
			max-width: var(--Medium);
			margin-left: auto;
			margin-right: auto;
		}
	}

	.Medium.text {

	
		> * {
			max-width: calc(var(--Medium) + 5rem);
			padding-left: calc(var(--x-Medium-padding)*2);
			padding-right: var(--x-Medium-padding);
		}


		> .Citation {
			max-width: calc(var(--Medium) + 5rem - var(--x-Medium-padding)*3);
		}

		> table,
		> .Citation,
		> ._100 {
			padding-right: 0;
		}
		
		> table,
		> ._100 {
			padding-left: 0;
		}

		> ._100 {
			max-width: 100%;
		}

		> ._edge {
			margin-left: var(--edge);
		}



		> ul.x-padding-left-plus {
			padding-left: calc(var(--x-Medium-padding)*2 + var(--ulol-padding-left));
		}

		> .Details {
			padding-left: 1rem;
			padding-right: 4px;
		}


		> table,
		._100 table {
			tr > :first-child {
				padding-left: 2rem;
			}
		}

		// > ._header {
		// 	--x-Medium-padding:0;

		// 	//
		// 	margin-left: calc(var(--x-Medium-margin)*2);;
		// 	margin-right: var(--x-Medium-margin);
		// }
	}

}

// @media (min-width: @w-menu-2-plus) and (max-width: @metrika-80) {
// 	.-m80 {
// 		.Medium.text {
// 			> * {
// 				padding-left: 0;
// 				padding-right: 0;
// 			}
// 		}
// 	}
// }