@charset "UTF-8";




// .Aside_2 ._item,
.oiBar ._menu {
    ._open ._item a {
		padding: 7px 0 7px calc(var(--Chunk-corrector) * -1);
	}
}
.x-07081718 ._item  {

    padding-left: 7px;

}


// @media (min-width: @w-beyond-plus) and (max-width: @w-max) {
// 	#menuMain .Mid_Bey.x-menuMain > .Abs {
// 		left: calc(var(--Logo) + var(--Header-rem));
// 	}
// }

// @media (min-width: @w-menu-2-plus) and (max-width: @w-beyond) {
// 	#menuMain .Mid_Bey.x-menuMain > .Abs {
// 		left: 0;
// 	}

// 	.FixMenu.-pad .Hamburger {
// 		--x-Hamburger-shift:7px;
// 		--x-Hamburger-height:2px;
// 	}

// }


// @media (min-width:@w-beyond-plus) and (max-width: @w-max) {

// 	#menuMain .Mid_Bey.x-menuMain > .Abs {
// 		top: 0;
// 	}
// }


// @media (min-width:@w-menu-2-plus) and (max-width: @w-beyond) {

// 	#menuMain .Mid_Bey.x-menuMain > .Abs {
// 		padding-top: var(--h-Header);
		
// 		height: calc(var(--h) + 2rem)
// 	}
// }

// //
// @media screen and (max-width: @w-beyond) {
// 	.menu.-main .x-1 {display: block;}
// }