<?php

namespace App\Models;

use Illuminate\Database\Eloquent\Factories\HasFactory;
// use Illuminate\Database\Eloquent\Model;
use Illuminate\Database\Eloquent\SoftDeletes;
use App\Models\Traits\Filterable;
//

class Item extends BaseContent
{
    use HasFactory;
	use SoftDeletes;
	use Filterable;

    protected $table = 'items';
    protected $guarded = false;


    public function childrenItems()
    {
        return $this->hasMany(Item::class)->with('items')->orderBy('order', 'asc');
    }

    protected function getLegoPivotTable(){
        return 'item_lego';
    }

    // protected function getItemPivotTable(){
    //     return 'item_items';
    // }

    public function items()
    {
        return $this->belongsToMany(
            Item::class,
            'item_items',
            $this->getForeignKey(),
            'items_id'
        );
    }

    protected function getFaqPivotTable(){
        return 'item_faqs';
    }
    protected function getTagPivotTable(){
        return 'item_tags';
    }
    protected function getCategoryPivotTable(){
        return 'item_categories';
    }

    // public function getRouteKeyName(): string
    // {
    //     return 'slug';
    // }

}
