@charset "UTF-8";

.Details {
	--c-summary: #11142d;
	--c-summary-active: @c-50;
	--c-summary-border: rgba(17, 20, 45, .05);
	--bg-details: #f0f7f9; //#f2fafc;
	--bg-summary: #f5f5f5;
	--bg-summary-open: #f5f5f5;
	--bg-summary-before: var(--c-brand); //#8ccc98;
	--bg-summary-before-open: #333;
}