@charset "UTF-8";

.menu {
	--c-menu:#292c33;
	--c-menu-2: #a2a3a3;
	--bg-FixMenu:#fff;
}

.menu.-tag {
	--c-menu-active: var(--c-brand);
	--c-menu-border-active:@c-border;
}

.menu.-tag.Kite {
	--c-menu-active: inherit;
	--c-menu-border: transparent;
	--bg-menu: transparent;
	--bg-menu-hover: transparent;
	// --bg-menu-active: transparent;
	// //
	--bg-menu-kite: #eaedf1;
	--bg-menu-kite-active: #fff;
}
