@charset "UTF-8";

@media (min-width:@w-menu-2-plus) and (max-width:@w-beyond) {
	.menuBeyond {

		position: fixed !important;
		top: 0;
		// bottom: 45px;
		right: 200%;
		left: auto;

	}
}


@media screen and (max-width:@w-menu-2) {

	.menuOpen {

		position: fixed;
		top: 0;
		bottom: 45px;
		right: 200%;
		left: auto;
		
		> ._nav {
			width: 100%;
			.Abs {
				position: relative !important;
			}
		}

		.active {pointer-events: none;}
	}
}