@charset "UTF-8";



@media (min-width:@w-menu-2-plus) and (max-width:@w-max) {
    .menu.-aside {
        --fontMenu: 18px;
		
		ul {
			--ulol-font:16.4px;
		}
		
        > li {
            margin-bottom: 1rem;

            ul {
                padding-top: .5rem;
                padding-bottom: 1rem;

				li {
					margin-bottom: .25rem;
				}
            }
        }
    }
}



@media (min-width:@w-menu-2-plus) and (max-width:@w-beyond) {
	.menuBeyond {

		position: fixed !important;
		top: 0;
		// bottom: 45px;
		right: 200%;
		left: auto;

	}
}


@media screen and (max-width:@w-menu-2) {

	.menuOpen {

		position: fixed;
		top: 0;
		bottom: 45px;
		right: 200%;
		left: auto;
		
		> ._nav {
			width: 100%;
			.Abs {
				position: relative !important;
			}
		}

		.active {pointer-events: none;}
	}
}