@charset "UTF-8";

.menu.-aside {
	--fontMenu: 18px;
	
	ul {
		--ulol-font:16.4px;
	}
	
	> li {

		ul {
 
			padding-bottom: .5rem;

			li {
				margin-bottom: 1rem;

				li {
					margin-top: .75rem;
				}
			}
		}

		>  ul {
			padding-bottom: 1.5rem;
		}
	}
}

@media (min-width:@w-menu-2-plus) and (max-width:@w-max) {
	.menu.-aside {
		> li {
	
			> ul {
				padding-top: .5rem;

				ul {
					padding-top: 1rem;
				}
			}
		}
		> li {
			margin-bottom: 1.25rem;
		}
	}
}


@media (min-width:@w-menu-2-plus) and (max-width:@w-beyond) {
	.menuBeyond {

		position: fixed !important;
		top: 0;
		// bottom: 45px;
		right: 200%;
		left: auto;

	}
}


@media screen and (max-width:@w-menu-2) {

	.menu.-aside {
		> li {
	
			> ul {
				padding-top: 1.5rem;
				ul {
					padding-top: 1rem;
				}
			}
		}
		> li {
			margin-bottom: 1.75rem;
		}
	}



	.menuOpen {

		position: fixed;
		top: 0;
		bottom: 45px;
		right: 200%;
		left: auto;
		
		> ._nav {
			width: 100%;
			.Abs {
				position: relative !important;
			}
		}

		.active {pointer-events: none;}
	}
}


.menu.-aside {
	ul {
		--ulol-line:calc(var(--ulol-font)*1.2);
	}
}