@charset "UTF-8";

@media screen and (max-width:@w-menu-2) {
	.FixMenu.-mbl {
		--x-FixMenu-h:@h-menuFix; // 62px
		position: sticky;
		bottom: -6px;
		// top: 1800px;
		top: 500px;
		padding-bottom: 6px;
		._ico {
			height: var(--x-FixMenu-h);
			width: 60px;
			a, span {
				font-size: var(--font-min);
				line-height: var(--font-min);
			}
		}
		.menu.-fix {
			margin:0 auto;
			max-width: @w-mobile;		
			padding: 0 .5rem;
		}
	}
}