@charset "UTF-8";

// .-Btn {
//     display: table;
// }

// button,
// label,
.Btn {
    cursor: pointer;
}


.Btn.-jump:active {
	transform: translateY(2px);
}


// .Btn.-i,
// button.Btn,
// .Btn a,
// label.Btn,
.-Btn,
.Btn {
    // background-color: #ccc;
    border:1px solid var(--c-btn-border);
}




@media screen and (max-width:@w-menu-2) {

	.Btn.-auto.Edge {
		.key-blik {
			padding-left: .8rem;
			padding-right: .8rem;
		}
	}

}


