@charset "UTF-8";

.Hamburger {
	display: flex;
	min-height: var(--x-Hamburger-width);
    ._inner {
        min-width: var(--x-Hamburger-width);
    }
}


.FixMenu .Hamburger {
  --x-Hamburger-shift: 8px;
  --x-Hamburger-height: 3px;
  --x-Hamburger-radius: 4px;
  --x-Hamburger-width: 35px;
  --x-Hamburger-bg: #333;
}


@media (min-width: @w-menu-2-plus) and (max-width: @w-beyond) {
  .Fix.Beyond .Hamburger {
    // --x-Hamburger-shift: 8px;
    // --x-Hamburger-height: 3px;
    // --x-Hamburger-radius: 4px;
    --x-Hamburger-width: 26px;
    // --x-Hamburger-bg: #333;
  }
}