@charset "UTF-8";


@media (min-width:@w-menu-2-plus) and (max-width: @w-max) {

	.bg {
		background-color: var(--bg-2);
	}
	.bg-2 {
		background-color: var(--bg);
	}


}

@media (min-width:@metrika-90-plus) and (max-width: @w-max) {
}


@media (min-width: @w-menu-2-plus) and (max-width: @metrika-80) {
	
}




@media (min-width:@metrika-80-plus) and (max-width: @w-max) {
}



@media (min-width: @w-beyond-plus) and (max-width:  @w-max) {
	
}

@media (min-width: @w-beyond-plus) and (max-width: @metrika-90) {

}

@media (min-width: @w-menu-2-plus) and (max-width: @w-beyond) {
	.menuBeyond .x-aside {
		background-color: #fff;
	}
}


@media screen and (max-width: @w-menu-2) {


}



//


#body {background-color: var(--bg);}



#Veil,
#inputMenuMain:checked ~ .menuOpen .Hook {
	background-color: var(--bg-opacity-lighter);
}

// #Veil:hover {
// 	background-color: rgba(50, 50, 50, 0.1);
// }