@charset "UTF-8";

@import "./font/_ol.less";
@import "./font/x-h.less";
@import "./font/Index.less";
 


@media (min-width: @w-menu-2-plus) and (max-width: @w-max) {
	summary.-M {
		font-size: var(--rem-h);
		line-height: calc(var(--rem-h) * 1.4);
	}
}

@media screen and (max-width: @w-menu-2) {
	summary.-M {
		font-size: calc(var(--rem-h) + 1vw);
		line-height: calc((var(--rem-h) + 1vw) * var(--line-spacing));
	}
}


//
@media (min-width: @metrika-70-plus) and (max-width:@w-max) {
	blockquote p {
		font-size: 1.5vw;
		line-height: calc(1.5vw * 1.4);
	}
	blockquote.-lineHeight p {
		line-height: calc(1.5vw * var(--line-spacing));
	}
}

@media screen and (max-width:@metrika-70) {
	blockquote p {
		font-size: var(--rem-h);
		line-height: calc(var(--rem-h) * 1.8);
	}
	blockquote.-lineHeight p {
		line-height: calc(var(--rem-h) * var(--line-spacing));
	}
}

@media screen and (max-width:@w-menu-2) {
	blockquote p {
		text-align: center;
	}
}


//

@media (min-width: @metrika-100-plus) and (max-width: @w-max) {
	.text-m {
		--rem-p: 18px;
	}
}
@media (min-width: @metrika-70-plus) and (max-width:@metrika-100) {
	.text-m {
		--rem-p: 17px;
	}
}

.text,
summary {
	font-size: var(--rem-p);
}

.p {
	line-height: var(--rem-p);
}

.p.wide {
	line-height: calc(var(--rem-p) + 8px);
}

.p.-text,
.text {
	line-height: calc(var(--rem-p)*1.6);
}

.text-s {
	--rem-p:calc(var(--font) + 1px);
}


summary {
	line-height:~"calc(var(--rem-p)*var(--line-spacing))";
	* {font-style: normal;}
}


.Form dl label,
p {
	line-height: inherit;
	font-size: inherit;
}

.content-xxxs,
.content-xxs,
.content-xs {
	line-height: calc(var(--font-min) + 1px);
	// background-color: red;
}

.content-xxs.wide,
.content-xs.wide {
	line-height: calc(var(--font-min) + 6px) !important;
}


// .Bread *,
.Btn,
.author,
.content,
legend,
.Details.-summaryS > details > summary,
table tr th,
table tr td,
figcaption,
.Form label,
.Paginate *,
dl dt, dl dd,
input, textarea {
    font-size: var(--font);
}

dl.-M {
	--font: var(--rem-p);
}


summary.-XS,
.content-s {
    font-size: calc(var(--font) - 1px);
    line-height: var(--font);
}


select,
select option.default,
.content-xs {
    font-size: calc(var(--font-min)) !important;
}

.content-xxs {
	font-size: calc(var(--font-min) - 1px) !important;
}

.content-xxxs {
	font-size: calc(var(--font-min) - 2px) !important;
}

summary.-S,
.content-m {
	font-size: calc(var(--font) + 1px);
}

.content-m {
    line-height: ~"calc(var(--rem-p) * 1.5)";
}


.content-l {
	font-size: calc(var(--font) + 2px);
    line-height: ~"calc(var(--rem-p) * 1.5)";
}

select {
	font-size: var(--font);
	line-height: calc(var(--font)*1.6);
}

option {
	font-size: inherit;
	line-height: inherit;
}


.content.-vw {
	font-size: clamp(var(--font-min),calc(var(--indexW)*1),var(--font));
	line-height: clamp(calc(var(--font-min) + 4px),calc(var(--indexW)*1.4),calc(var(--font)*1.4));
	// font-size: clamp(calc(var(--font-min)),calc(var(--indexW)*1.8),var(--font));
	// line-height: clamp(calc(var(--font-min)*1.4),calc(var(--indexW)*1.8*1.4),calc(var(--font)*1.4));
}


.content.-vw.wide {
	font-size: clamp(var(--font-min),calc(var(--indexW)*1),var(--font));
	line-height: clamp(calc(var(--font-min) + 6px),calc(var(--indexW)*1.8),calc(var(--font)*1.8));
	// font-size: clamp(calc(var(--font-min)),calc(var(--indexW)*1.8),var(--font));
	// line-height: clamp(calc(var(--font-min)*1.4),calc(var(--indexW)*1.8*1.4),calc(var(--font)*1.4));
}



.content-xs,
.content-s,
.content,
.author,
.Details.-summaryS > details > summary,
summary.-S,
input, textarea {
    line-height: ~"calc(var(--font) * 1.4)";
}


.content.wide {
 	line-height: ~"calc(var(--font) * 1.8)";
}

// .Citation.slim .content,
legend,
// .Bread *,
.content-s.slim {
 	line-height: ~"calc(var(--font) * var(--line-spacing))";
 }


.content.-lineHeight,
.content-s.-lineHeight,
.content-xs.-lineHeight {
    line-height: calc(var(--font));
}


.content-m.-lineHeight {
    line-height: calc(var(--font) + 1px + 5px);
}

.content-m.wide {
	line-height:calc(var(--rem-p) * 1.75);
}
.content-m.widest {
	line-height:calc(var(--rem-p) * 2);
}

.content-l.-lineHeight {
    line-height: calc(var(--font) + 2px + 5px);
}

figcaption,
.Form label,
table tr th,
table tr td {
    line-height: ~"calc(var(--font) * var(--line-spacing))";	
}


dl dt, dl dd {
    line-height: ~"calc(var(--font)*1.6)";
}

dt.-lineHeight,
dd.-lineHeight,
dl.-lineHeight dt, dl.-lineHeight dd {
    line-height: calc(var(--font)*1.15);
}

.content-min {
	font-size: var(--font-min);
	line-height: calc(var(--font-min) + 1px);
}