@charset "UTF-8";

@import "./font/_ol.less";



h1, .h1 {
    font-size: var(--rem-h1);
    line-height: ~"calc(var(--rem-h1) * 1.1)";
}

h2, .h2, h3 {
    font-size: var(--rem-h2);
    line-height: calc(var(--rem-h2) * var(--line-spacing));
}

h2.wide,
.h2.wide,
h3.wide {
    line-height: calc(var(--rem-h2) * 1.6);
}

h2.widest,
.h2.widest,
h3.widest {
    line-height: calc(var(--rem-h2) * 2);
}


.h3 {
    font-size: var(--rem-h3);
    line-height: ~"calc(var(--rem-h3) * var(--line-spacing))";
}


 

@media (min-width: @w-menu-2-plus) and (max-width: @w-max) {
	summary.-M {
		font-size: var(--rem-h);
		line-height: calc(var(--rem-h) * 1.4);
	}
}

@media screen and (max-width: @w-menu-2) {
	summary.-M {
		font-size: calc(var(--rem-h) + 1vw);
		line-height: calc((var(--rem-h) + 1vw) * var(--line-spacing));
	}
}


//

@media (min-width: @metrika-70-plus) and (max-width:@w-max) {
	blockquote p {
		font-size: 1.5vw;
		line-height: calc(1.5vw * 1.4);
	}
	blockquote.-lineHeight p {
		line-height: calc(1.5vw * var(--line-spacing));
	}
}

@media screen and (max-width:@metrika-70) {
	blockquote p {
		font-size: var(--rem-h);
		line-height: calc(var(--rem-h) * 1.8);
	}
	blockquote.-lineHeight p {
		line-height: calc(var(--rem-h) * var(--line-spacing));
	}
}

@media screen and (max-width:@w-menu-2) {
	blockquote p {
		text-align: center;
	}
}


//
.h {
	font-size: var(--rem-h);
	line-height: calc(var(--rem-h) * 1.4);
}

.h.wide {
	line-height: calc(var(--rem-h) * 1.8);
}

h1.-vw, .h1.-vw {
	font-size: clamp(calc(var(--rem-h2) + 2px),var(--rem-h1),calc(var(--indexW)*var(--rem-h1-ratio)));
	line-height: clamp(calc(var(--rem-h2)*1.4 + 2px),calc(var(--rem-h1)*1.4),calc(var(--indexW)*var(--rem-h1-ratio)*1.4));
}

h1.-lineHeight, .h1.-lineHeight, h1.-vw.-lineHeight, .h1.-vw.-lineHeight {
    line-height: clamp(calc(var(--rem-h2)*1.1 + 2px),calc(var(--rem-h1)*1.1),calc(var(--indexW)*var(--rem-h1-ratio)*1.1));
}

h2.-vw, .h2.-vw {
	font-size: clamp(calc(var(--rem-h2) - .5rem),var(--rem-h2),calc(var(--indexW)*2));
	line-height: clamp(calc(var(--rem-h2)*1.4 + 2px - .5rem),calc(var(--rem-h2)*1.4),calc(var(--indexW)*2*1.4));
}

@media screen and (max-width: @w-menu-2) {
	h2.-vw_mbl, .h2.-vw_mbl {
		font-size: clamp(calc(var(--rem-h2) - .5rem),var(--rem-h2),calc(var(--indexW)*2));
		line-height: clamp(calc(var(--rem-h2)*1.4 + 2px - .5rem),calc(var(--rem-h2)*1.4),calc(var(--indexW)*2*1.4));
	}
	
}

// h2.-lineHeight, .h2.-lineHeight, h3.-lineHeight {
//     line-height: ~"calc(var(--rem-h2) * 1.1)";
// }
h2.-lineHeight, .h2.-lineHeight, h2.-vw.-lineHeight, .h2.-vw.-lineHeight {
    line-height: clamp(calc(var(--rem-h)*1.1 + 2px),calc(var(--rem-h2)*1.1),calc(var(--indexW)*var(--rem-h1-ratio)*1.1));
}

.h.-vw {
	font-size: clamp(calc(var(--font) + 2px),calc(var(--indexW)*1.8),var(--rem-h));
	line-height: clamp(calc(var(--font)*1.4 + 2px),calc(var(--indexW)*1.8*1.4),calc(var(--rem-h)*1.4));
}

.h.-lineHeight {
    line-height: ~"calc(var(--rem-h) * var(--line-spacing))";
}

.hMin {
	font-size: var(--rem-h-min);
	line-height: ~"calc(var(--rem-h-min) * 1.4)";
}


.hMin.wide {
	line-height: calc(var(--rem-h-min) * 1.8);
}

.hMin.-lineHeight {
    line-height: ~"calc(var(--rem-h-min) * var(--line-spacing))";
}


h4,.h4,h5,h6 {
    font-size: var(--rem-h);
    line-height: ~"calc(var(--rem-h) * 1.4)";
}

 


//
@media (min-width: @metrika-100-plus) and (max-width: @w-max) {
	.text-m {
		--rem-p: 18px;
	}
}
@media (min-width: @metrika-70-plus) and (max-width:@metrika-100) {
	.text-m {
		--rem-p: 17px;
	}
}

.text,
summary {
	font-size: var(--rem-p);
}

.p {
	line-height: var(--rem-p);
}

.p.wide {
	line-height: calc(var(--rem-p) + 8px);
}

.p.-text,
.text {
	line-height: calc(var(--rem-p)*1.6);
}

.text-s {
	--rem-p:calc(var(--font) + 1px);
}


summary {
	line-height:~"calc(var(--rem-p)*var(--line-spacing))";
	* {font-style: normal;}
}


.Form dl label,
p {
	line-height: inherit;
	font-size: inherit;
}

.content-xxxs,
.content-xxs,
.content-xs {
	line-height: calc(var(--font-min) + 1px);
	// background-color: red;
}

.content-xxs.wide,
.content-xs.wide {
	line-height: calc(var(--font-min) + 6px) !important;
}


.Bread *,
.Btn,
.author,
.content,
legend,
.Details.-summaryS > details > summary,
table tr th,
table tr td,
figcaption,
.Form label,
.Paginate *,
dl dt, dl dd,
input, textarea {
    font-size: var(--font);
}

dl.-M {
	--font: var(--rem-p);
}


summary.-XS,
.content-s {
    font-size: calc(var(--font) - 1px);
    line-height: var(--font);
}


select,
select option.default,
.content-xs {
    font-size: calc(var(--font-min)) !important;
}

.content-xxs {
	font-size: calc(var(--font-min) - 1px) !important;
}

.content-xxxs {
	font-size: calc(var(--font-min) - 2px) !important;
}

summary.-S,
.content-m {
	font-size: calc(var(--font) + 1px);
}

.content-m {
    line-height: ~"calc(var(--rem-p) * 1.5)";
}


.content-l {
	font-size: calc(var(--font) + 2px);
    line-height: ~"calc(var(--rem-p) * 1.5)";
}

select {
	font-size: var(--font);
	line-height: calc(var(--font)*1.6);
}

option {
	font-size: inherit;
	line-height: inherit;
}


.content.-vw {
	font-size: clamp(var(--font-min),calc(var(--indexW)*1),var(--font));
	line-height: clamp(calc(var(--font-min) + 4px),calc(var(--indexW)*1.4),calc(var(--font)*1.4));
	// font-size: clamp(calc(var(--font-min)),calc(var(--indexW)*1.8),var(--font));
	// line-height: clamp(calc(var(--font-min)*1.4),calc(var(--indexW)*1.8*1.4),calc(var(--font)*1.4));
}


.content.-vw.wide {
	font-size: clamp(var(--font-min),calc(var(--indexW)*1),var(--font));
	line-height: clamp(calc(var(--font-min) + 6px),calc(var(--indexW)*1.8),calc(var(--font)*1.8));
	// font-size: clamp(calc(var(--font-min)),calc(var(--indexW)*1.8),var(--font));
	// line-height: clamp(calc(var(--font-min)*1.4),calc(var(--indexW)*1.8*1.4),calc(var(--font)*1.4));
}



.content-xs,
.content-s,
.content,
.author,
.Details.-summaryS > details > summary,
summary.-S,
input, textarea {
    line-height: ~"calc(var(--font) * 1.4)";
}


.content.wide {
 	line-height: ~"calc(var(--font) * 1.8)";
}

// .Citation.slim .content,
legend,
.Bread *,
.content-s.slim {
 	line-height: ~"calc(var(--font) * var(--line-spacing))";
 }


.content.-lineHeight,
.content-s.-lineHeight,
.content-xs.-lineHeight {
    line-height: calc(var(--font));
}


.content-m.-lineHeight {
    line-height: calc(var(--font) + 1px + 5px);
}

.content-m.wide {
	line-height:calc(var(--rem-p) * 1.75);
}
.content-m.widest {
	line-height:calc(var(--rem-p) * 2);
}

.content-l.-lineHeight {
    line-height: calc(var(--font) + 2px + 5px);
}

figcaption,
.Form label,
table tr th,
table tr td {
    line-height: ~"calc(var(--font) * var(--line-spacing))";	
}


dl dt, dl dd {
    line-height: ~"calc(var(--font)*1.6)";
}

dt.-lineHeight,
dd.-lineHeight,
dl.-lineHeight dt, dl.-lineHeight dd {
    line-height: calc(var(--font)*1.15);
}

.content-min {
	font-size: var(--font-min);
	line-height: calc(var(--font-min) + 1px);
}