@charset "UTF-8";

@media (min-width: @w-menu-2-plus) and (max-width:@w-max) {

	.Font {
		--Font-h1:4vw;
		--Font-h1-max:68px;

		//
		--Font-h2-max: 28px;
		--Font-h2:3vw;
	
		//
		--Font-min:28px;
		--Font-min-lineHeight:calc(var(--Font-min) + 4px);

	}

	.Font.-XS {
		--Font-h1:2.5vw;
		--Font-h1-max: calc(48px - 1rem);
		--Font-min: calc(var(--rem-h) + 8px);
	}

	.Font.-S {
		--Font-h1:3vw;
		--Font-h1-max: 40px;
	}

	.Font.-M {
		--Font-h1:4.5vw;
		--Font-h1-max: 92px;

 	}

	.Font.-L {
		--Font-h1:5vw;
		--Font-h1-max: 120px;
	}

	.Font.-XL {
		--Font-h1:6vw;
		--Font-h1-max: 120px;
	}

	.Font {
		._p {
			--Font-p: calc(var(--rem-p) + var(--Font-ratio-p));
			--Font-p-max: 2vw;
			--Font-p-min: var(--font);
		}
		._p.-vw {
			--rem-p: 1vw;
		}
		._p.-M {
			--Font-ratio-p:2px;
			--Font-p-min:calc(var(--font) + 2px);
		}
	}

}

@media screen and (max-width: @w-menu-2) {
	.Font {
		--Font-h1-max:var(--rem-h1);
		--Font-h1:7vw;

		//
		--Font-h2-max: var(--rem-h2);
		--Font-h2: 3vw;
	
		//
		--Font-min:calc(var(--rem-h) + .5rem);
		--Font-min-lineHeight:calc(var(--Font-min) + 4px);

		//
		--Font-p: var(--rem-p);
		--Font-p-max: var(--rem-h2);
		--Font-p-min: var(--font);
	}

	.Font.-XS {
		--Font-h1-max:calc(var(--rem-h1) - 1rem);
	}


}

//

.Font {
	--Font-ratio-p:0px;
	--Font-ratio-h:0px;
	--Font-lineHeight: 8px;


	.-lineHeight {
		--Font-lineHeight: 4px;
	}

	.wide {
		--Font-lineHeight: 12px;
	}

	//

    ._h {
		--Font-CALC-h1: clamp(var(--Font-min),var(--Font-h1),var(--Font-h1-max));
		--Font-CALC-h1-height: calc(var(--Font-CALC-h1) + var(--Font-lineHeight));

		//
		font-size: var(--Font-h1);
        line-height: calc(var(--Font-h1) + var(--Font-lineHeight));
    }


	._h.-vw {
		font-size: var(--Font-CALC-h1);
		line-height: var(--Font-CALC-h1-height);
	}

	//
    ._h2 {
		--Font-CALC-h2: clamp(var(--Font-min), var(--Font-h2), var(--Font-h2-max));
		--Font-CALC-h2-height: clamp(calc(var(--Font-min) + var(--Font-lineHeight)), calc(var(--Font-h2) + var(--Font-lineHeight)), calc(var(--Font-h2-max) + var(--Font-lineHeight)));

		//
		font-size: var(--Font-h2);
        line-height: calc(var(--Font-h2) + var(--Font-lineHeight));
    }

	._h2.-vw {
		font-size: var(--Font-CALC-h2);
		line-height: var(--Font-CALC-h2-height);
	}

	//
	._p {
		--Font-CALC-p: clamp(var(--Font-p-min),var(--Font-p),var(--Font-p-max));
		--Font-CALC-p-height: calc(var(--Font-CALC-p) + var(--Font-lineHeight));

		//
		font-size: var(--Font-p);
        line-height: calc(var(--Font-p) + var(--Font-lineHeight));
    }

	._p.-vw {
		font-size: var(--Font-CALC-p);
		line-height: var(--Font-CALC-p-height);
	}


}
