@charset "UTF-8";

@media (min-width: @w-menu-2-plus) and (max-width:@w-max) {

	.Font {
		--Font-h1:4vw;
		--Font-h1-max:68px;

		//
		--Font-h2-max: 28px;
		--Font-h2:3vw;
	
		//
		--Font-min:var(--rem-h);
		--Font-min-lineHeight:calc(var(--Font-min) + 4px);

		//
		--Font-p: var(--font);
		--Font-p-max: var(--rem-h2);
		--Font-p-min: var(--font);

	}

	.Font.-XS {
		--Font-h1:2.5vw;
		--Font-h1-max: calc(48px - 1rem);
		--Font-min: calc(var(--rem-h) + 8px);
	}

	.Font.-S {
		--Font-h1:3vw;
		--Font-h1-max: 40px;
	}

	.Font.-M {
		--Font-h1:4.5vw;
		--Font-h1-max: 92px;

		._p.-vw {
			--Font-p-min: calc(var(--rem-p) + 2px);
		}
	}

	.Font.-L {
		--Font-h1:5vw;
		--Font-h1-max: 120px;
	}


}

@media screen and (max-width: @w-menu-2) {
	.Font {
		--Font-h1-max:var(--rem-h1);
		--Font-h1:7vw;

		//
		--Font-h2-max: var(--rem-h2);
		--Font-h2: 3vw;
	
		//
		--Font-min:calc(var(--rem-h) + .5rem);
		--Font-min-lineHeight:calc(var(--Font-min) + 4px);

	}

	.Font.-XS {
		--Font-h1-max:calc(var(--rem-h1) - 1rem);
	}


}

//

.Font {

	--Font-lineHeight: 8px;


	.-lineHeight {
		--Font-lineHeight: 4px;
	}
	//

    ._h {
		--Font-h1-CALC: clamp(
			var(--Font-min),
			var(--Font-h1),
			var(--Font-h1-max)
		);
		--Font-h1-height-CALC: calc(var(--Font-h1-CALC) + var(--Font-lineHeight));


		//
		font-size: var(--Font-h1-max);
        line-height: calc(var(--Font-h1-max) + var(--Font-lineHeight));
    }



	._h.-vw {
		font-size: var(--Font-h1-CALC);
		line-height: var(--Font-h1-height-CALC);
	}

	//
    ._h2 {
		--Font-h2-CALC: clamp(var(--Font-min), var(--Font-h2), var(--Font-h2-max));

		--Font-h2-height-CALC: clamp(calc(var(--Font-min) + var(--Font-lineHeight)), calc(var(--Font-h2) + var(--Font-lineHeight)), calc(var(--Font-h2-max) + var(--Font-lineHeight)));


		//
		font-size: var(--Font-h2-max);
        line-height: calc(var(--Font-h2) + var(--Font-lineHeight));
    }

	._h2.-vw {
		font-size: var(--Font-h2-CALC);
		line-height: var(--Font-h2-height-CALC);
	}



	//

	._p.-vw {
		--Font-p: 1.25vw;
		--Font-p-min: var(--rem-p);

		// font-size: var(--Font-p-CALC);
		// line-height: var(--Font-p-height-CALC);
	}

	 ._p {
		--Font-p-CALC: clamp(var(--Font-p-min),var(--Font-p),var(--Font-p-max));
		--Font-p-height-CALC: calc(var(--Font-p-CALC) + var(--Font-lineHeight));

		//
		font-size: var(--Font-p-CALC);
        line-height: var(--Font-p-height-CALC);
    }
}
