@charset "UTF-8";

@import "./menu/_ol.less";


@media (min-width:@w-menu-2-plus) and (max-width:@w-max) {
	// .menu.-roundPC {
	// 	--x-menu-round: 100px;
	// }

	// .menu.-roundPC {
	
	// 	// > li,
	// 	>li>* {
	// 		border-radius: var(--x-menu-round);
	// 	}
	// }
}


//
.menu {
	--x-menu-margin-li: .3rem;
	--x-menu-padding-li--left: 1.5rem;
	--x-menu-padding-li--top: 10px;
	//
	--x-tile-h: var(--h-plitka);
}


.menu.-XXS.-tile {
	--x-tile-h: ~"calc(var(--h-plitka)*.4 + 5px)";
}

.menu.-XS.-tile {
	--x-tile-h: ~"calc(var(--h-plitka)*.6 + 5px)";
}

.menu.-S {
	--x-menu-padding-li--left: 1rem;
	--x-menu-padding-li--top: 7px;
	--fontMenuTag:var(--font-min);
}

.menu.-XS {
	--x-menu-padding-li--left: .5rem;
	--x-menu-padding-li--top: 5px;
	--fontMenuTag:calc(var(--font-min) - 1px);
}

.menu.-XXS {
	--x-menu-padding-li--left: 2px;
	--x-menu-padding-li--top: 3px;
	--fontMenuTag:calc(var(--font-min) - 1px);
}


.menu.-S.-tile {
	--x-tile-h: ~"calc(var(--h-plitka)*.75 + 5px)";
}

.menu.-M {
	--x-menu-padding-li--left: 1.5rem;
	--x-menu-padding-li--top: 1rem;
	//
	--x-tile-h: ~"calc(var(--h-plitka)*1.25 + 5px)";
}

.menu.-L {
	--x-tile-h: ~"calc(var(--h-plitka)*2 + 5px)";
}

// .menu.slim {
// 	--x-menu-padding-li--top: .6rem;
// }



@media (min-width:@w-menu-2-plus) and (max-width: @w-max) {

	.menu.-tile.-S_PC {
		--x-tile-h: ~"calc(var(--h-plitka)*.75 + 5px)";
	}
}


@media screen and (max-width: @w-menu-2) {

	.menu {
		--x-menu-margin-li: .5rem;
	}
	.menu.-tileMbl {
		--x-menu-margin-li: 1rem;
	}

}


.menu {
	--ulol-line: calc(var(--fontMenu)*1.4);
}
.menu.-tag {
	--ulol-line: ~"calc(var(--fontMenuTag)*1.4)";
}

//
.menu.-block > li > span,
.menu.-block > li > .a,
.menu.-block > li > a{
	max-width:100%;
}

.menu.-block li > .a a,
.menu.-block li > * {
	display: block;
}

 
//
.menu {
	> * {
		font-size: var(--fontMenu);
	}
}
.menu.-tag > * {
	font-size: var(--fontMenuTag);
}

.menu.-main > * {
	font-size: var(--fontMenuMain);
}

@media screen and (max-width: @w-menu-2) {

	.menu.-tag.-tileMbl > * {
		font-size: var(--fontMenu);
	}
}