@charset "UTF-8";


@media (min-width: @w-menu-2-plus) and (max-width:@w-max) {
    


    .Grid.Henge.henge-aab {
        grid-template-areas:"a1 b1";
        grid-template-columns: 2fr 1fr;

        > .x-a1 {
            grid-area: a1;
        }
        > .x-b1 {
            grid-area: b1;
        }
    }
    .Grid.Henge.henge-abb {
        grid-template-areas:"a1 b1";
        grid-template-columns: 1fr 2fr;

        > .x-a1 {
            grid-area: a1;
        }
        > .x-b1 {
            grid-area: b1;
        }
    }



    .Grid.Henge {
        --gap: clamp(1rem, 120px, 7vw);
        --cols: calc(100% - var(--gaps));
        --gaps: calc(3 * var(--gap));
        --size: calc(var(--cols) / 3);
        --space: calc(var(--size) + var(--gap));
    
        grid-gap: var(--gap);
        // grid-template-columns: repeat(3, 1fr);

        grid-template-areas:"a1 b1 c1";
        grid-template-columns: 1fr 1fr 1fr;

        > .text {
            padding-bottom: 180px;
        }
    }

    
 
}
