@charset "UTF-8";

#body.ru .Ru,
#body.en .En,
#body.de .De {display: flex;}



.Ef.x-margin > ._wrap{
    margin-bottom: 4px;
}


@media (min-width:@w-menu-2-plus) and (max-width:@w-max) {

    #x_07041557 {
        .x-08041357 {
            max-width: calc(var(--w)*.5);
        }
    }

    // .x-28081813 {
    //     padding-top: var(--hill);
    // }
}


@media screen and (max-width:@metrika-80) {
    .x-24041606 {
        --Sms:100%;
    }
}

@media screen and (max-width: @w-menu-2) {

    .Ef {
        --hill-l:6rem;
    }

    .Ef.x-equipment > ._wrap{
        margin-bottom: 4px;
    }
    
    // .x-22081807 {
    //     border-bottom: 50px solid transparent;
    // }
    
}

