@charset "UTF-8";

.On > .x-21020758 {
    top: auto;
    height: calc(var(--x-Gardener-h) + 5px);

    // background-color: red;
}

.On > .x-21020758:hover {
    background-color: var(--bg);
    opacity: .5;
}