@charset "UTF-8";

.On > .x-21020758 {
    top: auto;
    height: calc(var(--x-Gardener-h) + 5px + var(--space));

    // background-color: red;
}

.On > .x-21020758:hover {
    background: linear-gradient(to top,var(--bg),transparent);
    border-bottom:1px solid #222;
    // opacity: .5;
}