@charset "UTF-8";

.x-23101446 {
    background-color:#222222;
}

 


.Grid .x-23101446 {

    .cloud {
        --x-cloud:5px;
    }
    
    a.h {
        --rem-h:var(--font);

    }

    .table-wrap {
        padding-top: 0;
        padding-bottom: 0;
    }
    

    .item {
        margin-bottom: 7px;
    }


}
