@charset "UTF-8";


.Message.-error.-bg {
	background-color: var(--bg-opacity);
}


.Bg.-ego {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
}

.Bg.-egoLong {
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
}

// .Bg.-transparentBorder {
// 	border:1rem solid transparent
// }

.Bg.-chunkLeft::before,
.Bg.-fon {
	background-color: var(--bg-2);
}

.Bg.-chunkLeft > *,
.Bg.-chunkLeft {position: relative;}
.Bg.-chunkLeft > *{
	z-index: 5;
}
.Bg.-chunkLeft::before {
	content: '';
	position: absolute;
	z-index: 0;
	left: 0;
	top: 0;
	bottom: 0;
	width: 50%;
}