@charset "UTF-8";


@media (min-width:@w-menu-2-plus) and (max-width:@w-max) {
	.FIX.on>.fix {

		.fix-bg.-bgOut::before {
			background-color: var(--bg-Fix);
		}

		.fix-bg2.-bgOut::before {
			background-color: var(--bg-Fix-2);
		}

		.-bgOut::before {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			height: var(--jolt);
			top: calc(var(--jolt) - var(--jolt)*2);
		}
	}

}

.FIX.on>.fix {
	background: var(--bg-opacity);

	// .fix-bg2 {
	// 	background-color: var(--bg-Fix-2);
	// }
}