@charset "UTF-8";


@media (min-width:@w-menu-2-plus) and (max-width:@w-max) {
    .Bg.-samolet.x-none_beforePC::before {
        display: none;
    }
}


.Bg.-samolet {
    --Bg-shift:0px;
    --Bg-ox:0px;
    --Bg-oy:0px;

    
    overflow: hidden;
    position: relative;    
}

.Bg.-samolet.samolet-hover,
.active > .Bg.-samolet,
.Bg.-samolet.active,
.Bg.-samolet.bg-style {
    background: linear-gradient(270deg,#3395fc,#1c8bff),linear-gradient(253.97deg,#3395fc 5.49%,#007bfb 98.16%);
}

.Bg.-samolet.samolet-hover::before,
.active > .Bg.-samolet::before,
.Bg.-samolet.active::before,
.Bg.-samolet.bg-style::before {
    opacity: 1;
}

.Bg.-samolet::before {
    content: '';

    position: absolute;
    left: var(--Bg-ox);
    top: var(--Bg-oy);
    
    
    opacity: 0;
    background: linear-gradient(287.68deg,#007bfb,#1688ff 35.73%),linear-gradient(270deg,#3395fc,#1c8bff);
    border-radius: 1000px;

    height: calc(100% - 20px);
    width: calc(200% + 20px);



    transform: translateX(var(--Bg-shift)) translateY(var(--Bg-shift));
    // right: -18%;
    // top: -15%;

    transition: all .8s;
    z-index: 0;
}

.active > .Bg.-samolet,
.Bg.-samolet.active,
.Bg.-samolet:hover {
    --Bg-shift: -55%;

    .Grey {
        --x-color-1: #99cafd !important;
    }
}
 