@charset "UTF-8";

@media (min-width:@w-menu-2-plus) and (max-width:@w-max) {

    #Top {
        z-index: 15;
    }
    #Logo {
        z-index: 16;
    }
    #Header {
        z-index: 14;
    }
 

    // #body>#Fon {
    //     z-index: 11;
    // }

    // #body.fix {

    //     >#Fon {
    //         z-index: 1;
    //     }

    // }



}
