@charset "UTF-8";

.Badge.transparent {
    background-color: transparent;
}

.Badge {
    background-color: #eee;
    border-radius: 50px;
    > :first-child {
        border-radius: 50px;
        background-color: #ccc;
    }
}