@charset "UTF-8";


.Hamburger {
   cursor: pointer;
   justify-content: center;
   align-items: center;

   //
   ._inner::after,
   ._inner::before {
      position: absolute;
   }

   //
   ._inner {
      position: relative;
   }

   //
   ._inner,
   ._inner::after,
   ._inner::before {
      height: var(--x-Hamburger-height);
      //
      border-radius: var(--x-Hamburger-radius);
	  background-color: var(--x-Hamburger-bg);;
   }

   ._inner::after,
   ._inner::before {
      position: absolute;
   }

   ._inner::after,
   ._inner::before {
      left: 0;
      right: 0;
      display: block;
      content: "";
   }

   ._inner::before {
      transform: translateY(calc(var(--x-Hamburger-shift) - var(--x-Hamburger-shift)*2));
   }

   ._inner::after {
      transform: translateY(var(--x-Hamburger-shift));
   }

}

//

.Hamburger {
    ._inner,
    ._inner::after,
    ._inner::before {
		  .transition(transform,ease-out);
    }
	 ._inner::after,
    ._inner::before {
		//  z-index: -1;
	 }

}


#inputMenuMain:checked ~ .FixMenu ._ico.-burger ._inner::before,
#inputMenuMain:checked ~ .FixMenu ._ico.-burger ._inner::after {
    transform: translateY(0px);
}

// .Hamburger.-hover:hover ._inner::before,
// .Hamburger.-hover:hover ._inner::after,
// //
// #Aside:checked ~ .-Hamburger .Hamburger ._inner::before,
// #Aside:checked ~ .-Hamburger .Hamburger ._inner::after,
// //
// #inputMenuMain:checked ~ .-Hamburger .Hamburger ._inner::before,
// #inputMenuMain:checked ~ .-Hamburger .Hamburger ._inner::after,
//
#inputMenuMain:checked ~ .FixMenu ._ico.-burger ._inner::before,
#inputMenuMain:checked ~ .FixMenu ._ico.-burger ._inner::after {
    .transition(transform,ease-out);
}



// #Aside:checked ~ .-Hamburger .Hamburger ._inner::before,
// #inputMenuMain:checked ~ .-Hamburger .Hamburger ._inner::before,
// .Hamburger.-hover:hover ._inner::before,
// #inputMenuMain:checked ~ .Oi .oi .FixMenu .ico.-burger ._inner::before {
//     transform: translateY(0px);
// }



/**/