@charset "UTF-8";

#body.cap .Cap.-z2::after,
.Cap.-z2::after {
	opacity: 0;
}


.Cap.-z2::after {
	content: '';
	z-index: -1;
	bottom: 0;
	height: ~"calc(var(--h) * 2)";
	// background-color: var(--bg-opacity);
	background-color: rgba(23, 32, 51, .5);
	// background-color: rgba(50, 50, 50, .5);
	.transition(opacity)
}


body.Z2 .Cap::after {
	opacity: 1;
}