@charset "UTF-8";

table.-ico {

    i {
        display: block;
        // margin: 0 auto;
        width: calc(var(--Ico)*.7);
        height: calc(var(--Ico)*.7);
        background-repeat: no-repeat;
        background-position: center;
        background-color: var(--bg-table-ico);
        border-radius: 50%;
        background-size: 50%;
    }
}
 